{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Everybase{% endblock %}</title>

    {% comment %} Stylesheets {% endcomment %}
    <link href="{% static 'common/superio/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'common/superio/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'common/superio/css/responsive.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'common/superio/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'common/superio/images/favicon.png' %}" type="image/x-icon">

    {% comment %} Responsive {% endcomment %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'common/superio/js/respond.js' %}"></script><![endif]-->
</head>

<body>
    {% comment %} start: Page wrapper {% endcomment %}
    <div class="page-wrapper">

        {% comment %} Preloader {% endcomment %}
        <div class="preloader"></div>

        {% comment %} start: Main header {% endcomment %}
        <header class="main-header">
            <div class="container-fluid">
                {% comment %} Main box {% endcomment %}
                <div class="main-box">
                    {% comment %} Nav Outer {% endcomment %}
                    <div class="nav-outer">
                        <div class="logo-box">
                            <div class="logo"><a href="/"><img src="{% static 'common/img/logo.png' %}" alt="Everybase" title="Everybase"></a></div>
                        </div>
                    </div>

                    <div class="outer-box">
                        {% comment %} Login/Register {% endcomment %}
                        <div class="btn-box">
                            <a href="login-popup.html" class="theme-btn btn-style-three call-modal">Login / Register</a>
                            <a href="dashboard-post-job.html" class="theme-btn btn-style-one"><span class="btn-title">Job Post</span></a>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} Mobile Header {% endcomment %}
            <div class="mobile-header">
                <div class="logo"><a href="index.html"><img src="{% static 'common/superio/images/logo.svg'%}" alt="" title=""></a></div>
            </div>

            {% comment %} Mobile Nav {% endcomment %}
            <div id="nav-mobile"></div>
        </header>
        {% comment %} End: Main Header {% endcomment %}

        {% comment %} Info Section {% endcomment %}
        <div class="login-section">
            <div class="image-layer" style="background-image: url({% static 'common/superio/images/background/12.jpg' %});"></div>
            
            <div class="outer-box">
                <div class="login-form default-form">
                    <div class="form-inner">
                        <h3>Login to Superio</h3>
                        <form method="post" action="add-parcel.html">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="username" placeholder="Username" required>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input id="password-field" type="password" name="password" value="" placeholder="Password">
                            </div>

                            <div class="form-group">
                                <div class="field-outer">
                                <div class="input-group checkboxes square">
                                    <input type="checkbox" name="remember-me" value="" id="remember">
                                    <label for="remember" class="remember"><span class="custom-checkbox"></span> Remember me</label>
                                </div>
                                <a href="#" class="pwd">Forgot password?</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="theme-btn btn-style-one" type="submit" name="log-in">Log In</button>
                            </div>
                        </form>

                        <div class="bottom-box">
                            <div class="text">Don't have an account? <a href="{% url 'signup' %}">Signup</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} End: Info Section {% endcomment %}

    </div>
    {% comment %} End: Page wrapper {% endcomment %}

    <script src="{% static 'common/superio/js/jquery.js' %}"></script>
    <script src="{% static 'common/superio/js/popper.min.js' %}"></script>
    <script src="{% static 'common/superio/js/chosen.min.js' %}"></script>
    <script src="{% static 'common/superio/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'common/superio/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'common/superio/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'common/superio/js/jquery.modal.min.js' %}"></script>
    <script src="{% static 'common/superio/js/mmenu.polyfills.js' %}"></script>
    <script src="{% static 'common/superio/js/mmenu.js' %}"></script>
    <script src="{% static 'common/superio/js/appear.js' %}"></script>
    <script src="{% static 'common/superio/js/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'common/superio/js/rellax.min.js' %}"></script>
    <script src="{% static 'common/superio/js/owl.js' %}"></script>
    <script src="{% static 'common/superio/js/wow.js' %}"></script>
    <script src="{% static 'common/superio/js/script.js' %}"></script>
</body>

</html>