{% extends 'superio/extendables/b.html' %}

{% load static %}

{% block title %}Product Detail{% endblock %}

{% block contents %}

<section class="blog-single">
    <div class="auto-container">
        <div class="upper-box">
        <h3>Wireless earbuds</h3>
            <ul class="post-info">
                <li>Alison Dawn</li>
                <li>August 31, 2021</li>
                <li>12 Comment</li>
            </ul>
        </div>
    </div>

    <div class="auto-container">
        <h4>Seller Introduction</h4>
        <p>Aliquam hendrerit sollicitudin purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis, at malesuada orci congue.</p>

        <h4>Product Details</h4>
        <p>Aliquam hendrerit sollicitudin purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis, at malesuada orci congue.</p>

        <h4>Profits, Commission or Renumeration for Helping to Sell</h4>
        <p>Aliquam hendrerit sollicitudin purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis, at malesuada orci congue.</p>

        <div class="comments-area">
            <div class="comment-form default-form">
                <h4>Login to apply to be an agent</h4>
                <a href="#" class="theme-btn btn-style-one" name="submit-form">Login</a>
            </div>
        </div>

        <div class="comments-area">
            <div class="comment-form default-form">
                <h4>Apply to be an agent</h4>
                <form>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input id="has_experience" type="checkbox" name="has_experience">
                            <label for="has_experience">I have experience with this product or industry</label>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input id="have_buyers" type="checkbox" name="have_buyers">
                            <label for="have_buyers">I have potential buyers</label>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label>This is an optional question from the seller</label>
                            <textarea name="message"></textarea>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label>Comments for the Seller</label>
                            <textarea name="message"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Apply</button>
                        </div>
                    </div>
                </form>
          </div>
          <!--End Comment Form -->
        </div>
</section>
{% endblock %}