{% extends 'extendables/base.html' %}

{% block head_tag %}
<meta name="robots" content="noindex" />
{% endblock %}

{% block title %}
    Referred by {{ products_list.agent.first_name }} {{ products_list.agent.last_name }} - {{ products_list.title }} (List ID: {{ products_list.id }})
{% endblock %}

{% block content_header %}
    <form method="post" action="{% url 'products:enquiry' products_list_id=products_list.id %}" class="kt-form" id="rfi_form">
        {% csrf_token %}
{% endblock %}

{% block subtitle %}
    {{ products_list.title }} (List ID: {{ products_list.id }})
{% endblock %}

{% block content %}
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

{% if products_list %}
    <div class="alert alert-light alert-elevate" role="alert">
        <div class="alert-text">
            Your agent is <strong>{{ products_list.agent.first_name }} {{ products_list.agent.last_name }}</strong> (Agent ID: {{ products_list.agent.id }})
            <br />
            <br />
            Enquires through this page will trigger an email to {{ products_list.agent.first_name }} {{ products_list.agent.last_name }} and Everybase.
            <br />
            <br />
            Direct questions to {{ products_list.agent.first_name }} {{ products_list.agent.last_name }} or <a href="mailto:friend@everybase.co">friend@everybase.co</a>.
        </div>
    </div>
{% endif %}

    <div class="kt-portlet kt-portlet--head-lg kt-portlet--responsive-mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Details
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            The goods displayed on this page are surplus.
            <br />
            <br />
            Surplus chemical goods are:
            <ul>
                <li>Excess inventory</li>
                <li>Production raw materials leftovers</li>
                <li>QC rejected but usable products</li>
                <li>QC rejected but usable raw materials</li>
            </ul>
        </div>
    </div>

    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                    Products <small id="prompter_msg">Select interested products and send enquiry</small>
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary submit_btn" value="top" disabled>
                        <i class="flaticon2-send-1"></i>
                        <span class="kt-hidden-mobile">Send Enquiry</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            {% if form.errors %}
                <div class="alert alert-outline-danger fade show" role="alert">
                    <div class="alert-text">
                        <br />
                        Errors:
                        <ul>
                            {% for field in form %}{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}{% endfor %}
                            {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    </div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            {% endif %}

            <div class="kt-section kt-section--first">
                <div class="row col-lg-6">
                    <div class="form-group col-lg-6">
                        <label>Full Name:</label>
                        <input name="full_name" type="text" class="form-control" placeholder="Enter full name" id="full_name_txt">
                        <span class="form-text text-muted">Please enter your full name</span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Email:</label>
                        <input name="email" type="email" class="form-control" placeholder="Enter email" id="email_txt">
                        <span class="form-text text-muted">Please enter your email</span>
                    </div>
                </div>
            </div>
            <span class="form-text text-muted">Please select at least 1 product</span>
            <div class="kt-datatable" id="products_table"></div>
        </div>
        <div class="kt-portlet__foot">
            <button type="submit" class="btn btn-primary submit_btn" value="bottom" disabled>
                <i class="flaticon2-send-1"></i>
                Send Enquiry
            </button>
        </div>
    </div>
    </form>
</div>
{% endblock %}

{% block content_footer %}
    </form>
{% endblock %}

{% block page_level_scripts %}
    <script type="text/javascript">
        var dataJSONArray = JSON.parse(
            '[' +
                {% if products_list %}
                    {% for product in products_list.products.all %}
                        '{"id": "{{ product.id }}", "short_id": "{{ product.id|truncatechars:5|slice:":4" }}", "description": "{{ product.full_name }}", "quantity": "{{ product.quantity }} {{ product.uom.acronym }}"}' + {% if not forloop.last %} ',' + {% endif %}
                    {% endfor %}
                {% endif %}
            ']');
    </script>
    {% include 'products/js/products.js' %}
{% endblock %}