{% extends 'extendables/base.html' %}

{% block head_tag %}
<meta name="robots" content="noindex" />
{% endblock %}

{% block title %}
    Thank You
{% endblock %}

{% block content %}
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="kt-portlet">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Thank You
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="col-lg-12">
                            We will get back to you on the products you are interested in.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}