{% load static %}

{% comment %} {% if request.user.is_authenticated %} {% endcomment %}
{% comment %} Start: User menu {% endcomment %}
<div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
    {% comment %} Start: Menu wrapper {% endcomment %}
    <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
        {% if request.user.user.avatar == None %}
            {% comment %} {% load user_full_name_initials %} {% endcomment %}
            {% comment %} {% user_full_name_initials request.user.user as initials %} {% endcomment %}
            <div class="symbol-label fs-3 bg-light-primary text-primary">
                {% comment %} {% if initials is None %}?{% else %}{{ initials }}{% endif %} {% endcomment %}
                KN
            </div>
        {% else %}
            <img src="{{ request.user.user.avatar_thumbnail_url }}" />
        {% endif %}
    </div>
    {% comment %} End: Menu wrapper {% endcomment %}

    {% comment %} Start: User account menu {% endcomment %}
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px" data-kt-menu="true">
        {% comment %} Start: Menu item {% endcomment %}
        <div class="menu-item px-3">
            <div class="menu-content d-flex align-items-center px-3">
                {% if request.user.user.avatar == None %}
                    <div class="symbol symbol-50px">
                        {% comment %} {% load user_full_name_initials %}     {% endcomment %}
                        {% comment %} {% user_full_name_initials request.user.user as initials %} {% endcomment %}
                        <div class="symbol-label fs-3 bg-light-primary text-primary">
                            {% comment %} {% if initials is None %}?{% else %}{{ initials }}{% endif %} {% endcomment %}
                            KN
                        </div>
                    </div>
                {% else %}
                    <div class="symbol symbol-50px">
                        <img src="{{ request.user.user.avatar_thumbnail_url }}" />
                    </div>
                {% endif %}

                {% comment %} Start: Username {% endcomment %}
                <div class="d-flex flex-column ms-4">
                    {% comment %} {% load user_full_name %} {% endcomment %}
                    {% comment %} {% user_full_name request.user.user as full_name %} {% endcomment %}
                    <a href="#" class="fw-bolder d-flex align-items-center fs-5">
                        {% comment %} {% if full_name is None %}{% include 'relationships/includes/enter_your_name.html' %}{% else %}{{ full_name }}{% endif %} {% endcomment %}
                        Kevin Ng
                    </a>
                    <div class="fw-bold text-muted fs-7">{{ request.user.user.country.name }}</div>
                </div>
                {% comment %} End: Username {% endcomment %}
            </div>
        </div>
        {% comment %} End: Menu item {% endcomment %}

        <div class="separator my-2"></div>

        {% comment %} <div class="menu-item px-5">
            <a href="" class="menu-link px-5">My Reviews</a>
        </div> {% endcomment %}

        <div class="menu-item px-5">
            <a href="" class="menu-link px-5">My Profile</a>
        </div>

        <div class="menu-item px-5">
            <a href="{% url 'profile_settings' %}" class="menu-link px-5">Settings</a>
        </div>

        <div class="menu-item px-5">
            <a href="{% url 'logout' %}" class="menu-link px-5">Logout</a>
        </div>
    </div>
    {% comment %} End: User account menu {% endcomment %}
</div>
{% comment %} End: User menu {% endcomment %}

{% comment %} {% else %} {% endcomment %}
{% comment %} Start: Actions for the unauthenticated {% endcomment %}
{% comment %} <div class="d-flex align-items-center">
    <a href="{% url 'register' %}" class="btn btn-sm btn-secondary me-2">Claim Number</a>
    <a href="{% url 'login' %}" class="btn btn-sm btn-primary">Login</a>
</div> {% endcomment %}
{% comment %} End: Actions for the unauthenticated {% endcomment %}
{% comment %} {% endif %} {% endcomment %}