[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.2"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-widget-tweaks = "*"
celery = "*"
redis = "*"
django-decouple = "*"
boto3 = "*"
httpie = "*"
djangorestframework = "*"
django-extensions = "*"
django-filter = "*"
jsonlines = "*"
pytz = "*"
django-storages = "*"
editdistance = "*"
twilio = "*"
phonenumbers = "*"
django-hashid-field = "*"
pyyaml = "*"
ua-parser = "*"
user-agents = "*"
django-user-agents = "*"
stripe = "*"
sentry-sdk = "*"
requests = "*"
django-phonenumber-field = "*"
django-ratelimit = "*"
django-settings-export = "*"
django-ipware = "*"
django-loginas = "*"

[requires]
python_version = "3.7"
