{% extends 'metronic/extendables/b.html' %}

{% load static %}

{% block title %}{{ contact.first_name|title }} {{ contact.last_name|title }} | {{ contact.lead.body|truncatechars:10 }}{% endblock %}

{% block page_title %}{{ contact.first_name|title }} {{ contact.last_name|title }}{% endblock %}

{% block page_subtitle %}
<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
    <li class="breadcrumb-item text-muted">Me</li>

    <li class="breadcrumb-item">
        <span class="bullet bg-gray-300 w-5px h-2px"></span>
    </li>

    <li class="breadcrumb-item"><a class="text-muted" href="{% url 'leads:my_leads' %}">My Leads</a></li>

    <li class="breadcrumb-item">
        <span class="bullet bg-gray-300 w-5px h-2px"></span>
    </li>

    <li class="breadcrumb-item"><a class="text-muted" href="{% url 'leads:lead_detail' contact.lead.id %}">{{ contact.lead.body|truncatechars:10 }}</a></li>

    <li class="breadcrumb-item">
        <span class="bullet bg-gray-300 w-5px h-2px"></span>
    </li>

    <li class="breadcrumb-item text-dark">{{ contact.first_name|title }} {{ contact.last_name|title }}</li>
</ul>
{% endblock %}

{% block actions%}
{% include 'leads/metronic/includes/toolbar_actions.html' %}
{% endblock %}

{% block content_body %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    {% comment %} Start: Container {% endcomment %}
    <div id="kt_content_container" class="container-xxl">
        <div class="card mb-5 mb-xl-10 shadow-sm">
            <div class="card-header">
                <div class="card-title align-items-start flex-column">
                    <div class="d-flex align-items-center">
                        <div class="symbol symbol-45px me-5">
                            {% include 'leads/metronic/includes/avatar.html' with user=contact.lead.author %}
                        </div>
                        <div class="d-flex justify-content-start flex-column">
                            {% include 'leads/metronic/includes/avatar_details.html' with user=contact.lead.author %}
                        </div>
                    </div>
                </div>
                <div class="card-toolbar">
                    <span class="text-muted">{{ contact.lead.age_desc }}</span>
                </div>
            </div>

            <div class="card-body pt-9 pb-0">
                <div class="text-dark">{{ contact.lead.body|linebreaks }}</div>
                
                <div class="d-flex justify-content-between mt-2">
                    <div>
                        {% include 'leads/metronic/includes/lead_badges.html' with lead=contact.lead %}
                    </div>
                    <div>
                        {% comment %} <span class="badge badge-info">12 Contacts</span> {% endcomment %}
                    </div>
                </div>
                
                <div class="separator my-10"></div>

                <div class="ms-12 mb-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-45px me-5">
                                {% include 'leads/metronic/includes/contact_avatar.html' with contact=contact %}
                            </div>
                            <div class="d-flex justify-content-start flex-column">
                                {% include 'leads/metronic/includes/contact_avatar_details.html' with contact=contact do_not_render_contact_url=True %}
                            </div>
                        </div>
                        <span class="text-muted">{{ contact.age_desc }}</span>
                    </div>

                    <div class="text-dark mt-8">{{ contact.comments|linebreaks }}</div>
                    <div class="d-flex justify-content-between mt-2">
                        <div>
                            {% include 'leads/metronic/includes/contact_badges.html' with contact=contact %}
                        </div>
                        <div>
                            {% comment %} <span class="badge badge-dark">Contacted</span> {% endcomment %}
                        </div>
                    </div>
                </div>

                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
                    <li class="nav-item mt-2">
                        <a class="nav-link text-active-primary ms-0 me-10 py-5" href="{% url 'leads:lead_detail' contact.lead.id %}">Contacts ({{ contact.lead.num_contacts }})</a>
                    </li>
                </ul>
            </div>
        </div>

        {% comment %} Start: Layout {% endcomment %}
        <div class="d-flex flex-column flex-lg-row">
            {% comment %} Start: Sidebar {% endcomment %}
            <div class="flex-column flex-lg-row-auto w-lg-250px w-xl-350px mb-10">
                {% comment %} Start: Card {% endcomment %}
                <div class="card mb-5 mb-xl-8 shadow-sm">
                    {% comment %} Start: Card body {% endcomment %}
                    <div class="card-body">
                        <div class="d-flex flex-center flex-column pt-5">
                            <div class="symbol symbol-circle symbol-100px overflow-hidden mb-7">
                                {% include 'leads/metronic/includes/contact_avatar.html' with contact=contact %}
                            </div>
                            {% include 'leads/metronic/includes/contact_avatar_details.html' with contact=contact %}
                        </div>

                        {% if contact.is_whatsapp == True %}
                            <div class="separator mt-4"></div>
                            <div class="d-flex flex-column flex-center mt-4">
                                <a href="{% url 'leads:redirect_contact_whatsapp' contact.id %}" class="btn btn-success">WhatsApp</a>
                            </div>
                        {% endif %}

                        {% if contact.is_wechat == True %}
                            <div class="separator mt-4"></div>
                            <div class="d-flex flex-column flex-center mt-4">
                                <a href="{% url 'leads:redirect_contact_wechat' contact.id %}" class="btn btn-success mb-2">WeChat</a>
                                <div id="wechat_qrcode"></div>
                            </div>
                        {% endif %}

                        {% comment %}

                        Other channels - yet to be implemented.

                        <div class="separator mb-4"></div>

                        <div class="d-flex flex-column flex-center mb-4">
                            <a href="#" class="btn btn-primary mb-2">Telegram</a>
                        </div>

                        <div class="separator mb-4"></div>

                        <div class="d-flex flex-column flex-center mb-4">
                            <a href="#" class="btn btn-success mb-2">LINE</a>
                        </div>

                        <div class="separator mb-4"></div>

                        <div class="d-flex flex-column flex-center mb-4">
                            <a href="#" class="btn btn-info mb-2">VIBER</a>
                        </div>
                        
                        {% endcomment %}

                        <div class="separator mt-4"></div>

                        <div class="mt-4">
                            <div class="pb-5 fs-6">
                                <div class="fw-bolder mt-5">Email</div>

                                <div class="input-group mt-3">
                                    <input id="email_clipboard" type="text" class="form-control" placeholder="{{ contact.email.email }}" value="{{ contact.email.email }}" />
                                    <button class="btn btn-light-primary" data-clipboard-target="#email_clipboard">Copy</button>
                                </div>

                                <div class="fw-bolder mt-5">Phone Number</div>

                                <div class="input-group mt-3">
                                    <input id="phone_number_clipboard" type="text" class="form-control" placeholder="+{{ contact.phone_number.country_code }} {{ contact.phone_number.national_number }}" value="+{{ contact.phone_number.country_code }} {{ contact.phone_number.national_number }}" />
                                    <button class="btn btn-light-primary" data-clipboard-target="#phone_number_clipboard">Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} End: Card body {% endcomment %}
                </div>
                {% comment %} End: Card {% endcomment %}
            </div>
            {% comment %} End: Sidebar {% endcomment %}

            {% comment %} Start: Content {% endcomment %}
            <div class="flex-lg-row-fluid ms-lg-15">

                {% block tabs %}{% endblock %}
                
                {% comment %} Start: Tab content {% endcomment %}
                <div class="tab-content">
                    {% block tab_content %}{% endblock %}
                </div>
                {% comment %} End: Tab content {% endcomment %}
            </div>
            {% comment %} End: Content {% endcomment %}
        </div>
        {% comment %} End: Layout {% endcomment %}
    </div>
    {% comment %} End: Container {% endcomment %}
</div>
{% endblock %}

{% block page_vendor_javascript %}
<script src="{% static 'common/js/qrcode.min.js' %}"></script>
{% endblock %}

{% comment %} 
$(document).ready(function() {

    // Initialize clipboards

    function init_clipboard(target_id) {
        const target = document.getElementById(target_id)
        const button = target.nextElementSibling
        var clipboard = new ClipboardJS(button, {
            target: target,
            text: function() {
                return target.value
            }
        })

        clipboard.on('success', function(e) {
            const currentLabel = button.innerHTML
            if (button.innerHTML === 'Copied!'){ return }
            button.innerHTML = 'Copied!'
    
            // Revert button label after 3 seconds
            setTimeout(function(){
                button.innerHTML = currentLabel;
            }, 3000)
        })
    }

    init_clipboard('email_clipboard')
    init_clipboard('phone_number_clipboard')
})

$(document).ready(function() {
    // QR code. We cannot include this code because it requires server-side rendering.
    var qrcode = new QRCode(document.getElementById("wechat_qrcode"), {
        text: "{{ settings.BASE_URL }}{% url 'leads:redirect_contact_wechat' contact.id %}",
        width: 128,
        height: 128,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    })
})
{% endcomment %}
{% block page_custom_javascript %}
<script src="{% static 'leads/metronic/js/contact_details.js' %}"></script>
<script>$(document).ready((function(){new QRCode(document.getElementById("wechat_qrcode"),{text:"{{ settings.BASE_URL }}{% url 'leads:redirect_contact_wechat' contact.id %}",width:128,height:128,colorDark:"#000000",colorLight:"#ffffff",correctLevel:QRCode.CorrectLevel.H})}));</script>
{% endblock %}