{% extends 'relationships/metronic/extendables/login_register.html' %}

{% block title %}Register for Everybase{% endblock %}

{% block meta_description %}Register for Everybase{% endblock %}

{% block meta_og_title %}Register for Everybase{% endblock %}

{% block meta_og_site_name %}Everybase{% endblock %}

{% load static %}

{% block content %}
<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url({% static 'common/metronic/demo1/dist/assets/media/illustrations/sketchy-1/14.png' %}">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <a href="{% url 'home' %}" class="mb-12">
            <img alt="Logo" src="{% static 'common/metronic/demo1/dist/assets/media/logos/logo.png' %}" />
        </a>

        <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
            <form class="form w-100" action="{% url 'register' %}" method="post">
                {% csrf_token %}

                <div class="text-center mb-10">
                    <h1 class="text-dark mb-3">Register for Everybase</h1>
                    <div class="text-gray-400 fw-bold fs-4">Have an account?
                    <a href="{% url 'login' %}" class="link-primary fw-bolder">Login</a></div>
                </div>

                <div>
                    <label class="form-label fs-6 fw-bolder text-dark" for="email">Email Address</label>
                    <input class="form-control form-control-lg" type="text" name="email" id="email"{% if form.email.value != None %} value="{{ form.email.value }}"{% endif %} />
                </div>
                {% if form.email.errors %}<div class="text-danger">{% for error in form.email.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="mt-6">
                    <label class="form-label fs-6 fw-bolder text-dark" for="phone_number">Phone Number</label>
                    <input class="form-control form-control-lg" type="text" name="phone_number" id="phone_number"{% if form.phone_number.value != None %} value="{{ form.phone_number.value }}"{% endif %} />
                    <div class="form-text">Include + symbol. E.g., +14155552671.</div>
                </div>
                {% if form.phone_number.errors %}<div class="text-danger">{% for error in form.phone_number.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="form-check form-check-custom mt-4">
                    <div class="me-3">
                        <input class="form-check-input me-2" type="checkbox" name="enable_whatsapp" id="enable_whatsapp" />
                        <label for="enable_whatsapp">WhatsApp login
                            {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen043.svg {% endcomment %}
                            <span class="svg-icon svg-icon-info svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login with WhatsApp. Require verification of your phone number via WhatsApp.">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                    <rect x="11" y="17" width="7" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"/>
                                    <rect x="11" y="9" width="2" height="2" rx="1" transform="rotate(-90 11 9)" fill="currentColor"/>
                                    </svg>
                            </span>
                            {% comment %} End: SVG icon {% endcomment %}
                        </label>
                    </div>
                </div>

                <div class="mt-6">
                    <label class="form-label fs-6 fw-bolder text-dark" for="first_name">First Name</label>
                    <input class="form-control form-control-lg" type="text" name="first_name" id="first_name"{% if form.first_name.value != None %} value="{{ form.first_name.value }}"{% endif %} />
                </div>
                {% if form.first_name.errors %}<div class="text-danger">{% for error in form.first_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="mt-6">
                    <label class="form-label fs-6 fw-bolder text-dark" for="last_name">Last Name</label>
                    <input class="form-control form-control-lg" type="text" name="last_name" id="last_name"{% if form.last_name.value != None %} value="{{ form.last_name.value }}"{% endif %} />
                </div>
                {% if form.last_name.errors %}<div class="text-danger">{% for error in form.last_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="mt-6">
                    <label class="form-label fs-6 fw-bolder text-dark" for="country">Country</label>
                    <select name="country" class="form-select" data-control="select2" data-placeholder="Country" id="country">
                        <option></option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if form.country.value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.country.errors %}<div class="text-danger">{% for error in form.country.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="text-center mt-10">
                    <button type="submit" class="btn btn-lg btn-primary w-100 mb-5">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}