{% comment %} 
Params:
    product, product (a lead model) to display
{% endcomment %}
{% load static %}
<div class="news-block col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <div class="image-box">
            {% if product.cover_photo is not None %}
                {% load thumbnail_url %}
                {% thumbnail_url product.cover_photo as thumbnail_url %}
                <figure class="image"><a href="{% url 'products:product_detail' product.slug_link %}"><img src="{{ thumbnail_url }}" alt="" /></a></figure>
            {% endif %}
        </div>
        <div class="lower-content">
            <ul class="post-meta">
                <li>{{ product.author.first_name|title }} {{ product.author.last_name|title }}</li>
                <li>{{ product.author.country.name }}</li>
            </ul>
            <h3><a href="{% url 'products:product_detail' product.slug_link %}">{{ product.headline }}</a></h3>
        </div>
    </div>
</div>