{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}Agents on Everybase{% endblock %}

{% comment %}
Unrendered CSS
Minify with https://www.minifier.org/
{% endcomment %}
{% block unrendered_css %}
<style>
#mobile-search {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 100px;
    transition: 0.3s;
}

#mobile-search.is-active {
    left: 0;
}
</style>
{% endblock %}

{% block other_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
#mobile-search{position:fixed;top:0;left:100%;width:100%;min-height:100vh;display:block;z-index:98;background-color:#fff;padding-top:100px;transition:0.3s}#mobile-search.is-active{left:0}
</style>
{% endblock %}

{% block page_actions %}
<div class="flex lg:hidden">
    <a href="#" class="text-base border border-blue-700 text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2">New Post</a>
    <button id="search" class="text-base text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2 ml-2">Search</button>
</div>
{% endblock %}

{% block content %}
<div class="flex justify-center mt-10 gap-2">
    {% comment %} start: desktop search {% endcomment %}
    <div class="bg-white hidden lg:block lg:w-4/12 xl:w-3/12 2xl:w-3/12 p-10 shadow-md sticky top-20 self-start lg:rounded-xl">
        <h1 class="text-3xl font-bold text-center">Agents</h1>
        <div class="mt-7 flex flex-col justify-center">
            <form action="{% url 'leads__root:agents' %}" type="get">
                <label for="search" class="text-sm font-bold uppercase text-slate-400 block">Search</label>
                <input name="search" {% if search_value is not None and search_value|cut:' ' != '' %}value="{{ search_value }}"{% endif %} placeholder="Leave blank for all" type="text" class="w-full border rounded-md py-3 px-5 mt-2">

                <label for="country" class="text-sm font-bold uppercase text-slate-400 mt-5 block">Country</label>
                <div class="mt-2">
                    <select name="country" class="select2">
                        <option value="any_country"{% if country_value == 'any_country' %} selected{% endif %}>Any Country</option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if country_value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="w-full py-3 px-7 rounded-xl text-white bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Search</button>
            </form>
        </div>
    </div>
    {% comment %} end: desktop search {% endcomment %}
    {% comment %} start: mobile search {% endcomment %}
    <nav id="mobile-search">
        <h1 class="text-3xl font-bold text-center">Agents</h1>

        <div class="flex flex-col justify-center mt-7 mx-5">
            <form action="{% url 'leads__root:agents' %}" type="get">
                <label for="search" class="text-sm font-bold uppercase text-slate-400 block">Search</label>
                <input name="search" {% if search_value is not None and search_value|cut:' ' != '' %}value="{{ search_value }}"{% endif %} placeholder="Leave blank for all" type="text" class="w-full border rounded-md py-3 px-5 mt-2">

                <label for="country" class="text-sm font-bold uppercase text-slate-400 mt-5 block">Country</label>
                <div class="mt-2">
                    <select name="country" class="select2" data-placeholder="Choose country">
                        <option value="any_country"{% if country_value == 'any_country' %} selected{% endif %}>Any Country</option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}" {% if country_value == country.programmatic_key %}selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="w-full py-3 px-7 rounded-xl text-white bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Search</button>
            </form>
        </div>
    </nav>
    {% comment %} end: mobile search {% endcomment %}

    <div class="w-5/6 lg:w-6/12 xl:w-7/12 2xl:w-6/12">
        {% comment %} start: page item count > 0 {% endcomment %}
        {% if page_obj|length %}

        {% include 'includes/paginator.html' %}

        {% for user in page_obj %}

        <div class="mt-2">
            <div class="flex justify-between bg-blue-100 w-full px-5">
                <div class="flex flex-col py-3">
                    <a href="{% url 'relationships:user_comments' user.id %}" class="font-bold">{{ user.first_name }} {{ user.last_name }}</a>
                    <div>{{ user.country.name }}</div>
                    <div class="text-slate-400">3 comments</div>
                </div>
                <div class="flex flex-col justify-center">
                    <button class="py-2 px-5 font-bold rounded-xl text-white bg-green-500 hover:bg-green-600 shadow-md">WhatsApp</button>
                </div>
            </div>
            <div class="bg-white w-full p-5">
                <div class="text-sm font-bold uppercase text-slate-400">Goods I Deal With</div>
                <div>{% if user.goods_string is None %}Not specified{% else %}{{ user.goods_string }}{% endif %}</div>
                <div class="text-sm font-bold uppercase text-slate-400 mt-5">Languages I Speak</div>
                <div>{% if user.languages_string is None %}Not specified{% else %}{{ user.languages_string }}{% endif %}</div>
            </div>
        </div>

        {% endfor %}

        {% comment %} start: paginator {% endcomment %}
        <div class="flex items-center justify-center gap-3 mt-4">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="text-slate-600 shadow-md bg-slate-200 hover:bg-slate-300 rounded px-4 py-2">Prev</a>
            {% endif %}
            <div class="font-bold">Page {{ page_obj.number }}</div>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="text-slate-600 shadow-md bg-slate-200 hover:bg-slate-300 rounded px-4 py-2">Next</a>
            {% endif %}
        </div>
        {% comment %} end: paginator {% endcomment %}

        {% else %}
        {% comment %} else: page item count <= 0 {% endcomment %}

        <div class="font-bold text-center">No results</div>        

        {% endif %}
        {% comment %} end: page item count > 0 {% endcomment %}
    </div>
</div>
{% endblock %}

{% comment %}
Unrendered Javascript
Minify with https://www.minifier.org/
{% endcomment %}
{% block unrendered_javascript %}
<script>
$(document).ready(function() {
    $('.select2').select2();

    $('.select2').one('select2:open', function(e) {
        $('input.select2-search__field').prop('placeholder', 'Search here...');
    });

    $('#search').click(function() {
        t = $(this);

        // Switch button text
        if (t.html() == 'Search') {
            t.html('Close');
        } else {
            t.html('Search');
        }

        // Switch button and button text color
        t.toggleClass('bg-blue-500');
        t.toggleClass('text-white');
        t.toggleClass('hover:bg-blue-600');
        t.toggleClass('bg-slate-100');
        t.toggleClass('text-slate-600');
        t.toggleClass('hover:bg-slate-200');

        $('#mobile-search').toggleClass('is-active');
    });
});
</script>
{% endblock %}
{% block other_script %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>  
$(document).ready(function(){$('.select2').select2();$('.select2').one('select2:open',function(e){$('input.select2-search__field').prop('placeholder','Search...')});$('#search').click(function(){t=$(this);if(t.html()=='Search'){t.html('Close')}else{t.html('Search')}
t.toggleClass('bg-blue-500');t.toggleClass('text-white');t.toggleClass('hover:bg-blue-600');t.toggleClass('bg-slate-100');t.toggleClass('text-slate-600');t.toggleClass('hover:bg-slate-200');$('#mobile-search').toggleClass('is-active')})})
</script>
{% endblock %}