{% extends 'leads/extendables/contact_details.html' %}

{% block tabs %}
{% include 'leads/includes/contact_details_tabs.html' with other_contacts=True contact=contact %}
{% endblock %}

{% block tab_content %}
<h6>Other contacts with this user.</h4>

{% if contacts.count == 0 %}
    <div class="fs-4 fw-bold card shadow-sm">
        <div class="card-body text-center">
            No other interactions with the same email or phone number.
        </div>
    </div>
{% else %}
    {% if page_obj|length > 0 %}
        {% for other_contact in page_obj %}
            {% include 'leads/includes/other_contact_item.html' with contact=other_contact this_contact=contact %}
        {% endfor %}
    {% endif %}
{% endif %}

{% include 'includes/paginator.html' %}
{% endblock %}