{% extends 'extendables/base.html' %}

{% load static %}

{% block subtitle %}Contact Requests | {% endblock %}

{% block page_title %}Contact Requests{% endblock %}

{% block content %}

<!--begin::Container-->
<div id="kt_content_container" class="container-xxl">
	<div class="row">
        {% if page_obj.paginator.count == 0 %}
        You do not have any contact requests.
        {% endif %}

        {% for contact_request in page_obj %}

        <div class="col-lg-4 col-md-6 mb-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center my-5">
                        <!--begin::Avatar-->
                        {% comment %} <div class="symbol symbol-circle symbol-70px">
                            <img alt="Logo" src="{% static 'common/assets/media/avatars/150-26.jpg' %}" />
                        </div> {% endcomment %}

                        <div class="symbol symbol-circle symbol-70px">
                            <a><div class="symbol-label fs-2 bg-warning text-light">{{ contact_request.contactor.first_name|make_list|first }} {{ contact_request.contactor.last_name|make_list|first }}</div></a>
                        </div>
                        <!--end::Avatar-->
                    </div>

                    <div class="d-flex flex-column align-items-center mb-5">
                        <div class="fw-bolder fs-4">{{ contact_request.contactor.first_name }} {{ contact_request.contactor.last_name }}</div>
                        <div class="fw-bold fs-7 text-muted">{{ contact_request.create_now_difference_display_text }}</div>
                    </div>

                    <div class="fs-6 my-5">
                        <div class="fw-bolder mt-5">Country</div>
                        <div class="text-gray-600">{{ contact_request.contactor.country.name }}</div>
                        <div class="fw-bolder mt-5">Your Lead</div>
                        <div><a href="{% url 'leads:detail' contact_request.lead.uuid %}">{{ contact_request.lead.title }}</a></div>
                        <div class="fw-bolder mt-5">Message</div>
                        <div>{{ contact_request.message }}</div>
                    </div>

                </div>
                <div class="card-footer">
                    {% if contact_request.response is None %}
                        <button class="btn btn-success col-12 mb-2">Exchange Contacts</button>
                    {% elif contact_request.response == 'accept' %}
                        <button class="btn btn-outline btn-outline-success btn-active-color-white col-12 mb-2">WhatsApp</button>
                    {% endif %}
                    {% comment %} <button class="btn btn-secondary col-12">Delete</button> {% endcomment %}
                </div>
            </div>
        </div>

        {% endfor %}
	</div>

    {% if page_obj.has_previous %}
        <div class="row mt-5 mx-5">
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-bg-secondary btn-light-primary">Last Page</a>
        </div>
    {% endif %}


    {% if page_obj.has_next %}
        <div class="row mt-5 mx-5">
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-color-primary btn-active-color-white btn-outline btn-outline-primary">Next Page</a>
        </div>
    {% endif %}
</div>
<!--end::Container-->

{% endblock %}