{% extends 'extendables/base.html' %}

{% load static %}

{% block head_bottom %}
<script type="text/javascript">
(function(e,t){var r=e.amplitude||{_q:[],_iq:{}};var n=t.createElement("script")
;n.type="text/javascript"
;n.integrity="sha384-4rr7CTymHc64YjTTL6O3ktfsHYI1yJnQdmKv4zFoe+frjXb05MfzzuLLIAgJ/XHs"
;n.crossOrigin="anonymous";n.async=true
;n.src="https://cdn.amplitude.com/libs/amplitude-8.11.0-min.gz.js"
;n.onload=function(){if(!e.amplitude.runQueuedFunctions){
console.log("[Amplitude] Error: could not load SDK")}}
;var s=t.getElementsByTagName("script")[0];s.parentNode.insertBefore(n,s)
;function i(e,t){e.prototype[t]=function(){
this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
var o=function(){this._q=[];return this}
;var a=["add","append","clearAll","prepend","set","setOnce","unset","preInsert","postInsert","remove"]
;for(var c=0;c<a.length;c++){i(o,a[c])}r.Identify=o;var u=function(){this._q=[]
;return this}
;var p=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
;for(var l=0;l<p.length;l++){i(u,p[l])}r.Revenue=u
;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","enableTracking","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","groupIdentify","onInit","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId","setLibrary","setTransport"]
;function v(e){function t(t){e[t]=function(){
e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
for(var r=0;r<d.length;r++){t(d[r])}}v(r);r.getInstance=function(e){
e=(!e||e.length===0?"$default_instance":e).toLowerCase()
;if(!Object.prototype.hasOwnProperty.call(r._iq,e)){r._iq[e]={_q:[]};v(r._iq[e])
}return r._iq[e]};e.amplitude=r})(window,document);
{% comment %}
User ID (UUID) is available for sure, because this page is only accessible if the user is authenticated.
{% endcomment %}
amplitude.getInstance().init("{{ amplitude_api_key }}", "{{ amplitude_user_id }}");
</script>
{% endblock %}

{% block body_top %}
<form action="{% url 'leads:create' %}" method="post" id="lead_form">
{% csrf_token %}
{% endblock %}

{% block subtitle %}New Lead | {% endblock %}

{% block page_title %}New Lead{% endblock %}

{% block actions %}
<a href="{% url 'leads__root:list' %}" class="btn btn-sm btn-secondary me-2">Cancel</a>
<button type="submit" class="btn btn-sm btn- btn-primary g-recaptcha" id="create_lead__secondary_submit" data-sitekey="6LeW03UdAAAAAIr_q-7C1NvI-BLMWRegSHF0Ya61" data-callback="onSubmit" data-action="submit">Post This Lead</a>
{% endblock %}

{% block content %}
<div id="kt_content_container" class="container-xxl">

    {% if messages %}
		{% for message in messages %}

	<div class="row">
		<!--begin::Alert-->
		<div class="alert alert-dismissible bg-light-info border border-info d-flex flex-column flex-sm-row p-5 mb-10">
			<!--begin::Wrapper-->
			<div class="d-flex flex-column pe-0 pe-sm-10">
				<h5>{{ message }}</h5>
			</div>
			<!--end::Wrapper-->

			<!--begin::Close-->
			<button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
				<i class="bi bi-x fs-1 text-info"></i>
			</button>
			<!--end::Close-->
		</div>
		<!--end::Alert-->
	</div>

		{% endfor %}
	{% endif %}

	<div class="row form">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h3 class="fw-bolder mb-5">Details</h3>
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-7">
                        <label for="title" class="form-label">Title:</label>
                        <input name="title" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" type="text" class="form-control"/>
                        <!--begin::Error message-->
                        <div class="text-danger mt-3">{% if form.title.errors %}{% for error in form.title.errors %}{{ error|escape }}{% if forloop.last %} {% endif %}{% endfor %}{% endif %}</div>
                        <!--end::Error message-->
                    </div>

                    <div class="mb-7">
                        <label for="details" class="form-label">Details:</label>
                        <textarea name="details" class="form-control" rows="3" data-kt-autosize="true">{% if form.details.value %}{{ form.details.value }}{% endif %}</textarea>
                        <div class="text-muted mt-3">Please describe the goods/service you need and what the agent should do for you.</div>
                        <!--begin::Error message-->
                        <div class="text-danger mt-3">{% if form.details.errors %}{% for error in form.details.errors %}{{ error|escape }}{% if forloop.last %} {% endif %}{% endfor %}{% endif %}</div>
                        <!--end::Error message-->
                    </div>

                    <div class="my-10">
                        <label class="form-label fs-6 mb-5">Do you want to buy or sell?</label>
                        <div class="form-check form-check-custom form-check-lg col-12 mb-5">
                            <input class="form-check-input" type="radio" id="create_lead__lead_type__buying" name="lead_type" value="buying" {% if form.lead_type.value == 'buying' %}checked{% endif %} />
                            <label class="form-check-label" for="create_lead__lead_type__buying">I want to buy</label>
                        </div>
                        <div class="form-check form-check-custom form-check-lg col-12">
                            <input class="form-check-input" type="radio" id="create_lead__lead_type__selling" name="lead_type" value="selling" {% if form.lead_type.value == 'selling' %}checked{% endif %} />
                            <label class="form-check-label" for="create_lead__lead_type__selling">I want to sell</label>
                        </div>
                        <!--begin::Error message-->
                        <div class="text-danger mt-3">{% if form.lead_type.errors %}{% for error in form.lead_type.errors %}{{ error|escape }}{% if forloop.last %} {% endif %}{% endfor %}{% endif %}</div>
                        <!--end::Error message-->
                    </div>

                    <div class="my-10">
                        <label class="form-label fs-6 mb-5">Are you a direct <span class="create_lead__author_type__lead_type">buyer/seller</span> or an agent?</label>
                        <div class="form-check form-check-custom form-check-lg col-12 mb-5">
                            <input class="form-check-input" type="radio" id="create_lead__author_type__direct" name="author_type" value="direct" {% if form.author_type.value == 'direct' %}checked{% endif %} />
                            <label class="form-check-label" for="create_lead__author_type__direct">I'm a direct <span class="create_lead__author_type__lead_type">buyer/seller</span></label>
                        </div>
                        <div class="form-check form-check-custom form-check-lg col-12 mb-5">
                            <input class="form-check-input" type="radio" id="create_lead__author_type__agent" name="author_type" value="broker" {% if form.author_type.value == 'broker' %}checked{% endif %} />
                            <label class="form-check-label" for="create_lead__author_type__agent">I'm an agent</label>
                        </div>
                        <!--begin::Error message-->
                        <div class="text-danger mt-3">{% if form.author_type.errors %}{% for error in form.author_type.errors %}{{ error|escape }}{% if forloop.last %} {% endif %}{% endfor %}{% endif %}</div>
                        <!--end::Error message-->
                    </div>

                    <div class="mb-7">
                        <label for="country" class="form-label"><span id="create_lead__source_or_destination_1">Destination/Source</span> Country:</label>
                        <select name="country" class="form-select" data-control="select2" data-placeholder="Select user country">
                            <option></option>
                            {% for country in countries %}
                                <option value="{{ country.programmatic_key }}" {% if form.country.value == country.programmatic_key %}selected{% endif %}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="text-muted mt-3">What is the <span id="create_lead__source_or_destination_2">destination/source</span> country for the goods/service?</div>
                        <!--begin::Error message-->
                        <div class="text-danger mt-3">{% if form.country.errors %}{% for error in form.country.errors %}{{ error|escape }}{% if forloop.last %} {% endif %}{% endfor %}{% endif %}</div>
                        <!--end::Error message-->
                    </div>

                    <div class="mb-7">
                        <label for="commission_pct" class="form-label">Commission %:</label>
                        <div class="col-12">
                            <input name="commission_pct" type="number" class="form-control" min="0" step="0.5" value="{% if form.commission_pct.value %}{{ form.commission_pct.value }}{% endif %}" />
                        </div>
                        <div class="text-muted mt-3" id="create_lead__commission_pct_label__direct">If you're a direct <span class="create_lead__author_type__lead_type">buyer/seller</span>, please state the commission you offer to an agent for helping you find <span class="create_lead__author_type__lead_type_counterparty">buyer/seller</span>.</div>
                        <div class="text-muted mt-3" id="create_lead__commission_pct_label__agent">If you're an agent, please state the commission you'll share with another agent for helping you find <span class="create_lead__author_type__lead_type_counterparty">buyer/seller</span>.</div>
                        <!--begin::Error message-->
                        <div class="text-danger mt-3">{% if form.commission_pct.errors %}{% for error in form.commission_pct.errors %}{{ error|escape }}{% if forloop.last %} {% endif %}{% endfor %}{% endif %}</div>
                        <!--end::Error message-->
                    </div>

                    <div class="mb-7">
                        <div class="my-10">
                            <label class="form-label fs-6 mb-5">Commission Payable By:</label>
                            <div class="form-check form-check-custom form-check-lg col-12 mb-5">
                                <input class="form-check-input" type="radio" id="create_lead__commission_payable_by__me" name="commission_payable_by" value="me" {% if form.commission_payable_by.value == 'me' %}checked{% endif %} />
                                <label class="form-check-label" for="create_lead__commission_payable_by__me">Me</label>
                            </div>
                            <div class="form-check form-check-custom form-check-lg col-12 mb-5" id="create_lead__commission_payable_by__buyer_div">
                                <input class="form-check-input" type="radio" id="create_lead__commission_payable_by__buyer" name="commission_payable_by" value="buyer" {% if form.commission_payable_by.value == 'buyer' %}checked{% endif %} />
                                <label class="form-check-label" for="create_lead__commission_payable_by__buyer">Buyer</label>
                            </div>
                            <div class="form-check form-check-custom form-check-lg col-12 mb-5" id="create_lead__commission_payable_by__seller_div">
                                <input class="form-check-input" type="radio" id="create_lead__commission_payable_by__seller" name="commission_payable_by" value="seller" {% if form.commission_payable_by.value == 'seller' %}checked{% endif %} />
                                <label class="form-check-label" for="create_lead__commission_payable_by__seller">Seller</label>
                            </div>
                            <!--begin::Error message-->
                            <div class="text-danger mt-3">{% if form.commission_payable_after.errors %}{% for error in form.commission_payable_after.errors %}{{ error|escape }}{% if forloop.last %} {% endif %}{% endfor %}{% endif %}</div>
                            <!--end::Error message-->
                        </div>
                    </div>

                    <div class="mb-7">
                        <div class="my-10">
                            <label class="form-label fs-6 mb-5">Commission is paid after:</label>

                            <div class="form-check form-check-custom form-check-lg col-12 mb-5">
                                <input class="form-check-input" type="radio" id="create_lead__commission_payable_after__initial_deposit_received" name="commission_payable_after" value="initial_deposit_received" {% if form.commission_payable_after.value == 'initial_deposit_received' %}checked{% endif %} />
                                <label class="form-check-label" for="create_lead__commission_payable_after__initial_deposit_received">Initial deposit is received</label>
                            </div>
                            <div class="form-check form-check-custom form-check-lg col-12 mb-5">
                                <input class="form-check-input" type="radio" id="create_lead__commission_payable_after__goods_shipped" name='commission_payable_after' value="goods_shipped" {% if form.commission_payable_after.value == 'goods_shipped' %}checked{% endif %} />
                                <label class="form-check-label" for="create_lead__commission_payable_after__goods_shipped">Goods are shipped from source country</label>
                            </div>
                            <div class="form-check form-check-custom form-check-lg col-12 mb-5">
                                <input class="form-check-input" type="radio" id="create_lead__commission_payable_after__buyer_received_goods_services" name="commission_payable_after" value="buyer_received_goods_services" {% if form.commission_payable_after.value == 'buyer_received_goods_services' %}checked{% endif %} />
                                <label class="form-check-label" for="create_lead__commission_payable_after__buyer_received_goods_services">Buyer has received goods/services</label>
                            </div>
                            <div class="form-check form-check-custom form-check-lg col-12 mb-5">
                                <input class="form-check-input" type="radio" id="create_lead__commission_payable_after__full_payment_received" name="commission_payable_after" value="full_payment_received" {% if form.commission_payable_after.value == 'full_payment_received' %}checked{% endif %} />
                                <label class="form-check-label" for="create_lead__commission_payable_after__full_payment_received">Full payment has been received</label>
                            </div>
                            <div class="form-check form-check-custom form-check-lg col-12 mb-5">
                                <input class="form-check-input" type="radio" id="create_lead__commission_payable_after__others" name="commission_payable_after" value="others" {% if form.commission_payable_after.value == 'others' %}checked{% endif %} />
                                <label class="form-check-label" for="create_lead__commission_payable_after__others">Others</label>
                            </div>
                            <textarea class="form-control" rows="3" data-kt-autosize="true" name="commission_payable_after_others" id="create_lead__commission_payable_after__others_text">{% if form.commission_payable_after_others.value %}{{ form.commission_payable_after_others.value }}{% endif %}</textarea>
                            <!--begin::Error message-->
                            <div class="text-danger mt-3">{% if form.commission_payable_after_others.errors %}{% for error in form.commission_payable_after_others.errors %}{{ error|escape }}{% if forloop.last %} {% endif %}{% endfor %}{% endif %}</div>
                            <!--end::Error message-->
                        </div>
                    </div>
                    <div>
                        <label for="other_commission_details" class="form-label">Other Commission Details:</label>
                        <textarea name="other_commission_details" class="form-control" rows="3" data-kt-autosize="true">{% if form.other_commission_details.value %}{{ form.other_commission_details.value }}{% endif %}</textarea>
                        <div class="text-muted mt-3">Please specify other details regarding commission.</div>
                    </div>
                </div>
            </div>
            <h3 class="fw-bolder mt-10 mb-5">Documents & Photos</h3>

            <div id="create_lead__documents_and_photos" class="row mb-15">

                <!--begin::Action-->
                <div id="create_lead__add_file_div" class="col-lg-4 col-md-6 mb-5">
                    <!--begin::Card-->
                    <div id="create_lead__add_file_block" class="card h-100">
                        <!--begin::Card body-->
                        <div class="card-body d-flex justify-content-center text-center flex-column p-8">
                            <label id="create_lead__add_file_input_label" for="create_lead__add_file_input" class="btn btn-outline btn-outline-primary btn-active-light-primary">Add File</label>
                            <input id="create_lead__add_file_input" style="display: none;" type="file" accept="image/*,.pdf" />
                            <input type="hidden" name="files" id="create_lead__files" value="{% if form.files.value %}{{ form.files.value }}{% endif %}">
                        </div> 
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Action-->

            </div>
            <div class="row"><button type="submit" class="btn btn-primary col-12 g-recaptcha" id="create_lead__main_submit" data-sitekey="6LeW03UdAAAAAIr_q-7C1NvI-BLMWRegSHF0Ya61" data-callback="onSubmit" data-action="submit">Post Lead</button></div>
            <div class="row mt-3"><a href="{% url 'leads__root:list' %}" class="btn btn-secondary col-12 me-2">Cancel</a></div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

{% endblock %}

{% block body_bottom %}
</form>
{% endblock %}

{% block page_custom_script %}

<script src="https://www.google.com/recaptcha/api.js"></script>

<script type="text/javascript">
{% comment %}
This function is for reCaptcha, but we've added Amplitude calls in it so they
trigger when the form is submitted.
{% endcomment %}
function onSubmit(token) {
    document.getElementById("lead_form").submit();
    
    // Set user properties
    var identify = new amplitude.Identify()
        .set('country code', '{{ country_code }}')
        .set('register date time', '{{ register_date_time }}')
        .set('last seen date time', '{{ last_seen_date_time }}')
        .set('num whatsapp lead author', {{ num_whatsapp_lead_author }})
        .set('num leads created', {{ num_leads_created }})
    amplitude.getInstance().identify(identify)

    // Log event
    amplitude.getInstance().logEvent('post new lead - posted new lead')
}

var create_lead__add_file = function() {

    var files = []

    var target = document.querySelector('#create_lead__add_file_block')
    var blockUI = new KTBlockUI(target)

    var block = function () {
        blockUI.block()
        $('#create_lead__add_file_input_label').hide()
        //$('#create_lead__main_submit').attr('disabled', 'true')
        //$('#create_lead__secondary_submit').attr('disabled', 'true')
    }

    var unblock = function () {
        if (blockUI.isBlocked()) {
            blockUI.release()
        }
        $('#create_lead__add_file_input_label').show()
        $('#create_lead__main_submit').removeAttr('disabled')
        $('#create_lead__secondary_submit').removeAttr('disabled')
    }

    var remove_file = function(uuid) {
        // Update files hidden field
        field = $('#create_lead__files')
        files = JSON.parse(field.val())
        new_files = []
        for (var i = 0; i < files.length; i++) {
            if (files[i][0] != uuid) {
                new_files.push(files[i])
            }
        }
        field.val(JSON.stringify(new_files))

        // Refresh
        init_file_cards()
    }

    var add_doc_card = function (url, filename, uuid) {
        display_name = filename.substring(0, 15)
        if (filename.length > 15) {
            display_name = display_name + '...'
        }

        var doc_card = `<div class=\"col-lg-4 col-md-6 mb-5 file-div\">\
            <!--begin::Card-->\
            <div class=\"card h-100\">\
                <!--begin::Card body-->\
                <div class=\"card-body d-flex justify-content-center text-center flex-column p-8\">\
                    <!--begin::Name-->\
                    <a href=\"${url}\" target=\"${url}\" class=\"text-danger d-flex flex-column\">\
                        <!--begin::Image-->\
                        <div class=\"symbol symbol-60px mb-5\">\
                            <img src=\"{% static 'common/assets/media/svg/files/pdf.svg' %}\" alt=\"\" />\
                        </div>\
                        <!--end::Image-->\
                        <!--begin::Title-->\
                        <div class=\"text-gray-800 fs-5 fw-bolder mb-2\">${display_name}</div>\
                        <!--end::Title-->\
                    </a>\
                    <!--end::Name-->\
                    <button id=\"create_lead__btn_remove_file_${uuid}\" type=\"button\" class=\"btn btn-light-danger\">Remove</a>\
                </div>\
                <!--end::Card body-->\
            </div>\
            <!--end::Card-->\
        </div>`

        $('#create_lead__add_file_div').before(doc_card)
        $(`#create_lead__btn_remove_file_${uuid}`).click(function () {
            remove_file(uuid);
        })
    }

    var add_img_card = function (url, uuid) {
        var img_card = `<div class=\"col-lg-4 col-md-6 mb-5 file-div\">\
            <!--begin::Card-->\
            <div class=\"card h-100\">\
                <!--begin::Card body-->\
                <div class=\"card-body d-flex justify-content-center text-center flex-column p-8\">\
                    <!--begin::Name-->\
                    <a href=\"${url}\" target=\"${url}\" class="text-danger d-flex flex-column">\
                        <!--begin::Image-->\
                        <div class=\"mb-5\">\
                            <img src=\"${url}\" style=\"object-fit: cover; height: 90px\" class=\"w-120px rounded\" />\
                        </div>\
                        <!--end::Image-->\
                    </a>\
                    <!--end::Name-->\
                    <button id=\"create_lead__btn_remove_file_${uuid}\" type=\"button\" class=\"btn btn-light-danger\">Remove</a>\
                </div>\
                <!--end::Card body-->\
            </div>\
            <!--end::Card-->\
        </div>`

        $('#create_lead__add_file_div').before(img_card)
        $(`#create_lead__btn_remove_file_${uuid}`).click(function () {
            remove_file(uuid);
        })
    }

    var get_file_url = function (uuid) {
        url = '{% url "files:get_file" "replace_with_uuid" %}'
        url = url.replace('replace_with_uuid', uuid)
        return url
    }

    var upload_file = function (response, file) {
        var r = response.presigned_url_response
        var post_data = new FormData()
        for (key in r.fields) {
            post_data.append(key, r.fields[key])
        }
        post_data.append('file', file)

        var xhr = new XMLHttpRequest()
        xhr.open('POST', r.url)
        xhr.onreadystatechange = function (event) {
            if (xhr.readyState === 4) {
                if (xhr.status === 200 || xhr.status === 204) {
                    // Success
                    
                    // Add a new card
                    // console.log(file.type)
                    // console.log(file.name)

                    uuid = response.uuid

                    // Update files hidden field
                    files.push([uuid, file.type, file.name])
                    $('#create_lead__files').val(JSON.stringify(files))

                    if (file.type.toLowerCase().includes('pdf')) {
                        // Is document
                        add_doc_card(get_file_url(uuid), file.name, uuid)
                    } else {
                        // Is image
                        add_img_card(get_file_url(uuid), uuid)
                    }
                } else {
                    // Show error messages
                }

                // console.log('XHR status code: ' + xhr.status)
                // console.log('XHR status text: ' + xhr.statusText)

                // Unblock
                unblock()
            }
        };

        xhr.send(post_data)
    }

    var init_button = function () {
        $('#create_lead__add_file_input').change(function() {
            // Block
            block()

            // Get pre-signed write-only URL
            var file = $(this).prop('files')[0]
            $.ajax({
                type: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'ContentType': file.type
                },
                url: '{% url 'leads:write_only_presigned_url' %}',
                data: {
                    'file_type': file.type,
                    'filename': file.name
                },
                dataType: 'json',
                success: function (response) {
                    // console.log('Got pre-signed URL, uploading file...')
                    // console.log(response)

                    // upload_file will unblock on success/error
                    upload_file(response, file)
                },
                error: function (xhr, ajax_options, thrown_error) {
                    // console.log(xhr)
                    // console.log(ajax_options)
                    unblock()
                }
            });
        });
    }

    var init_file_cards = function () {
        input = $('#create_lead__files')
        if (input.val() == '') {
            // Return if we have no value to work with
            return
        }

        // Parse files hidden input value
        files = JSON.parse(input.val())

        // Clear existing cards
        $('.file-div').remove()

        for (var i = 0; i < files.length; i++) {
            uuid = files[i][0]
            type = files[i][1]
            name = files[i][2]

            if (type.toLowerCase().includes('pdf')) {
                // Is document
                add_doc_card(get_file_url(uuid), name, uuid)
            } else {
                // Is image
                add_img_card(get_file_url(uuid), uuid)
            }
        }
    }

    return {
        init: function () {
            init_button()
            init_file_cards()
        }
    }
}();

var create_lead__lead_type_options = function() {

    var set_buyer = function () {
        $('.create_lead__author_type__lead_type').text('buyer')
        $('.create_lead__author_type__lead_type_counterparty').text('seller')
        $('#create_lead__source_or_destination_1').text('Destination')
        $('#create_lead__source_or_destination_2').text('destination')
        $('#create_lead__commission_payable_by__buyer_div').show()
        $('#create_lead__commission_payable_by__seller_div').hide()
        $('#create_lead__commission_payable_by__seller').prop('checked', false)
    }

    var set_seller = function () {
        $('.create_lead__author_type__lead_type').text('seller')
        $('.create_lead__author_type__lead_type_counterparty').text('buyer')
        $('#create_lead__source_or_destination_1').text('Source')
        $('#create_lead__source_or_destination_2').text('source')
        $('#create_lead__commission_payable_by__buyer_div').hide()
        $('#create_lead__commission_payable_by__seller_div').show()
        $('#create_lead__commission_payable_by__buyer').prop('checked', false)
    }

    var init_options = function () {
        $('#create_lead__lead_type__buying').click(function() {
            set_buyer()
        });

        $('#create_lead__lead_type__selling').click(function() {
            set_seller()
        });

        if ($('#create_lead__lead_type__buying').is(':checked')) {
            set_buyer()
        }

        if ($('#create_lead__lead_type__selling').is(':checked')) {
            set_seller()
        }
    }

    return {
        init: function () {
            init_options()
        }
    }
}();

var create_lead_author_type_options = function() {
    var init_options = function () {
        $('#create_lead__author_type__direct').click(function() {
            $('#create_lead__commission_pct_label__direct').show()
            $('#create_lead__commission_pct_label__agent').hide()
        });

        $('#create_lead__author_type__agent').click(function() {
            $('#create_lead__commission_pct_label__direct').hide()
            $('#create_lead__commission_pct_label__agent').show()
        });
    }

    return {
        init: function () {
            init_options()
        }
    }
}();

var create_lead_commission_payable_by_options = function() {
    var init_options = function () {
        if ($('#create_lead__commission_payable_after__others').is(':checked')) {
            $('#create_lead__commission_payable_after__others_text').show()
        } else {
            $('#create_lead__commission_payable_after__others_text').hide()
        }

        $('#create_lead__commission_payable_after__others').click(function() {
            $('#create_lead__commission_payable_after__others_text').show()
        })

        $('#create_lead__commission_payable_after__initial_deposit_received').click(function() {
            $('#create_lead__commission_payable_after__others_text').hide()
        })

        $('#create_lead__commission_payable_after__goods_shipped').click(function() {
            $('#create_lead__commission_payable_after__others_text').hide()
        })

        $('#create_lead__commission_payable_after__buyer_received_goods_services').click(function() {
            $('#create_lead__commission_payable_after__others_text').hide()
        })

        $('#create_lead__commission_payable_after__full_payment_received').click(function() {
            $('#create_lead__commission_payable_after__others_text').hide()
        })
    }

    return {
        init: function () {
            init_options()
        }
    }
}();

jQuery(document).ready(function () {
    create_lead__lead_type_options.init()
    create_lead_author_type_options.init()
    create_lead_commission_payable_by_options.init()
    create_lead__add_file.init()
});

</script>

{% endblock %}