{% extends 'extendables/b.html' %}

{% load static %}

{% comment %} Include keywords {% endcomment %}
{% block title %}{{ lead.author.first_name }} Needs Agent{% endblock %}

{% comment %}
CSS
https://codebeautify.org/css-beautify-minify

#mobile-filter {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 100px;
    transition: 0.3s;
}

#mobile-filter.is-active {
    left: 0;
}
{% endcomment %}
{% block other_css %}
<style>
{% include 'includes/css/select2.css' %}
#mobile-filter{position:fixed;top:0;left:100%;width:100%;min-height:100vh;display:block;z-index:98;background-color:#fff;padding-top:100px;transition:0.3s}#mobile-filter.is-active{left:0}
</style>
{% endblock %}

{% block page_actions %}
{% include 'relationships/includes/user_detail_actions.html' with detail_user=lead.author %}
{% endblock %}

{% block content %}
<div class="flex flex-col lg:flex-row justify-center mt-10 gap-2">
    {% include 'relationships/includes/user_detail_side.html' with detail_user=lead.author %}

    <div class="w-full lg:w-6/12 xl:w-7/12 2xl:w-6/12 lg:mt-0 mt-4">
        {% include 'relationships/includes/user_detail_tabs.html' with detail_user=lead.author %}
        {% include 'leads/includes/lead_item.html' with lead=lead summary=False more_css_classes='mt-2' %}
    </div>
</div>
{% endblock %}

{% comment %}
Javascript
https://codebeautify.org/minify-js

$(document).ready(function() {
    $('.select2').select2();

    $('.select2').one('select2:open', function(e) {
        $('input.select2-search__field').prop('placeholder', 'Search here...');
    });

    $('#filter').click(function() {
        t = $(this);
        if (t.html() == 'Filter') {
            t.html('Close');
        } else {
            t.html('Filter');
        }

        t.toggleClass('bg-blue-500');
        t.toggleClass('text-white');
        t.toggleClass('hover:bg-blue-600');
        t.toggleClass('bg-slate-100');
        t.toggleClass('text-slate-600');
        t.toggleClass('hover:bg-slate-200');

        $('#mobile-filter').toggleClass('is-active');
    });
});
{% endcomment %}
{% block other_script %}
<script>
{% include 'includes/js/jquery.js' %}
{% include 'includes/js/select2.js' %}
$(document).ready((function(){$(".select2").select2(),$(".select2").one("select2:open",(function(e){$("input.select2-search__field").prop("placeholder","Search here...")})),$("#filter").click((function(){t=$(this),"Filter"==t.html()?t.html("Close"):t.html("Filter"),t.toggleClass("bg-blue-500"),t.toggleClass("text-white"),t.toggleClass("hover:bg-blue-600"),t.toggleClass("bg-slate-100"),t.toggleClass("text-slate-600"),t.toggleClass("hover:bg-slate-200"),$("#mobile-filter").toggleClass("is-active")}))}));
</script>
{% endblock %}