{% extends 'extendables/base.html' %}

{% load static %}
{% load has_saved_lead %}

{% block subtitle %}Leads | {% endblock %}

{% block page_title %}Leads{% endblock %}

{% block page_subtitle %}

{% comment %} <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
<small class="text-muted fs-7 fw-bold my-1 ms-1">20 leads found</small> {% endcomment %}

{% endblock %}

{% block actions %}

	{% if request.GET|length > 0 %}
	<a href="{% url 'leads__root:list' %}" class="btn btn-sm btn-secondary me-2">Clear Filter</a>
	<!--begin::Have filter-->
	<a href="#" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary btn-color-primary fw-bolder" data-bs-toggle="modal" data-bs-target="#modal_filter_leads">
		<!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
		<span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="black" />
			</svg>
		</span>
		<!--end::Svg Icon-->
		Filter
	</a>
	<!--end::Have filter-->
	{% else %}
	<a href="#" class="btn btn-sm btn-light btn-light-primary fw-bolder" data-bs-toggle="modal" data-bs-target="#modal_filter_leads">
		<!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
		<span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="black" />
			</svg>
		</span>
		<!--end::Svg Icon-->
		Filter
	</a>
	{% endif %}

<!--begin::Separator-->
<span class="h-20px border-gray-200 border-start mx-2"></span>
<!--end::Separator-->

<!--begin::New Lead-->
<a href="{% url 'leads:create' %}" class="btn btn-sm btn-primary">Post New Lead</a>
<!--end::New Lead-->

{% endblock %}

{% block content %}

<!--begin::Container-->
<div id="kt_content_container" class="container-xxl">

	{% if messages %}
		{% for message in messages %}

	<div class="row">
		<!--begin::Alert-->
		<div class="alert alert-dismissible bg-light-info border border-info d-flex flex-column flex-sm-row p-5 mb-10">
			<!--begin::Wrapper-->
			<div class="d-flex flex-column pe-0 pe-sm-10">
				<h5>{{ message }}</h5>
			</div>
			<!--end::Wrapper-->

			<!--begin::Close-->
			<button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
				<i class="bi bi-x fs-1 text-info"></i>
			</button>
			<!--end::Close-->
		</div>
		<!--end::Alert-->
	</div>

		{% endfor %}
	{% endif %}

	<div class="row">
		<!--begin::Alert-->
		<div class="alert alert-dismissible bg-light-primary border border-primary d-flex flex-column flex-sm-row p-5 mb-10">
			<!--begin::Wrapper-->
			<div class="d-flex flex-column pe-0 pe-sm-10">
				<!--begin::Title-->
				<h5>Recruit agents to help you source or promote goods/services on a commission basis</h5>
				<!--end::Title-->
				<!--begin::Content-->
				<a href="{% url 'leads:create' %}">Post a new lead</a>
				<!--end::Content-->
			</div>
			<!--end::Wrapper-->

			<!--begin::Close-->
			<button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
				<i class="bi bi-x fs-1 text-primary"></i>
			</button>
			<!--end::Close-->
		</div>
		<!--end::Alert-->
	</div>

	{% if lead_list %}

	<div class="row">

		{% for lead in page_obj %}

		<div class="col-lg-4 mb-5">
			<div class="card card-flush shadow-sm">
				<div class="card-header ribbon ribbon-top">
					{% if lead.lead_type == 'selling' %}
						<div class="ribbon-label bg-danger">Selling</div>
					{% elif lead.lead_type == 'buying' %}
						<div class="ribbon-label bg-success">Buying</div>
					{% endif %}
					<a href="{% url 'leads:detail' lead.uuid %}"><h3 class="text-hover-primary card-title mt-15">{{ lead.title }}</h3></a>
				</div>
				<div class="card-body">

					<!-- User -->
					<div class="d-flex align-items-center mb-7">
						{% comment %}
							<!-- No profile photo for now -->
							<div class="symbol symbol-40px me-3">
								<img alt="Logo" src="{% static 'common/assets/media/avatars/150-26.jpg' %}" />
							</div>
						{% endcomment %}
						<div class="symbol symbol symbol-40px me-3">
							<div class="symbol-label fs-3 bg-warning text-light">{{ lead.author.first_name|make_list|first }}{{ lead.author.last_name|make_list|first }}</div>
						</div>
						<div class="d-flex flex-column">
							<div><span class="fw-bolder fs-5 me-2">{{ lead.author.first_name }} {{ lead.author.last_name }}</span>{% if lead.author_type == 'broker' %}<span class="badge badge-info fs-9">Agent</span>{% elif lead.author_type == 'direct' %}<span class="badge badge-dark fs-9">Direct</span>{% endif %}</div>
							<div class="fw-bold text-muted fs-7">{{ lead.author.country_from_phone_number.name }}, {{ lead.create_now_difference_display_text }}</div>
						</div>
						<!--end::Username-->
					</div>

					{% if lead.image_count > 0 %}
					<!--begin::Images-->
					<div class="d-flex mb-7">
						{% for file in lead.files.all|slice:":3" %}
							{% if 'pdf' not in file.file_type %}
								<img alt="img" style="object-fit: cover; width: 100px" class="rounded h-75px me-3" src="{% url "files:get_file" file.uuid %}" />
							{% endif %}
						{% endfor %}
					</div>
					<!--end::Images-->
					{% endif %}

					<div class="fw-bolder fs-6">Commission</div>
					<div class="fs-6 mb-5">{{ lead.commission_pct }}%</div>

					<div class="fw-bolder fs-6">{% if lead.lead_type == 'buying' %}Destination{% elif lead.lead_type == 'selling' %}Source{% endif %} Country</div>
					<div class="fs-6 mb-5">{{ lead.country.name }}</div>

					<div class="fs-6 fw-bold text-gray-600">{{ lead.details|slice:':80' }}{% if lead.details.length > 80 %}...{% endif %}</div>
				</div>
				<div class="card-footer">
					<div class="d-flex flex-stack flex-wrapr">
						<div class="d-flex flex-stack">
							<div class="border border-dashed border-gray-300 rounded py-2 px-3 me-2">
								<!--begin::Svg Icon | path: icons/duotune/communication/com008.svg-->
								<span class="svg-icon svg-icon-3">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path opacity="0.3" d="M4.425 20.525C2.525 18.625 2.525 15.525 4.425 13.525L14.825 3.125C16.325 1.625 18.825 1.625 20.425 3.125C20.825 3.525 20.825 4.12502 20.425 4.52502C20.025 4.92502 19.425 4.92502 19.025 4.52502C18.225 3.72502 17.025 3.72502 16.225 4.52502L5.82499 14.925C4.62499 16.125 4.62499 17.925 5.82499 19.125C7.02499 20.325 8.82501 20.325 10.025 19.125L18.425 10.725C18.825 10.325 19.425 10.325 19.825 10.725C20.225 11.125 20.225 11.725 19.825 12.125L11.425 20.525C9.525 22.425 6.425 22.425 4.425 20.525Z" fill="black" />
										<path d="M9.32499 15.625C8.12499 14.425 8.12499 12.625 9.32499 11.425L14.225 6.52498C14.625 6.12498 15.225 6.12498 15.625 6.52498C16.025 6.92498 16.025 7.525 15.625 7.925L10.725 12.8249C10.325 13.2249 10.325 13.8249 10.725 14.2249C11.125 14.6249 11.725 14.6249 12.125 14.2249L19.125 7.22493C19.525 6.82493 19.725 6.425 19.725 5.925C19.725 5.325 19.525 4.825 19.125 4.425C18.725 4.025 18.725 3.42498 19.125 3.02498C19.525 2.62498 20.125 2.62498 20.525 3.02498C21.325 3.82498 21.725 4.825 21.725 5.925C21.725 6.925 21.325 7.82498 20.525 8.52498L13.525 15.525C12.325 16.725 10.525 16.725 9.32499 15.625Z" fill="black" />
									</svg>
								</span>
								<!--end::Svg Icon-->
								<span class="ms-1 fs-7 fw-bolder text-gray-600">{{ lead.document_count }}</span>
							</div>
						</div>

						<div class="separator"></div>

						{% comment %} <div class="d-flex flex-stack">	
							{% has_saved_lead request.user.user lead as has_saved_lead %}
							{% if has_saved_lead %}
								<button class="btn btn-sm btn-light-danger me-2 fs-7"><span class="svg-icon svg-icon-3">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="black"/>
									</svg></span> Saved</button>
								<button class="btn btn-sm btn-outline btn-outline-primary btn-active-primary fs-7">Details</button>
							{% else %}
								<button class="btn btn-sm btn-light me-2 fs-7"><span class="svg-icon svg-icon-3">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path d="M18.3721 4.65439C17.6415 4.23815 16.8052 4 15.9142 4C14.3444 4 12.9339 4.73924 12.003 5.89633C11.0657 4.73913 9.66 4 8.08626 4C7.19611 4 6.35789 4.23746 5.62804 4.65439C4.06148 5.54462 3 7.26056 3 9.24232C3 9.81001 3.08941 10.3491 3.25153 10.8593C4.12155 14.9013 9.69287 20 12.0034 20C14.2502 20 19.875 14.9013 20.7488 10.8593C20.9109 10.3491 21 9.81001 21 9.24232C21.0007 7.26056 19.9383 5.54462 18.3721 4.65439Z" fill="black"/>
									</svg>
								</span> Save</button>
							{% endif %}
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>



		{% endfor %}
	</div>

{% if page_obj.has_previous %}
	<div class="row mt-5 mx-5">
		<a href="?page={{ page_obj.previous_page_number }}" class="btn btn-bg-secondary btn-light-primary">Last Page</a>
	</div>
{% endif %}


{% if page_obj.has_next %}
	<div class="row mt-5 mx-5">
		<a href="?page={{ page_obj.next_page_number }}" class="btn btn-color-primary btn-active-color-white btn-outline btn-outline-primary">Next Page</a>
	</div>
{% endif %}

	{% endif %}
</div>
<!--end::Container-->

{% endblock %}

{% block modals %}

<form action="{% url 'leads__root:list' %}" method="get">
<div class="modal fade" tabindex="-1" id="modal_filter_leads">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter Leads</h5>
				<!--begin::Close-->
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
					<span class="svg-icon svg-icon-2x">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</div>
				<!--end::Close-->
            </div>

            <div class="modal-body">
                <!--begin::Form-->
                <div class="px-7 py-5">
                    <!--begin::Input group-->
                    <div class="mb-10">
                        <!--begin::Label-->
                        <label class="form-label fw-bold">Title:</label>
                        <input name="title" type="text" class="form-control" {% if request.GET.title %}value="{{ request.GET.title }}"{% endif %} />
                    </div>
                    <div class="mb-10">
                        <label class="form-label fw-bold">Details:</label>
                        <input name="details" type="text" class="form-control" {% if request.GET.details %}value="{{ request.GET.details }}"{% endif %} />
                    </div>
                    <div class="mb-10">
                        <label class="form-label fw-bold mb-5">Buying/Selling?</label>
						<label class="form-check form-check-sm form-check-custom col-12 mb-5">
							<input name="buying" class="form-check-input" type="checkbox" {% if request.GET.buying == 'on' %}checked{% endif %} />
							<span class="form-check-label">Buying</span>
						</label>
						<label class="form-check form-check-sm form-check-custom col-12">
							<input name="selling" class="form-check-input" type="checkbox" {% if request.GET.selling == 'on' %}checked{% endif %} />
							<span class="form-check-label">Selling</span>
						</label>
                    </div>
                    <div class="mb-10">
                        <label class="form-label fw-bold mb-5">Direct/Agent?</label>
						<label class="form-check form-check-sm form-check-custom col-12 mb-5">
							<input name="direct" class="form-check-input" type="checkbox" {% if request.GET.direct == 'on' %}checked{% endif %} />
							<span class="form-check-label">Direct buyer/seller</span>
						</label>
						<label class="form-check form-check-sm form-check-custom col-12">
							<input name="broker" class="form-check-input" type="checkbox" {% if request.GET.broker == 'on' %}checked{% endif %} />
							<span class="form-check-label">Agent</span>
						</label>
                    </div>
                    <div class="mb-10">
                        <label class="form-label fw-bold">User Country:</label>
                        <select name="user_country" class="form-select" data-control="select2" data-placeholder="Select user country">
                            <option></option>
                            {% for country in countries %}
                                <option value="{{ country.programmatic_key }}" {% if request.GET.user_country == country.programmatic_key %}selected{% endif %}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-10">
                        <label class="form-label fw-bold">Lead Source/Destination Country:</label>
                        <select name="lead_country" class="form-select" data-control="select2" data-placeholder="Select lead country">
                            <option></option>
                            {% for country in countries %}
                                <option value="{{ country.programmatic_key }}" {% if request.GET.lead_country == country.programmatic_key %}selected{% endif %}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label class="form-label fw-bold mb-5">Commission payable after:</label>
						<label class="form-check form-check-sm form-check-custom col-12 mb-5">
							<input name="cpa__initial_deposit_received" class="form-check-input" type="checkbox" {% if request.GET.cpa__initial_deposit_received == 'on' %}checked{% endif %} />
							<span class="form-check-label">Initial deposit is received</span>
						</label>
						<label class="form-check form-check-sm form-check-custom col-12 mb-5">
							<input name="cpa__goods_shipped" class="form-check-input" type="checkbox" {% if request.GET.cpa__goods_shipped == 'on' %}checked{% endif %} />
							<span class="form-check-label">Goods are shipped from source country</span>
						</label>
						<label class="form-check form-check-sm form-check-custom col-12 mb-5">
							<input name="cpa__buyer_received_goods_services" class="form-check-input" type="checkbox" {% if request.GET.cpa__buyer_received_goods_services == 'on' %}checked{% endif %} />
							<span class="form-check-label">Full payment has been received</span>
						</label>
						<label class="form-check form-check-sm form-check-custom col-12 mb-5">
							<input name="cpa__full_payment_received" class="form-check-input" type="checkbox" {% if request.GET.cpa__full_payment_received == 'on' %}checked{% endif %} />
							<span class="form-check-label">Buyer has received goods/services</span>
						</label>
						<label class="form-check form-check-sm form-check-custom col-12">
							<input name="cpa__others" class="form-check-input" type="checkbox" {% if request.GET.cpa__others == 'on' %}checked{% endif %} />
							<span class="form-check-label">Others</span>
						</label>
                    </div>
                </div>
                <!--end::Form-->
            </div>

            <div class="modal-footer">
                <button type="reset" class="btn btn-sm btn-secondary">Reset</button>
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start mx-4"></span>
                <!--end::Separator-->
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Apply Filter</button>
            </div>
        </div>
    </div>
</div>
</form>

{% endblock %}