{% extends 'extendables/b.html' %}

{% block title %}Post Lead{% endblock %}
{% block page_title %}Post Lead{% endblock %}
{% block page_subtitle %}Find importers, exporters, buyers, sellers, agents and more.{% endblock %}

{% block actions %}
{% include 'leads/includes/toolbar_actions.html' with hide_lead_create=True %}
{% endblock %}

{% block content_body %}
<form action="{% url 'leads:lead_create' %}" method="post">
    {% csrf_token %}
    <div class="post d-flex flex-column-fluid" id="kt_post">
        {% comment %} Start: Container {% endcomment %}
        <div id="kt_content_container" class="container-xxl">
            <div class="card shadow-sm mt-4">
                {% comment %} Start: Card body {% endcomment %}
                <div class="card-body">
                    <div class="mt-5">
                        <div class="form-floating mt-4 col-lg-6">
                            <textarea class="form-control" data-kt-autosize="true" maxlength="100" placeholder="What are you looking for?" name="body" id="body">{% if form.body.value != None %}{{ form.body.value }}{% endif %}</textarea>
                            <label for="body">What are you looking for?</label>
                        </div>
                        {% if form.body.errors %}<div class="text-danger">{% for error in form.body.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                        <div class="form-check form-check-custom mt-6">
                            <div class="me-3">
                                <input class="form-check-input me-1" type="radio" name="lead_type" id="buying" value="buying" />
                                <label for="buying">
                                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/includes/tooltips/leads/sourcing_goods.txt' %}">Sourcing Goods</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-1" type="radio" name="lead_type" id="selling" value="selling" />
                                <label for="selling">
                                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/includes/tooltips/leads/promoting_goods.txt' %}">Promoting Goods</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-1" type="radio" name="lead_type" id="need_logistics" value="need_logistics" />
                                <label for="need_logistics">
                                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/includes/tooltips/leads/need_logistics.txt' %}">Need Logistics</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-1" type="radio" name="lead_type" id="sourcing_agent" value="sourcing_agent" />
                                <label for="sourcing_agent">
                                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/includes/tooltips/leads/sourcing_agent.txt' %}">Sourcing Agent</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-1" type="radio" name="lead_type" id="sales_agent" value="sales_agent" />
                                <label for="sales_agent">
                                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/includes/tooltips/leads/sales_agent.txt' %}">Sales Agent</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-1" type="radio" name="lead_type" id="logistics_agent" value="logistics_agent" />
                                <label for="logistics_agent">
                                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/includes/tooltips/leads/logistics_agent.txt' %}">Logistics Agent</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-1" type="radio" name="lead_type" id="other" value="other" />
                                <label for="other">
                                    <span class="badge badge-secondary">Other</span>
                                </label>
                            </div>
                        </div>

                        {% if form.lead_type.errors %}<div class="text-danger mt-2">{% for error in form.lead_type.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                    </div>
                </div>
                {% comment %} End: Card body {% endcomment %}
                
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <a href="{% url 'home' %}" class="btn btn-light btn-active-light-primary me-2">Cancel</a>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </div>
        </div>
        {% comment %} End: Container {% endcomment %}
    </div>
</form>
{% endblock %}