{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}Everybase I-Need-Agents{% endblock %}

{% comment %}
Unrendered CSS
Minify with https://www.minifier.org/
{% endcomment %}
{% block unrendered_css %}
<style>
#mobile-filter {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 100px;
    transition: 0.3s;
}

#mobile-filter.is-active {
    left: 0;
}
</style>
{% endblock %}
{% block other_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
#mobile-filter{position:fixed;top:0;left:100%;width:100%;min-height:100vh;display:block;z-index:98;background-color:#fff;padding-top:100px;transition:0.3s}#mobile-filter.is-active{left:0}
</style>
{% endblock %}

{% block page_actions %}
<div class="flex lg:hidden">
    <a href="#" class="border border-blue-700 text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2">New Post</a>
    <button id="filter" class="text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2 ml-2">Filter</button>
</div>
{% endblock %}

{% block content %}
<div class="flex justify-center mt-10 gap-2">
    {% comment %} start: desktop search {% endcomment %}
    <div class="bg-white hidden lg:block lg:w-4/12 xl:w-3/12 2xl:w-3/12 p-10 shadow-md sticky top-20 self-start lg:rounded-xl">
        <a href="{% url 'leads:lead_create' %}" class="w-full py-2 px-7 rounded-xl bg-blue-100 border border-blue-700 hover:bg-blue-200 shadow-md text-center block">New Post</a>
        <h1 class="text-3xl font-bold text-center mt-6">I-Need-Agents</h1>

        <div class="mt-7 flex flex-col justify-center">
            <form action="{% url 'leads:lead_list' %}" type="get">
                <label for="search" class="text-sm font-bold uppercase text-slate-400">Search</label>
                <input name="search"{% if search_value is not None and search_value|cut:' ' != '' %} value="{{ search_value }}"{% endif %} placeholder="Leave blank for all" type="text" class="block w-full border rounded-md py-3 px-5 mt-2">

                <label for="wants_to" class="text-sm font-bold uppercase text-slate-400 mt-5 block">User Wants To</label>
                <div class="mt-2">
                    <select name="wants_to" class="select2">
                        <option value="buy_or_sell"{% if wants_to_value == 'buy_or_sell' %} selected{% endif %}>Buy or Sell</option>
                        <option value="buy"{% if wants_to_value == 'buy' %} selected{% endif %}>Buy</option>
                        <option value="sell"{% if wants_to_value == 'sell' %} selected{% endif %}>Sell</option>
                    </select>
                </div>
                <label for="buy_country" class="text-sm font-bold uppercase text-slate-400 mt-5 block">Buy-From / Source Country</label>
                <div class="mt-2">
                    <select name="buy_country" class="select2">
                        <option value="any_country"{% if buy_country_value == 'any_country' %} selected{% endif %}>Any Country</option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if buy_country_value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="sell_country" class="text-sm font-bold uppercase text-slate-400 mt-5 block">Sell-To / Destination Country</label>
                <div class="mt-2">
                    <select name="sell_country" class="select2">
                        <option value="any_country"{% if sell_country_value == 'any_country' %} selected{% endif %}>Any Country</option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if sell_country_value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="sort_by" class="text-sm font-bold uppercase text-slate-400 mt-5 block">Sort By</label>
                <div class="mt-2">
                    <select name="sort_by" class="select2">
                        <option value="relevance"{% if sort_by_value == 'relevance' %} selected{% endif %}>Relevance</option>
                        <option value="comm_percent_hi_lo"{% if sort_by_value == 'comm_percent_hi_lo' %} selected{% endif %}>Avg Comm % High to Low</option>
                        <option value="comm_percent_lo_hi"{% if sort_by_value == 'comm_percent_lo_hi' %} selected{% endif %}>Avg Comm % Low to High</option>
                        <option value="comm_dollar_hi_lo"{% if sort_by_value == 'comm_dollar_hi_lo' %} selected{% endif %}>Avg Comm $ High to Low</option>
                        <option value="comm_dollar_lo_hi"{% if sort_by_value == 'comm_dollar_lo_hi' %} selected{% endif %}>Avg Comm $ Low to High</option>
                    </select>
                </div>

                <button type="submit" class="w-full py-3 px-7 rounded-xl text-white bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Search</button>
            </form>
        </div>
    </div>
    {% comment %} end: desktop filter {% endcomment %}
    {% comment %} start: mobile filter {% endcomment %}
    <nav id="mobile-filter">
        <h1 class="text-3xl font-bold text-center mt-6">I-Need-Agents</h1>

        <div class="flex flex-col justify-center mt-7 mx-5">
            <form action="{% url 'leads:lead_list' %}" type="get">
                <label for="search" class="text-sm font-bold uppercase text-slate-400 block">Search</label>
                <input name="search"{% if search_value is not None and search_value|cut:' ' != '' %} value="{{ search_value }}"{% endif %} placeholder="Leave blank for all" type="text" class="block w-full border rounded-md py-3 px-5 mt-2">

                <label for="wants_to" class="text-sm font-bold uppercase text-slate-400 mt-5 block">User Wants To</label>
                <div class="mt-2">
                    <select name="wants_to" class="select2">
                        <option value="buy_or_sell"{% if wants_to_value == 'buy_or_sell' %} selected{% endif %}>Buy or Sell</option>
                        <option value="buy"{% if wants_to_value == 'buy' %} selected{% endif %}>Buy</option>
                        <option value="sell"{% if wants_to_value == 'sell' %} selected{% endif %}>Sell</option>
                    </select>
                </div>

                <label for="buy_country" class="text-sm font-bold uppercase text-slate-400 mt-5 block">Buy From This Country</label>
                <div class="mt-2">
                    <select name="buy_country" class="select2">
                        <option value="any_country"{% if sell_country_value == 'any_country' %} selected{% endif %}>Any Country</option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if buy_country_value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="sell_country" class="text-sm font-bold uppercase text-slate-400 mt-5 block">Sell To This Country</label>
                <div class="mt-2">
                    <select name="sell_country" class="select2">
                        <option value="any_country"{% if sell_country_value == 'any_country' %} selected{% endif %}>Any Country</option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if sell_country_value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="sort_by" class="text-sm font-bold uppercase text-slate-400 mt-5 block">Sort By</label>
                <div class="mt-2">
                    <select name="sort_by" class="select2">
                        <option value="relevance"{% if sort_by_value == 'relevance' %} selected{% endif %}>Relevance</option>
                        <option value="comm_percent_hi_lo"{% if sort_by_value == 'comm_percent_hi_lo' %} selected{% endif %}>Avg Comm % High to Low</option>
                        <option value="comm_percent_lo_hi"{% if sort_by_value == 'comm_percent_lo_hi' %} selected{% endif %}>Avg Comm % Low to High</option>
                        <option value="comm_dollar_hi_lo"{% if sort_by_value == 'comm_dollar_hi_lo' %} selected{% endif %}>Avg Comm $ High to Low</option>
                        <option value="comm_dollar_lo_hi"{% if sort_by_value == 'comm_dollar_lo_hi' %} selected{% endif %}>Avg Comm $ Low to High</option>
                    </select>
                </div>

                <button class="w-full py-3 px-7 rounded-xl text-white bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Search</button>
            </form>
        </div>
    </nav>
    {% comment %} end: mobile filter {% endcomment %}

    <div class="w-5/6 lg:w-6/12 xl:w-7/12 2xl:w-6/12">
        {% comment %} start: page item count > 0 {% endcomment %}
        {% if page_obj|length > 0 %}

        {% include 'includes/paginator.html' %}

        {% for lead in page_obj %}

        <div class="mt-2">
            <div class="flex justify-between bg-blue-100 w-full px-5">
                <div class="flex flex-col py-3">
                    <a href="{% url 'relationships:user_comments' lead.author.id %}" class="font-bold">{{ lead.author.first_name }} {{ lead.author.last_name }}</a>
                    <div>{{ lead.author.country.name }}</div>
                    <div class="text-slate-400">{{ lead.author.num_comments }} comments</div>
                </div>
                <div class="flex flex-col justify-center">
                    <button class="font-bold rounded-xl text-white bg-green-500 hover:bg-green-600 shadow-md py-2 px-5">WhatsApp</button>
                </div>
            </div>

            {% include 'leads/includes/lead_item.html' with summary=True %}
        </div>

        {% endfor %}

        {% include 'includes/paginator.html' with other_css_classes='mt-5' %}
        
        {% else %}
        {% comment %} else: page item count <= 0 {% endcomment %}

        <div class="font-bold text-center">No results</div>   

        {% endif %}
        {% comment %} end: page item count > 0 {% endcomment %}
    </div>
</div>
{% endblock %}

{% comment %}
Unrendered Javascript
Minify with https://www.minifier.org/
{% endcomment %}
{% block unrendered_javascript %}
<script>
$(document).ready(function() {
    $('.select2').select2();

    $('.select2').one('select2:open', function(e) {
        $('input.select2-search__field').prop('placeholder', 'Search here...');
    });

    $('#filter').click(function() {
        t = $(this);
        if (t.html() == 'Filter') {
            t.html('Close');
        } else {
            t.html('Filter');
        }

        t.toggleClass('bg-blue-500');
        t.toggleClass('text-white');
        t.toggleClass('hover:bg-blue-600');
        t.toggleClass('bg-slate-100');
        t.toggleClass('text-slate-600');
        t.toggleClass('hover:bg-slate-200');

        $('#mobile-filter').toggleClass('is-active');
    });
});
</script>
{% endblock %}
{% block other_script %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>  
$(document).ready(function(){$('.select2').select2();$('.select2').one('select2:open',function(e){$('input.select2-search__field').prop('placeholder','Search...')});$('#filter').click(function(){t=$(this);if(t.html()=='Filter'){t.html('Close')}else{t.html('Filter')}
t.toggleClass('bg-blue-500');t.toggleClass('text-white');t.toggleClass('hover:bg-blue-600');t.toggleClass('bg-slate-100');t.toggleClass('text-slate-600');t.toggleClass('hover:bg-slate-200');$('#mobile-filter').toggleClass('is-active')})})
</script>
{% endblock %}