{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}{{ lead.author.first_name }} Needs Agent{% endblock %}

{% comment %}
Unrendered CSS
Minify with https://www.minifier.org/
{% endcomment %}
{% block unrendered_css %}
<style>
#mobile-filter {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 100px;
    transition: 0.3s;
}

#mobile-filter.is-active {
    left: 0;
}
</style>
{% endblock %}
{% block other_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
#mobile-filter{position:fixed;top:0;left:100%;width:100%;min-height:100vh;display:block;z-index:98;background-color:#fff;padding-top:100px;transition:0.3s}#mobile-filter.is-active{left:0}
</style>
{% endblock %}

{% block page_actions %}
<div class="flex lg:hidden">
    <a class="py-2 px-5 font-bold rounded-xl text-white bg-green-500 hover:bg-green-600 shadow-md">WhatsApp</a>
    {% if user.is_authenticated and user.id == object.author.id %}
    <a class="py-2 px-5 font-bold rounded-xl text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200">Edit Profile</a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="flex flex-col lg:flex-row justify-center mt-10 gap-2">
    {% include 'relationships/includes/user_detail_side.html' with viewing_user=user detail_user=lead.author only %}

    <div class="w-full lg:w-6/12 xl:w-7/12 2xl:w-6/12 lg:mt-0 mt-4">
        <div class="flex items-center justify-evenly">
            <a href="#" class="w-1/2 text-center py-3 text-slate-600 bg-slate-200 hover:bg-slate-300 shadow-sm lg:rounded-tl-xl">Comments</a>
            <a href="#" class="w-1/2 text-center py-3 text-slate-600 bg-slate-200 hover:bg-slate-300 shadow-sm lg:rounded-tr-xl">I-Need-Agents</a>
        </div>

        {% include 'leads/includes/lead.html' with summary=False lead=lead only %}
    </div>
</div>
{% endblock %}

{% comment %}
Unrendered Javascript
Minify with https://www.minifier.org/
{% endcomment %}
{% block unrendered_javascript %}
<script>
$(document).ready(function() {
    $('.select2').select2();

    $('.select2').one('select2:open', function(e) {
        $('input.select2-search__field').prop('placeholder', 'Search here...');
    });

    $('#filter').click(function() {
        t = $(this);
        if (t.html() == 'Filter') {
            t.html('Close');
        } else {
            t.html('Filter');
        }

        t.toggleClass('bg-blue-500');
        t.toggleClass('text-white');
        t.toggleClass('hover:bg-blue-600');
        t.toggleClass('bg-slate-100');
        t.toggleClass('text-slate-600');
        t.toggleClass('hover:bg-slate-200');

        $('#mobile-filter').toggleClass('is-active');
    });
});
</script>
{% endblock %}
{% block other_script %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>  
$(document).ready(function(){$('.select2').select2();$('.select2').one('select2:open',function(e){$('input.select2-search__field').prop('placeholder','Search...')});$('#filter').click(function(){t=$(this);if(t.html()=='Filter'){t.html('Close')}else{t.html('Filter')}
t.toggleClass('bg-blue-500');t.toggleClass('text-white');t.toggleClass('hover:bg-blue-600');t.toggleClass('bg-slate-100');t.toggleClass('text-slate-600');t.toggleClass('hover:bg-slate-200');$('#mobile-filter').toggleClass('is-active')})})
</script>
{% endblock %}