{% extends 'superio/extendables/b.html' %}

{% load static %}

{% block page_wrapper_classes %} dashboard{% endblock %}

{% block title %}Edit Lead{% endblock %}

{% block mobile_header_actions %}<a id="toggle-user-sidebar"><span class="mobile-nav-toggler las la-bars"></span></a>{% endblock %}

{% block contents %}
{% include 'superio/includes/dashboard_sidebar.html' %}

{% comment %} Start: Dashboard {% endcomment %}
<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="upper-title-box">
            <h3>Edit Lead</h3>
            <div class="text">Find agents to help you buy or sell on commissions</div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ls-widget">
                    <div class="tabs-box">
                        <div class="widget-title">
                            {% comment %} <h4>Lead Details</h4> {% endcomment %}
                        </div>

                        <div class="widget-content">
                            <form class="default-form" action="{% url 'leads:lead_edit' slug_link %}" method="post">
                                {% csrf_token %}
                                
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-12">
                                        <label for="lead_type">Do you need agents to help you buy or sell?</label>
                                        <select id="lead_type" name="lead_type" class="chosen-select">
                                            <option value="selling"{% if form.lead_type.value == 'selling' %} selected{% endif %}>Selling</option>
                                            <option value="buying"{% if form.lead_type.value == 'buying' %} selected{% endif %}>Buying</option>
                                        </select>
                                        {% if form.lead_type.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.lead_type.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div>

                                    <div class="form-group col-lg-6 col-md-12">
                                        <label>Country</label>
                                        {% comment %} Map country to either buy_country or sell_country on the backend depending on lead_type {% endcomment %}
                                        <select name="country" class="chosen-select">
                                            {% for country in countries %}
                                                <option value="{{ country.programmatic_key }}"{% if form.country.value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if form.country.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.country.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div>

                                    <div class="form-group col-lg-6 col-md-12">
                                        <label>Category</label>
                                        <select name="category" class="chosen-select">
                                            <option value="other"{% if form.category.value == None %} selected{% endif %}>Other</option>
                                            {% for c in categories %}
                                                <option value="{{ c.programmatic_key }}"{% if form.category.value == c.programmatic_key %} selected{% endif %}>{{ c.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if form.category.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.category.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div>

                                    {% comment %} <div class="form-group col-lg-6 col-md-12">
                                        <label id="author_type__label" for="author_type">Are you direct buyer/seller or middleman?</label>
                                        <select id="author_type" name="author_type" class="chosen-select">
                                            <option></option>
                                            <option id="author_type__option__direct" value="direct"{% if form.author_type.value == 'direct' %} selected{% endif %}>Direct Buyer/Seller</option>
                                            <option value="broker"{% if form.author_type.value == 'broker' %} selected{% endif %}>Middleman</option>
                                        </select>
                                        {% if form.author_type.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.author_type.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div> {% endcomment %}
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-12">
                                        <label for="commission_type">How is agent commission calculated?</label>
                                        <select id="commission_type" name="commission_type" class="chosen-select">
                                            <option value="percentage"{% if form.commission_type.value == 'percentage' %} selected{% endif %}>Percentage</option>
                                            <option value="usd_mt"{% if form.commission_type.value == 'usd_mt' %} selected{% endif %}>USD Per MT</option>
                                        </select>
                                        {% if form.commission_type.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.commission_type.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div>

                                    <div id="commission_usd_mt_fields" class="form-group col-lg-6 col-md-12">
                                        <label>Commission, USD per Metric Ton</label>
                                        <input type="number" step="0.1" id="commission_usd_mt" name="commission_usd_mt"{% if form.commission_usd_mt.value != None %} value="{{ form.commission_usd_mt.value }}"{% endif %}>
                                        <div id="commission_usd_mt_error_js" style="color:red; margin-left:20px; margin-top:10px"></div>
                                        {% if form.commission_usd_mt.errors %}<div id="commission_usd_mt_error" style="color:red; margin-left:20px; margin-top:10px">{% for error in form.commission_usd_mt.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div>
                                </div>

                                <div id="min_max_commission_fields" class="row">
                                    <div class="form-group col-lg-6 col-md-12">
                                        <label>Minimum Commission %</label>
                                        <input type="number" step="0.1" id="min_commission_percentage" name="min_commission_percentage"{% if form.min_commission_percentage.value != None %} value="{{ form.min_commission_percentage.value }}"{% endif %}>
                                        <div id="min_commission_percentage_error_js" style="color:red; margin-left:20px; margin-top:10px"></div>
                                        {% if form.min_commission_percentage.errors %}<div id="min_commission_percentage_error" style="color:red; margin-left:20px; margin-top:10px">{% for error in form.min_commission_percentage.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div>

                                    <div class="form-group col-lg-6 col-md-12">
                                        <label>Maximum Commission %</label>
                                        <input type="number" step="0.1" id="max_commission_percentage" name="max_commission_percentage"{% if form.max_commission_percentage.value != None %} value="{{ form.max_commission_percentage.value }}"{% endif %}>
                                        <div id="max_commission_percentage_error_js" style="color:red; margin-left:20px; margin-top:10px"></div>
                                        {% if form.max_commission_percentage.errors %}<div id="max_commission_percentage_error" style="color:red; margin-left:20px; margin-top:10px">{% for error in form.max_commission_percentage.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12 col-md-12">
                                        <label>Lead Headline</label>
                                        <input type="text" name="headline"{% if form.headline.value != None %} value="{{ form.headline.value }}"{% endif %}>
                                        {% if form.headline.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.headline.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12 col-md-12">
                                        <label>Lead Details</label>
                                        <textarea name="details">{% if form.details.value != None %}{{ form.details.value }}{% endif %}</textarea>
                                        {% if form.details.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.details.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>Questions for agents applying to your lead</label>
                                    <textarea name="questions">{% if form.questions.value != None %}{{ form.questions.value }}{% endif %}</textarea>
                                    {% if form.questions.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.questions.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-12">
                                        <button id="submit" type="submit" class="theme-btn btn-style-one">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% comment %} End: Dashboard {% endcomment %}
{% endblock %}

{% block footer %}
{% include 'superio/includes/dashboard_footer.html' %}
{% endblock %}

{% comment %}
$(document).ready(function() {
    $lead_type = $('#lead_type')

    $author_type__label = $('#author_type__label')
    $author_type = $('#author_type')
    $author_type__option__direct = $('#author_type__option__direct')

    $min_commission_percentage = $('#min_commission_percentage')
    $min_commission_percentage_error_js = $('#min_commission_percentage_error_js')
    $min_commission_percentage_error = $('#min_commission_percentage_error')
    $max_commission_percentage = $('#max_commission_percentage')
    $max_commission_percentage_error_js = $('#max_commission_percentage_error_js')
    $max_commission_percentage_error = $('#max_commission_percentage_error')

    function update_author_type_ui__lead_type__buying() {
        // Update 'author type' UI when 'lead type' has changed to 'buying'.
        $author_type__label.text('Are you a direct buyer or a middleman?')
        $author_type__option__direct.text('Direct Buyer')
        $author_type.trigger("chosen:updated") // Refresh
    }

    function update_author_type_ui__lead_type__selling() {
        // Update 'author type' UI when 'lead type' has changed to 'selling'.
        $author_type__label.text('Are you a direct seller or a middleman?')
        $author_type__option__direct.text('Direct Seller')
        $author_type.trigger("chosen:updated") // Refresh
    }

    $lead_type.change(function() {
        choice = $lead_type.val()
        if (choice == 'buying') {
            update_author_type_ui__lead_type__buying()
        } else if (choice == 'selling') {
            update_author_type_ui__lead_type__selling()
        }
    })

    $min_commission_percentage.on('input', function() {
        min_value = $min_commission_percentage.val()
        max_value = $max_commission_percentage.val()
        if (min_value == '') {
            // Don't check unless textfield is populated
            $min_commission_percentage_error_js.hide()
        } else if (min_value < 0.01 || min_value > 100) {
            $min_commission_percentage_error_js.show()
            $min_commission_percentage_error_js.text('Agent commission must be between 0.01% and 100%')
            $min_commission_percentage_error.hide()
        } else if (min_value >= max_value && max_value != '') {
            $min_commission_percentage_error_js.show()
            $min_commission_percentage_error_js.text('Minimum commission must be smaller than maximum commission')
            $min_commission_percentage_error.hide()
        } else {
            $min_commission_percentage_error_js.hide()
        }
    })

    $max_commission_percentage.on('input', function() {
        min_value = $min_commission_percentage.val()
        max_value = $max_commission_percentage.val()
        if (max_value == '') {
            // Don't check unless textfield is populated
            $max_commission_percentage_error_js.hide()
        } else if (max_value < 0.01 || max_value > 100) {
            $max_commission_percentage_error_js.show()
            $max_commission_percentage_error_js.text('Agent commission must be between 0.01% and 100%')
            $max_commission_percentage_error.hide()
        } else if (max_value <= $min_commission_percentage.val() && min_value != '') {
            $max_commission_percentage_error_js.show()
            $max_commission_percentage_error_js.text('Maximum commission must be greater than minimum commission')
            $max_commission_percentage_error.hide()
        } else {
            $max_commission_percentage_error_js.hide()
        }
    })

    // Show loading indicator on submission
    // $('#submit').click(function() {
    //     $.LoadingOverlay("show")
    // })
})
{% endcomment %}
{% block other_scripts %}
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
<script src="{% static 'leads/js/lead_create_edit_superio.min.js' %}"></script>
<script src="{% static 'common/js/prevent_resubmit.js' %}"></script>
{% endblock %}