{% extends 'extendables/base.html' %}

{% block title %}
    Delete Material?
{% endblock %}

{% block content_header %}
    <form method="post" action="{% url 'materials:delete' material.id %}">
        {% csrf_token %}
{% endblock %}

{% block subtitle %}
    Delete Material?
{% endblock %}

{% block toolbar %}
    <a href="{% url 'materials:details' material.id %}" class="btn btn-warning">No, Cancel</a>
    <button type="submit" class="btn btn-danger">Yes, Delete Material</button>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-5 form-group">
                        <label>Material Name</label>
                        <h5>{{ material.name }}</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Material Code</label>
                        <h5>{{ material.code }}</h5>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label># Documents</label>
                        <h5>25</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_footer %}
    </form>
{% endblock %}