{% extends 'extendables/base.html' %}

{% block title %}
    {{ material.name }} ({{ material.code }})
{% endblock %}

{% block subtitle %}
    {{ material.name }} ({{ material.code }})
{% endblock %}

{% block toolbar %}
    <a href="{% url 'materials:list' %}" class="btn btn-outline-secondary"><i class="flaticon2-left-arrow-1"></i>Materials</a>
    <div class="dropdown dropdown-inline">
        <button type="button" class="btn btn-label-primary btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flaticon-more-1"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'materials:edit' material.id %}"><i class="la la-pencil-square"></i>Edit</a>
            <a class="dropdown-item" href="#"><i class="la la-trash"></i>Delete</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-5 form-group">
                        <label>Material Name</label>
                        <h5>{{ material.name }}</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Material Code</label>
                        <h5>{{ material.code }}</h5>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label># Documents</label>
                        <a href="#"><h5>25</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}