{% load static %}

<!DOCTYPE html>
<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		<title>{% block title %}Everybase{% endblock %} | {% block subtitle %}Home{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}" />
		<meta name="keywords" content="{% block keywords %}{% endblock %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<meta property="og:locale" content="{% block og_locale %}{% endblock %}" />
		<meta property="og:type" content="{% block og_type %}{% endblock %}" />
		<meta property="og:title" content="{% block og_title %}{% endblock %}" />
		<meta property="og:url" content="{% block og_url %}{% endblock %}" />
		<meta property="og:site_name" content="{% block og_site_name %}{% endblock %}" />
		<link rel="canonical" href="{% block canonical %}{% endblock %}" />
		<link rel="shortcut icon" href="{% static 'common/assets/media/logos/favicon.ico' %}" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendor Stylesheets(used by this page)-->
		<link href="{% static 'common/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="{% static 'common/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'common/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">

		{% include 'layout/master.html' %}

		<script>var hostUrl = "assets/";</script>
		<!--begin::Javascript-->
		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="{% static 'common/assets/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'common/assets/js/scripts.bundle.js' %}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Page Vendors Javascript(used by this page)-->
		<script src="{% static 'common/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
		<!--end::Page Vendors Javascript-->
		<!--begin::Page Custom Javascript(used by this page)-->
		<script src="{% static 'common/assets/js/custom/widgets.js' %}"></script>
		<script src="{% static 'common/assets/js/custom/apps/chat/chat.js' %}"></script>
		<script src="{% static 'common/assets/js/custom/modals/create-app.js' %}"></script>
		<script src="{% static 'common/assets/js/custom/modals/upgrade-plan.js' %}"></script>
		<script src="{% static 'common/assets/js/custom/intro.js' %}"></script>
		<!--end::Page Custom Javascript-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>