<!-- May be combined with 'delete' into a single details page -->

{% extends 'extendables/base.html' %}

{% block title %}
    Edit Account
{% endblock %}

{% block subtitle %}
    Edit Account
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-warning">Cancel</a>
    <button type="submit" href="#" class="btn btn-success">Apply Changes</button>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Email</label>
                        <h5>kevin.ng@kiyoko.jp</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Access</label>
                        <select class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            <option value="coa">Administrator</option>
                            <option value="coa">Document Maintainer</option>
                        </select>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" value="Kevin" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" value="Ng" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}