{% extends 'extendables/base.html' %}

{% load widget_tweaks %}

{% block title %}
    Set New Password
{% endblock %}

{% block content %}
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post" action="{% url 'set_password_post' %}">
                    {% csrf_token %}
                    <div class="kt-portlet">
                        <div class="kt-portlet__head kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Set New Password
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            {% if form.errors %}
                                <div class="alert alert-secondary">
                                    <div class="alert-icon"><i class="flaticon-warning kt-font-danger"></i></div>
                                    <div class="alert-text">
                                        {% for error in form.non_field_errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="form-group col-lg-8">
                                    <label>Password</label>
                                    {{ form.password|add_class:"form-control"|add_error_class:"is-invalid" }}
                                    {% if form.password.errors %}
                                        <div class="invalid-feedback">{{ form.password.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="form-group col-lg-8">
                                    <label>Confirm Password</label>
                                    {{ form.confirm_password|add_class:"form-control"|add_error_class:"is-invalid" }}
                                    {% if form.confirm_password.errors %}
                                        <div class="invalid-feedback">{{ form.confirm_password.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                            {{ form.code }}
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="kt-form__actions col-lg-8">
                                    <button type="submit" class="btn btn-primary col-lg-6">Reset Password and Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.next }}
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}