{% comment %}
Params:
    detail_user, user whose details are being shown

Dependencies:
    relationships/templates/relationships/includes/js/user_detail_side.js
{% endcomment %}
<div class="bg-white lg:block lg:w-1/3 xl:w-1/4 lg:self-start rounded shadow-md">
    <div class="flex flex-col items-center">
        <h1 class="text-2xl font-bold text-center mt-10 px-10">{{ detail_user.first_name }} {{ detail_user.last_name }}</h1>
        <div class="mt-2">{{ detail_user.country.name }}{% if detail_user.state_string is not None %}, {{ detail_user.state_string }}{% endif %}</div>
        {% if detail_user.company_name %}
            <div class="">{{ detail_user.company_name }}</div>
        {% endif %}
        {% if user.is_authenticated and user.user.id == detail_user.id %}
            <a href="{% url 'users:user_edit' user.user.id %}" class="py-2 px-4 mt-4 rounded-md text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200">Edit Profile</a>
            <a href="{% url 'logout' %}" class="text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded-md px-4 py-2 mt-2">Logout</a>
        {% elif user.user.id != detail_user.id %}
            <a href="{% url 'users:whatsapp' detail_user.id %}" class="py-2 px-4 mt-4 rounded-md text-white bg-green-500 hover:bg-green-600 shadow-md">WhatsApp</a>
            {% if user.is_authenticated %}
                {% load last_contacted %}
                {% last_contacted user.user detail_user as last_contacted %}
                {% if last_contacted is not None %}
                    <div class="mt-2">
                        Contacted {% last_contacted user.user detail_user %}
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}    
        {% if user.user.id != detail_user.id %}
            {% if user.is_authenticated %}
                {% comment %} Allow toggling of save-unsave asynchronously {% endcomment %}
                {% load has_saved_user %}
                {% has_saved_user user.user detail_user as has_saved_user %}
                <button id="toggle_save_user" class="py-2 px-4 mt-2 rounded-md shadow-md {% if has_saved_user == True %}text-white bg-blue-500 hover:bg-blue-600{% else %}text-slate-600 bg-slate-100 hover:bg-slate-200{% endif %}">{% if has_saved_user == True %}Person Saved{% else %}Save Person{% endif %}</button>
            {% else %}
                {% comment %} Direct user to login and come back to this page with user saved {% endcomment %}
                <a href="{% url 'users:toggle_save_user' detail_user.id %}" class="py-2 px-4 mt-2 rounded-md text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200">Save Person</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="bg-white px-8 pb-8 mt-8">
        {% comment %} start: goods_string {% endcomment %}
        {% if detail_user.goods_string is not None and detail_user.goods_string|cut:' ' != '' %}
            <div class="font-bold text-slate-400">Goods & Services</div>
            <div class="mt-1">{{ detail_user.goods_string }}</div>
        {% endif %}
        {% comment %} end: goods_string {% endcomment %}

        {% comment %} start: languages_string {% endcomment %}
        {% if detail_user.languages_string is not None and detail_user.languages_string|cut:' ' != '' %}
        <div class="font-bold text-slate-400 mt-4">Languages</div>
        <div class="mt-1">{{ detail_user.languages_string }}</div>
        {% endif %}
        {% comment %} end: languages_string {% endcomment %}

        {% comment %} start: is_buy_agent and buy_agent_details {% endcomment %}
        {% if detail_user.is_buy_agent == True %}
        <div class="font-bold text-slate-400 mt-4">Buying or Sourcing Agent</div>
        <div class="mt-1">{% if detail_user.buy_agent_details is not None and detail_user.buy_agent_details|cut:' ' != '' %}{{ detail_user.buy_agent_details }}{% else %}<span class='italic'>Contact user for more details.</span>{% endif %}</div>
        {% endif %}
        {% comment %} end: is_buy_agent and buy_agent_details {% endcomment %}

        {% comment %} start: is_sell_agent and sell_agent_details {% endcomment %}
        {% if detail_user.is_sell_agent == True %}
        <div class="font-bold text-slate-400 mt-4">Selling or Promoting Agent</div>
        <div class="mt-1">{% if detail_user.sell_agent_details is not None and detail_user.sell_agent_details|cut:' ' != '' %}{{ detail_user.sell_agent_details }}{% else %}<span class='italic'>Contact user for more details.</span>{% endif %}</div>
        {% endif %}
        {% comment %} end: is_sell_agent and sell_agent_details {% endcomment %}

        {% comment %} start: is_logistics_agent and logistics_agent_details {% endcomment %}
        {% if detail_user.is_logistics_agent == True %}
        <div class="font-bold text-slate-400 mt-4">Logistics Agent</div>
        <div class="mt-1">{% if detail_user.logistics_agent_details is not None and detail_user.logistics_agent_details|cut:' ' != '' %}{{ detail_user.logistics_agent_details }}{% else %}<span class='italic'>Contact user for more details.</span>{% endif %}</div>
        {% endif %}
        {% comment %} end: is_logistics_agent and logistics_agent_details {% endcomment %}
    </div>
</div>