{% extends 'extendables/base.html' %}

{% block title %}
    Materials
{% endblock %}

{% block content_header %}
    <form method="get" action="{% url 'materials:list' %}">
{% endblock %}

{% block subtitle %}
    Materials
{% endblock %}

{% block toolbar %}
    <a href="{% url 'materials:create' %}" class="btn btn-primary"><i class="flaticon2-plus"></i>New Material</a>
{% endblock %}

{% block content %}
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">

                        <button type="submit" class="btn btn-primary kt-margin-b-20"><i class="flaticon-refresh"></i>Refresh</button>
                        <div class="kt-separator kt-separator--border"></div>
                        <div class="form-group">
                            <label>Material Name</label>
                            <input name="name" type="search" class="form-control" placeholder="Leave blank to show all" value="{{ request.GET.name }}">
                        </div>
                        <div class="form-group">
                            <label>Material Code</label>
                            <input name="code" type="search" class="form-control" placeholder="Leave blank to show all" value="{{ request.GET.code }}">
                        </div>

                    </div>
                </div>
            </div>

            <!-- begin:: Material list -->
            <div class="col-lg-9">

                {% if material_list %}

                    {% for material in material_list %}

                        {% cycle '<div class="row">' '' '' %}

                        <div class="col-lg-4">
                            <div class="kt-portlet kt-portlet--height-fluid">                            
                                <div class="kt-portlet__head kt-portlet__head--noborder kt-margin-t-5">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            <a href="{% url 'materials:details' material.id %}">{{ material.name }}</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="kt-widget kt-widget--user-profile-2">
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label">Material Code</span>
                                                    <span class="kt-widget__data">{{ material.code }}</span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__contact">
                                                    <span class="kt-widget__label"># Documents</span>
                                                    <span class="kt-widget__data"><a href="">25</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                            </div>
                        </div>

                        {% cycle '' '' '</div>' %}

                    {% endfor %}

                    {% if not material_list|length|divisibleby:3 %}
                        </div>
                    {% endif %}

                {% endif %}

                <!-- begin:: Paginator -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__body">
                                <div class="kt-pagination kt-pagination--brand">
                                    <ul class="kt-pagination__links">
                                        {% if is_paginated %}

                                            {% if page_obj.has_previous %}
                                                <li class="kt-pagination__link--first">
                                                    <a href="{% url 'materials:list' %}?page=1"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                                                </li>
                                                <li class="kt-pagination__link--next">
                                                    <a href="{% url 'materials:list' %}?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left kt-font-brand"></i></a>
                                                </li>
                                            {% endif %}

                                            {% for i in paginator.page_range %}
                                                {% if page_obj.number == i %}
                                                    <li class="kt-pagination__link--active">
                                                        <a href="#">{{ i }}</a>
                                                    </li>
                                                {% elif i < page_obj.number and i > 3 and i == page_obj.number|add:-1 %}
                                                    <li>
                                                        <a href="{% url 'materials:list' %}?page={{ i }}">...</a>
                                                    </li>
                                                {% elif i > page_obj.number and i < page_obj.num_pages|add:-3 and i == page_obj.number|add:+1 %}
                                                    <li>
                                                        <a href="{% url 'materials:list' %}?page={{ i }}">...</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="{% url 'materials:list' %}?page={{ i }}">{{ i }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if page_obj.has_next %}
                                                <li class="kt-pagination__link--prev">
                                                    <a href="{% url 'materials:list' %}?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right kt-font-brand"></i></a>
                                                </li>
                                                <li class="kt-pagination__link--last">
                                                    <a href="{% url 'materials:list' %}?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right kt-font-brand"></i></a>
                                                </li>
                                            {% endif %}

                                        {% endif %}
                                    </ul>
                                    <div class="kt-pagination__toolbar">
                                        <span class="pagination__desc">
                                            {{ material_list|length }} Results
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end:: Paginator -->
            </div>

            <!-- end:: Material list -->
        </div>
    </div>
{% endblock %}

{% block content_footer %}
    </form>
{% endblock %}

