{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}We help exporters find agents to sell their products overseas{% endblock %}</title>

    {% comment %} Stylesheets {% endcomment %}
    <link href="{% static 'common/superio/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'common/superio/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'common/superio/css/responsive.css' %}" rel="stylesheet">
    {% block other_css %}{% endblock %}

    <link rel="shortcut icon" href="{% static 'common/superio/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'common/superio/images/favicon.png' %}" type="image/x-icon">

    {% comment %} Responsive {% endcomment %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'common/superio/js/respond.js' %}"></script><![endif]-->
</head>

<body{% block body_properties %} data-anm=".anm"{% endblock %}>
    {% comment %} Start: Page wrapper {% endcomment %}
    <div class="page-wrapper {% block page_wrapper_classes %}{% endblock %}">

        {% comment %} Preloader {% endcomment %}
        <div class="preloader"></div>

        {% comment %} Header span {% endcomment %}
        <span class="header-span"></span>

        {% comment %} Start: Main header {% endcomment %}
        <header class="main-header alternate -type-12">
            <div class="auto-container">
                {% comment %} Main box {% endcomment %}
                <div class="main-box">
                    {% comment %} Nav outer {% endcomment %}
                    <div class="nav-outer">
                        <div class="logo-box">
                            <div class="logo"><a href="/"><img src="{% static 'common/img/logo.png' %}" alt="Everybase" title="Everybase"></a></div>
                        </div>
                    </div>
                    <div class="outer-box">
                        <nav class="nav main-menu">
                            <ul class="navigation" id="navbar">
                                <li {% if request.resolver_match.view_name == 'leads:lead_list' %}class="current"{% endif %}>
                                    <a href="{% url 'leads:lead_list' %}"><span>Leads</span></a>
                                </li>

                                <li>
                                    <a href="https://everybase.freshdesk.com/support/home" target="everybase_support"><span>Support</span></a>
                                </li>

                                {% comment %} Mobile view {% endcomment %}
                                <li class="mm-add-listing">
                                    <span>
                                        <span class="contact-info">
                                            <span class="address">Singapore</span>
                                            <a href="mailto:friend@everybase.co" class="email">friend@everybase.co</a>
                                        </span>
                                        <span class="social-links">
                                            <a href="https://www.facebook.com/everybase.co/"><span class="fab fa-facebook-f"></span></a>
                                            <a href="https://twitter.com/everybase_co"><span class="fab fa-twitter"></span></a>
                                            <a href="https://www.linkedin.com/company/everybase"><span class="fab fa-linkedin-in"></span></a>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </nav>

                        {% comment %} Login/Register {% endcomment %}
                        {% if not request.user.is_authenticated %}
                            <div class="btn-box">
                                <a href="{% url 'sign_up' %}" class="theme-btn btn-style-three">Register</a>
                                <a href="{% url 'sign_in' %}" class="theme-btn btn-style-one">Sign In</a>
                            </div>
                        {% else %}
                            <div class="dropdown dashboard-option">
                                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <span class="name">{% if request.user.user.first_name == None or request.user.user.last_name == None %}{{ request.user.user.email.email }}{% else %}{{ request.user.user.first_name|title }} {{ request.user.user.last_name|title }}{% endif %}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li{% if request.resolver_match.view_name == 'users:profile' or request.resolver_match.view_name == 'leads:lead_create' or request.resolver_match.view_name == 'leads:my_leads' or request.resolver_match.view_name == 'leads:inbox' %} class="active"{% endif %}><a href="{% url 'users:profile' %}"> <i class="la la-home"></i> Dashboard</a></li>
                                    <li><a href="{% url 'sign_out' %}?next={{ request.path }}"><i class="la la-sign-out"></i>Sign Out</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% comment %} Mobile header {% endcomment %}
            <div class="mobile-header">
                <div class="logo"><a href="/"><img src="{% static 'common/img/logo.png' %}" style="width: 152px; height: 21px;" alt="Everybase" title="Everybase"></a></div>
                {% comment %} Nav box {% endcomment %}
                <div class="nav-outer clearfix">
                    <div class="outer-box">
                        {% comment %} Login/Register {% endcomment %}
                        <div class="login-box">
                            <a href="{% url 'sign_in' %}"><span class="icon-user"></span></a>
                        </div>
                        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
                    </div>
                </div>
            </div>

            <!-- Mobile Nav -->
            <div id="nav-mobile"></div>
        </header>
        {% comment %} End: Main header {% endcomment %}

        {% block contents %}{% endblock %}

        {% block footer %}
        {% comment %} Start: Main footer {% endcomment %}
        <footer class="main-footer style-five">
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="outer-box">
                    <div class="copyright-text">© 2022 Everybase Pte Ltd. All Rights Reserved.</div>
                    <div class="social-links">
                        <a href="https://www.facebook.com/everybase.co/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/everybase_co"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/everybase"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
        </footer>
        {% comment %} End: Main footer {% endcomment %}
        {% endblock %}

    </div>
    {% comment %} End: Page wrapper {% endcomment %}

    <script src="{% static 'common/superio/js/jquery.js' %}"></script>
    <script src="{% static 'common/superio/js/popper.min.js' %}"></script>
    <script src="{% static 'common/superio/js/chosen.min.js' %}"></script>
    <script src="{% static 'common/superio/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'common/superio/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'common/superio/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'common/superio/js/jquery.modal.min.js' %}"></script>
    <script src="{% static 'common/superio/js/mmenu.polyfills.js' %}"></script>
    <script src="{% static 'common/superio/js/mmenu.js' %}"></script>
    <script src="{% static 'common/superio/js/appear.js' %}"></script>
    <script src="{% static 'common/superio/js/anm.min.js' %}"></script>
    <script src="{% static 'common/superio/js/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'common/superio/js/rellax.min.js' %}"></script>
    <script src="{% static 'common/superio/js/owl.js' %}"></script>
    <script src="{% static 'common/superio/js/wow.js' %}"></script>
    <script src="{% static 'common/superio/js/knob.js' %}"></script>
    <script src="{% static 'common/superio/js/script.js' %}"></script>
{% block other_scripts %}{% endblock %}

</body>

</html>