{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}User Details{% endblock %}

{% comment %}
Minify with https://www.minifier.org/

#mobile-filter {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 100px;
    transition: 0.3s;
}

#mobile-filter.is-active {
    left: 0;
}
{% endcomment %}

{% block other_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
#mobile-filter{position:fixed;top:0;left:100%;width:100%;min-height:100vh;display:block;z-index:98;background-color:#fff;padding-top:100px;transition:0.3s}#mobile-filter.is-active{left:0}
</style>
{% endblock %}

{% block page_actions %}
<div class="flex lg:hidden">
    <button class="py-2 px-5 font-bold rounded-xl text-neutral-50 bg-green-500 hover:bg-green-600 shadow-md">WhatsApp</button>
    {% comment %} <button class="py-2 px-5 font-bold rounded-xl text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200">Edit Profile</button> {% endcomment %}
</div>
{% endblock %}

{% block content %}
<div class="flex flex-col lg:flex-row justify-center mt-10 gap-2">
    <!-- start: user aside desktop -->
    <div class="bg-white w-full lg:block lg:w-4/12 xl:w-3/12 2xl:w-3/12 shadow-md lg:sticky lg:top-20 lg:self-start lg:rounded-t-xl">
        <h1 class="font-sans text-3xl font-bold text-center text-slate-900 mt-10 px-10">Arian Josimaya</h1>
        <div class="flex flex-col items-center">
            <div class="text-base mt-2">Bangladesh</div>
            {% comment %} <button class="py-2 px-5 font-bold rounded-xl text-neutral-50 bg-green-500 hover:bg-green-600 shadow-md mt-2">WhatsApp</button>
            <div class="text-base mt-2">Contacted 2d ago</div> {% endcomment %}
            <button class="py-2 px-5 font-bold rounded-xl text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 mt-2">Edit Profile</button>
        </div>
        <div class="bg-rose-100 w-full mt-5 py-4 text-center font-bold text-rose-400">I'm an Agent</div>
        <div class="bg-white px-4 pb-5">
            <div class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Goods I Deal With</div>
            <div class="text-base mt-2">Minerals like talc, mica ,calcined kaolin, white wollastonite, wet ground mica,graphite expanded s,silica ultra fine all oxide colours</div>
            <div class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Languages I Speak</div>
            <div class="text-base mt-2">Paskistani, English</div>
        </div>
    </div>
    <!-- end: user aside desktop -->
    <!-- start: user aside mobile -->

    <!-- end: user aside mobile -->

    <div class="w-full lg:w-6/12 xl:w-7/12 2xl:w-6/12 mt-4 lg:mt-0">
        <!-- start: tab -->
        <div class="flex items-center justify-evenly">
            <a href="#" class="font-bold w-1/2  text-center py-3 text-blue-600 bg-slate-300 shadow-sm lg:rounded-tl-xl">Comments</a>
            <a href="#" class="w-1/2 text-center py-3 text-slate-600 bg-slate-200 hover:bg-slate-300 shadow-sm lg:rounded-tr-xl">I-Need-Agents</a>
        </div>
        <!-- end: tab -->

        <div class="bg-white p-5 mt-2">
            <div class="flex flex-col items-center justify-center">
                <h2 class="font-bold text-xl text-slate-900">Leave a Private Comment</h2>
                <div class="text-base text-slate-500">You last contacted Arian Josimaya 2 days ago</div>
            </div>
            <textarea rows="4" class="w-full mt-2 border"></textarea>
            <div class="flex justify-start mt-2">
                <input type="checkbox" class="focus:ring-blue-100 border-gray-300 h-6 w-6"><div class="text-base text-slate-900 ml-2">Help other users, make this comment public instead</div>
            </div>
            <div class="text-base text-slate-900 italic mt-2">Others will not see this comment unless you make it public</div>
            <button class="w-full py-4 px-7 font-bold text-neutral-50 rounded-xl bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Post</button>
        </div>

        <div class="flex flex-col items-center justify-center mt-5">
            <h2 class="font-bold text-xl text-slate-900">Your Private Comments</h2>
            <div class="text-base text-slate-500">Only you can see your private comments</div>
        </div>

        <div class="bg-white w-full p-5 mt-5">
            <div class="flex items-center justify-between">
                <div class="font-bold text-base">John Doe, Australia</div>
                <div class="text-base">2d ago</div>
            </div>
            <div class="text-base mt-2">Arian doesn't seem like a scam. I think we might be able to work together.</div>
        </div>
        
        <div class="bg-white w-full p-5 mt-2">
            <div class="flex items-center justify-between">
                <div class="font-bold text-base">John Doe, Australia</div>
                <div class="text-base">2d ago</div>
            </div>
            <div class="text-base mt-2">Arian doesn't seem like a scam. I think we might be able to work together.</div>
        </div>

        <div class="flex flex-col items-center justify-center mt-5">
            <h2 class="text-lg text-slate-900">You have no private comments</h2>
        </div>

        <div class="flex flex-col items-center justify-center mt-5">
            <h2 class="font-bold text-xl text-slate-900">Public Comments</h2>
        </div>

        <div class="bg-white w-full p-5 mt-5">
            <div class="flex items-center justify-between">
                <div class="font-bold text-base">John Doe, Australia</div>
                <div class="text-base">2d ago</div>
            </div>
            <div class="text-base mt-2">Arian doesn't seem like a scam. I think we might be able to work together.</div>
        </div>

        <div class="bg-white w-full p-5 mt-2">
            <div class="flex items-center justify-between">
                <div class="font-bold text-base">John Doe, Australia</div>
                <div class="text-base">2d ago</div>
            </div>
            <div class="text-base mt-2">Arian doesn't seem like a scam. I think we might be able to work together.</div>
        </div>

        <div class="flex flex-col items-center justify-center mt-5">
            <h2 class="text-lg text-slate-900">No public comments</h2>
        </div>

    </div>
</div>
{% endblock %}

{% comment %}
Minify with https://www.minifier.org/

$(document).ready(function() {
    $('.select2').select2();

    $('.select2').one('select2:open', function(e) {
        $('input.select2-search__field').prop('placeholder', 'Search here...');
    });


    $('#filter').click(function() {
        t = $(this);
        if (t.html() == 'Filter') {
            t.html('Close');
        } else {
            t.html('Filter');
        }

        t.toggleClass('bg-blue-500');
        t.toggleClass('text-neutral-50');
        t.toggleClass('hover:bg-blue-600');
        t.toggleClass('bg-slate-100');
        t.toggleClass('text-slate-600');
        t.toggleClass('hover:bg-slate-200');

        $('#mobile-filter').toggleClass('is-active');
    });
});
{% endcomment %}

{% block other_script %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>  
$(document).ready(function(){$('.select2').select2();$('.select2').one('select2:open',function(e){$('input.select2-search__field').prop('placeholder','Search...')});$('#filter').click(function(){t=$(this);if(t.html()=='Filter'){t.html('Close')}else{t.html('Filter')}
t.toggleClass('bg-blue-500');t.toggleClass('text-neutral-50');t.toggleClass('hover:bg-blue-600');t.toggleClass('bg-slate-100');t.toggleClass('text-slate-600');t.toggleClass('hover:bg-slate-200');$('#mobile-filter').toggleClass('is-active')})})
</script>
{% endblock %}