{% extends 'relationships/extendables/simple.html' %}

{% block title %}Confirm WhatsApp Login{% endblock %}

{% block meta_description %}Confirm WhatsApp login to Everybase{% endblock %}
{% block meta_og_title %}Confirm WhatsApp Login{% endblock %}
{% block meta_og_url_path %}{% url 'login' %}{% endblock %}
{% block meta_og_site_name %}Everybase{% endblock %}

{% load static %}

{% block content %}
<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url({% static 'common/metronic/demo1/dist/assets/media/illustrations/sketchy-1/14.png' %}">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <a href="{% url 'home' %}" class="mb-12">
            <img alt="Logo" src="{% static 'common/metronic/demo1/dist/assets/media/logos/logo.png' %}" />
        </a>

        <div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
            <form class="form w-100 mb-10" action="{% url 'confirm_whatsapp_login' %}" method="post">
                {% if next != None %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% elif form.next.value != None %}
                    <input type="hidden" name="next" value="{{ form.next.value }}">
                {% endif %}

                {% if uuid != None %}
                    <input type="hidden" name="uuid" value="{{ uuid }}">
                {% elif form.uuid.value != None %}
                    <input type="hidden" name="uuid" value="{{ form.uuid.value }}">
                {% endif %}

                {% csrf_token %}

                <div class="text-center mb-10">
                    <img alt="Logo" class="mh-125px" src="{% static 'common/metronic/demo1/dist/assets/media/svg/misc/smartphone.svg' %}" />
                </div>

                <div class="text-center mb-10">
                    <h1 class="text-dark mb-3">Confirm WhatsApp Login</h1>
                    <div class="text-muted fw-bold fs-5 mb-5">Enter the confirmation code we've sent to your WhatsApp number</div>
                    <div class="fw-bolder text-dark fs-3">+{{ form.phone_number.value }}</div>
                    <input type="hidden" name="phone_number" value="{{ form.phone_number.value }}">
                </div>

                <div class="mt-10">
                    <input type="text" class="form-control" name="code" placeholder="e.g. 123456" />
                </div>
                {% if form.code.errors %}<div class="text-danger">{% for error in form.code.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="d-flex flex-center mt-10">
                    <a href="{% url 'login' %}?login={{ form.email.value }}" class="btn btn-lg btn-light fw-bolder">Cancel</a>
                    <button type="submit" class="btn btn-lg btn-primary fw-bolder">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}