{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}Login to Everybase{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="bg-white max-w-md mt-10 w-full lg:rounded-xl p-10 shadow-md">
        <a href="https://everybase.co"><img class="mx-auto mt-5" src="{% static 'common/assets/img/logo.png' %}"></a>
        <h1 class="text-3xl font-bold text-center mt-5">Login</h1>
        <div class="mt-7 flex flex-col justify-center">
            <form action="{% url 'relationships:login' %}" method="post">
                {% csrf_token %}
                {% if next is not None %}<input type="hidden" name="next" value="{{ next }}">{% endif %}{% comment %} The next URL is rendered with the template if it is passed as a GET parameter to the URL. {% endcomment %}
                <label for="whatsapp_phone_number" class="text-sm font-bold uppercase text-slate-400">WhatsApp Phone Number</label>
                <input name="whatsapp_phone_number" {% if form.whatsapp_phone_number.value %}value="{{ form.whatsapp_phone_number.value }}"{% endif %} placeholder="E.g., +14155552671" type="text" class="block w-full border rounded-md py-3 px-5 mt-2 font-sans{% if form.whatsapp_phone_number.errors %} border-red-500{% endif %}">
                <div class="px-1 mt-2">Please include + symbol. E.g., +14155552671.</div>
                {% if form.whatsapp_phone_number.errors %}<div class="px-1 mt-2 text-red-500">{% for error in form.whatsapp_phone_number.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                <button type="submit" class="font-bold text-white rounded-xl bg-green-500 hover:bg-green-600 shadow-md w-full py-4 px-7 mt-6">WhatsApp Me</button>
                <div class="text-center px-1 mt-2">A confirmation message will be sent to your phone number via WhatsApp. Reply 'yes' to login.</div>
                {% if messages %}<div class="px-1 mt-2 text-center text-red-500">{% for message in messages %}{{ message }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                <div class="flex justify-center">
                    <a href="{% url 'relationships:register' %}" class="bg-slate-100 hover:bg-slate-300 rounded-xl py-2 px-3 mt-2">Register for a new account</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}