{% extends 'relationships/extendables/simple.html' %}
{% block meta_og_url_path %}{% url 'lookup' %}{% endblock %}

{% load static %}

{% block content %}
<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <a href="{% url 'lookup' %}" class="mb-12">
            <img alt="Logo" src="{% static 'common/demo1/dist/assets/media/logos/logo.png' %}" />
        </a>
        <div class="w-lg-500px col-12 bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
            <form class="form w-100" action="{% url 'lookup' %}" method="post">
                {% csrf_token %}

                <div class="text-center">
                    <h1 class="text-dark">Look Up Phone Number</h1>
                </div>

                <div class="mt-10">
                    <label class="form-label fs-6 fw-bolder text-dark">Phone Number</label>
                    <input placeholder="Enter phone number to look up" class="form-control form-control-lg" type="text" name="phone_number"{% if form.phone_number.value != None %} value="{{ form.phone_number.value }}"{% endif %} required />
                    <div class="form-text">Include + symbol. E.g., +14155552671.</div>
                </div>
                {% if form.phone_number.errors %}<div class="text-danger">{% for error in form.phone_number.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="text-center mt-10">
                    <button type="submit" class="btn btn-lg btn-primary w-100 mb-5">Look Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}