{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}WhatsApp {{ user.user.first_name }} {{ user.user.last_name }} ({{ user.user.country.name }}) {% endblock %}

{% block other_head_tags %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}
<form action="{% url 'relationships:whatsapp' contactee.id %}" method="post">
{% csrf_token %}
<div class="flex justify-center">
    <div class="bg-white max-w-md mt-10 w-full lg:rounded-xl p-10 shadow-md">
        <h1 class="text-3xl font-bold text-center mt-5">Enter Message Body</h1>
        <div class="mt-7 flex flex-col justify-center">
            <div>Hi {{ contactee.first_name }} {{ contactee.last_name }}, my name is {{ user.user.first_name }} {{ user.user.last_name }}.</div>
            <div class="mt-2">I got your contact from - https://everybase.co</div>
            <label for="body" class="text-sm font-bold uppercase text-slate-400 mt-4">Message Body</label>
            <textarea id="body" name="body" rows="4" type="text" class="block w-full border rounded-md py-3 px-5 mt-2"{% if form.body.value is not None %} value="{{ form.body.value }}"{% endif %}></textarea>
            {% if form.body.errors %}<div class="font-sans text-base px-1 mt-2 text-red-500">{% for error in form.body.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
            {% if last_msg_body is not None %}
                <div class="flex items-center justify-start mt-2"><input id="use_last_msg" name="use_last_msg" type="checkbox" class="focus:ring-blue-100 border-gray-300 h-6 w-6"><label for="use_last_msg" class="ml-2">Use last message</label></div>
            {% endif %}
            <button type="submit" class="w-full py-4 px-7 font-bold text-white rounded-xl bg-green-500 hover:bg-green-600 mt-6 shadow-md">Go to WhatsApp</button>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% comment %}
Unrendered Javascript
Minify with https://www.minifier.org/
{% endcomment %}
{% block unrendered_javascript %}
<script>
$(document).ready(function() {
    last_msg_body = '{{ last_msg_body }}'
    entered_body = ''

    $('#use_last_msg').change(function() {
        if ($(this).prop("checked") == true) {
            if ($('#body').val().trim() != '') {
                entered_body = $('#body').val()
            }
            $('#body').val(last_msg_body)
        } else {
            $('#body').val(entered_body)
        }
    });
});
</script>
{% endblock %}
{% block other_script %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script>
$(document).ready(function(){last_msg_body='{{ last_msg_body }}'
entered_body=''
$('#use_last_msg').change(function(){if($(this).prop("checked")==!0){if($('#body').val().trim()!=''){entered_body=$('#body').val()}
$('#body').val(last_msg_body)}else{$('#body').val(entered_body)}})})
</script>
{% endblock %}