{% extends 'relationships/extendables/simple.html' %}

{% load static %}

{% block title %}Register your phone to be notified of bad reviews against you.{% endblock %}{% comment %} 62 chars {% endcomment %}
{% block meta_description %}Register and claim your phone number on Everybase to respond to good and bad reviews of you.{% endblock %}{% comment %} 92 chars {% endcomment %}
{% block meta_og_description %}Register and claim your phone number on Everybase to respond to good and bad reviews of you.{% endblock %}{% comment %} 92 chars {% endcomment %}

{% block content %}
<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <a href="{% url 'home' %}" class="mb-12">
            <img alt="Logo" src="{% static 'common/demo1/dist/assets/media/logos/logo.png' %}" />
        </a>

        <div class="w-lg-500px col-12 bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
            <form class="form w-100" action="{% url 'register:start' %}" method="post" x-data="{
                phoneNumber: {% if form.phone_number.value != None %}'{{ form.phone_number.value }}'{% else %}''{% endif %},
                hasPhoneNumber() { return this.phoneNumber.length <= 0 }
            }">
                {% csrf_token %}
                {% if form.next.value != None %}<input type="hidden" name="next" value="{{ form.next.value }}" />{% endif %}

                <div class="text-center mb-10">
                    <h1 class="text-dark mb-3">Register</h1>
                    <div class="text-gray-700 fs-5">Have an account? <a href="{% url 'login' %}" class="link-primary fw-bolder">Login</a></div>
                </div>

                <div>
                    <label class="form-label fs-6 fw-bolder text-dark required" for="phone_number">WhatsApp Phone Number
                        <span class="svg-icon svg-icon-info svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Your WhatsApp phone number is used to log into Everybase.">                            
                            {% comment %} Start: SVG Icon | path: core/html/src/media/icons/duotune/general/gen044.svg {% endcomment %}
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"/>
                                <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"/>
                            </svg>
                            {% comment %} End: SVG Icon {% endcomment %}
                        </span>
                    </label>
                    <input maxlength="16" x-model="phoneNumber" class="form-control" type="text" name="phone_number" id="phone_number"{% if form.phone_number.value != None %} value="{{ form.phone_number.value }}"{% endif %} />
                    <div class="form-text">Include + symbol. E.g., +14155552671.</div>
                </div>
                {% if form.phone_number.errors %}<div class="text-danger mt-2 ms-2">{% for error in form.phone_number.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="text-center mt-10">
                    <button type="submit" class="btn btn-lg btn-primary w-100" x-bind:disabled="hasPhoneNumber">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}