{% extends 'extendables/b.html' %}

{% load static %}

{% block page_title %}Settings{% endblock %}
{% block page_title_separator %}{% endblock %}

{% block content_body %}
<form class="form" action="{% url 'users:settings' %}" method="post">
    {% csrf_token %}
    <div class="post d-flex flex-column-fluid">
        <div class="container-xxl">
            {% comment %} Start: Profile {% endcomment %}
            <div class="card shadow-sm" x-data="{
                firstName: {% if form.first_name.value != None %}'{{ form.first_name.value }}'{% else %}''{% endif %},
                originalFirstName: {% if form.first_name.value != None %}'{{ form.first_name.value }}'{% else %}''{% endif %},
                lastName: {% if form.last_name.value != None %}'{{ form.last_name.value }}'{% else %}''{% endif %},
                originalLastName: {% if form.last_name.value != None %}'{{ form.last_name.value }}'{% else %}''{% endif %},
                country: {% if form.country.value != None %}'{{ form.country.value }}'{% else %}''{% endif %},
                originalCountry: {% if form.country.value != None %}'{{ form.country.value }}'{% else %}''{% endif %},
                email: {% if form.email.value != None %}'{{ form.email.value }}'{% else %}''{% endif %},
                originalEmail: {% if form.email.value != None %}'{{ form.email.value }}'{% else %}''{% endif %},
                businessName: {% if form.business_name.value != None %}'{{ form.business_name.value }}'{% else %}''{% endif %},
                originalBusinessName: {% if form.business_name.value != None %}'{{ form.business_name.value }}'{% else %}''{% endif %},
                businessAddress: {% if form.business_address.value != None %}'{{ form.business_address.value }}'{% else %}''{% endif %},
                originalBusinessAddress: {% if form.business_address.value != None %}'{{ form.business_address.value }}'{% else %}''{% endif %},
                businessDescription: {% if form.business_description.value != None %}'{{ form.business_description.value }}'{% else %}''{% endif %},
                originalBusinessDescription: {% if form.business_description.value != None %}'{{ form.business_description.value }}'{% else %}''{% endif %},
                fieldNotChanged() {
                    return this.firstName == this.originalFirstName && this.lastName == this.originalLastName && this.country == this.originalCountry && this.email == this.originalEmail && this.businessName == this.originalBusinessName && this.businessAddress == this.originalBusinessAddress && this.businessDescription == this.originalBusinessDescription
                }
            }" x-init="() => {
                select2 = $($refs.countrySelect).select2();
                select2.on('select2:select', (event) => { country = event.target.value })
                $watch('country', (value) => { select2.val(value).trigger('change') })
              }">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="fw-bolder">Profile</h3>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6">WhatsApp Phone Number</label>
                        <div class="col-lg-8 d-flex align-items-center fw-bolder fs-4">+{{ request.user.user.phone_number.country_code }} {{ request.user.user.phone_number.national_number }}</div>
                    </div>

                    <div class="row mt-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required" for="first_name">First Name</label>
                        <div class="col-lg-8">
                            <input type="text" x-model="firstName" name="first_name" class="form-control"{% if form.first_name.value != None %} value="{{ form.first_name.value }}" {% endif %}/>
                            {% if form.first_name.errors %}<div class="text-danger ms-2 mt-2">{% for error in form.first_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                        </div>                        
                    </div>

                    <div class="row mt-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required" for="last_name">Last Name</label>
                        <div class="col-lg-8">
                            <input type="text" x-model="lastName" name="last_name" id="last_name" class="form-control"{% if form.last_name.value != None %} value="{{ form.last_name.value }}" {% endif %}/>
                            {% if form.last_name.errors %}<div class="text-danger ms-2 mt-2">{% for error in form.last_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                        </div>
                    </div>
                    
                    <div class="row mt-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required" for="country">Country</label>
                        <div class="col-lg-8">
                            <select name="country" x-ref="countrySelect" id="country" data-control="select2" data-placeholder="Country" class="form-select fw-bold">
                                {% for country in countries %}
                                    <option value="{{ country.programmatic_key }}"{% if form.country.value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                                {% endfor %}
                            </select>
                            {% if form.country.errors %}<div class="text-danger ms-2 mt-2">{% for error in form.country.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                        </div>
                    </div>

                    <div class="row mt-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required" for="email">Email</label>
                        <div class="col-lg-8">
                            <input type="text" x-model="email" name="email" id="email" class="form-control"{% if form.email.value != None %} value="{{ form.email.value }}" {% endif %}/>
                            {% if form.email.errors %}<div class="text-danger ms-2 mt-2">{% for error in form.email.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                        </div>
                    </div>

                    <div class="row mt-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6" for="business_name">Business Name</label>
                        <div class="col-lg-8">
                            <input type="text" x-model="businessName" name="business_name" id="business_name" class="form-control"{% if form.business_name.value != None %} value="{{ form.business_name.value }}" {% endif %} />
                            {% if form.business_name.errors %}<div class="text-danger ms-2 mt-2">{% for error in form.business_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                        </div>
                    </div>

                    <div class="row mt-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6" for="business_address">Business Address</label>
                        <div class="col-lg-8">
                            <textarea x-model="businessAddress" class="form-control" data-kt-autosize="true" name="business_address" id="business_address">{% if form.business_address.value != None %}{{ form.business_address.value }}{% endif %}</textarea>
                            {% if form.business_address.errors %}<div class="text-danger ms-2 mt-2">{% for error in form.business_address.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                        </div>
                    </div>

                    <div class="row mt-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6" for="business_description">Business Description</label>
                        <div class="col-lg-8">
                            <textarea x-model="businessDescription" class="form-control" data-kt-autosize="true" name="business_description" id="business_description">{% if form.business_description.value != None %}{{ form.business_description.value }}{% endif %}</textarea>
                            {% if form.business_description.errors %}<div class="text-danger ms-2 mt-2">{% for error in form.business_description.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                        </div>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <button name="update_profile" value="update_profile" type="submit" class="btn btn-primary btn-sm" x-bind:disabled="fieldNotChanged">Save</button>
                </div>
            </div>
            {% comment %} End: Profile {% endcomment %}
        </div>
    </div>
</form>
{% endblock %}