{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="bg-white md:w-2/3 lg:w-1/2 xl:w-1/3 mt-10 mb-10 w-full p-10 shadow-md">
        <h1 class="text-3xl font-bold text-center mt-5">Edit Profile</h1>

        <div class="mt-7 flex flex-col justify-center">
            <form action="{% url 'users:user_edit' user.user.slug_link %}" method="post">
                {% csrf_token %}

                <label for="first_name" class="font-bold text-slate-400 mt-7 block">First Name</label>
                <input name="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" type="text" class="w-full border rounded-md py-3 px-5 mt-2">
                {% if form.first_name.errors %}<div class="w-full px-1 mt-2 text-red-500">{% for error in form.first_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <label for="last_name" class="font-bold text-slate-400 mt-7 block">Last Name</label>
                <input name="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" type="text" class="w-full border rounded-md py-3 px-5 mt-2">
                {% if form.last_name.errors %}<div class="w-full px-1 mt-2 text-red-500">{% for error in form.last_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="mt-7 flex justify-start">
                    <input id="has_company" name="has_company" type="checkbox" class="h-6 w-6" {% if form.has_company.value == True %} checked{% endif %}>
                    <label for="has_company" class="ml-3">I have a company</label>
                </div>

                <label id="company_name__label" for="company_name" class="font-bold text-slate-400 mt-7 block">Company Name</label>
                <input id="company_name" name="company_name" value="{% if form.company_name.value %}{{ form.company_name.value }}{% endif %}" type="text" class="w-full border rounded-md py-3 px-5 mt-2">
                {% if form.company_name.errors %}<div id="company_name__error" class="w-full px-1 mt-2 text-red-500">{% for error in form.company_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <label for="email" class="font-bold text-slate-400 mt-7 block">Goods & Services I Deal With</label>
                <textarea rows="4" name="goods_string" class="w-full border rounded-md py-3 px-5 mt-2">{% if form.goods_string.value %}{{ form.goods_string.value }}{% endif %}</textarea>
                {% if form.goods_string.errors %}<div class="w-full px-1 mt-2 text-red-500">{% for error in form.goods_string.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                <div class="mt-2">E.g., textiles, commodities.</div>

                <label for="email" class="font-bold text-slate-400 mt-7 block">Languages I Speak</label>
                <textarea rows="4" name="languages_string" class="w-full border rounded-md py-3 px-5 mt-2">{% if form.languages_string.value %}{{ form.languages_string.value }}{% endif %}</textarea>
                {% if form.languages_string.errors %}<div class="w-full px-1 mt-2 text-red-500">{% for error in form.languages_string.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                <div class="mt-2">E.g., English, Bahasa.</div>

                <button type="submit" class="w-full py-4 px-7 font-bold text-white rounded-md bg-blue-500 hover:bg-blue-600 mt-10 shadow-md">Save</button>
            </form>
            <a href="{% url 'users:user_leads' user.user.slug_link %}" class="w-full py-4 px-7 mt-2 rounded-md shadow-md bg-slate-100 hover:bg-slate-200 text-center">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}

{% block other_script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'relationships/js/user_create_edit.min.js' %}"></script>
{% endblock %}