{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}Importers, Exporters, Buying/Sourcing Agents, Selling/Promoting Agents{% endblock %}

{% comment %}
CSS
https://codebeautify.org/css-beautify-minify

#mobile-filter {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 100px;
    transition: 0.3s;
}

#mobile-filter.is-active {
    left: 0;
}
{% endcomment %}
{% block other_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'common/css/mobile_filter.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block page_actions %}
<div class="flex lg:hidden">
    <button id="search" class="text-base text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2 ml-2">Search</button>
</div>
{% endblock %}

{% block content %}
<div class="flex justify-center my-10 mb-10 gap-2">
    {% comment %} start: desktop search {% endcomment %}
    <div class="bg-white rounded shadow-md hidden lg:block lg:w-1/3 xl:w-1/4 self-start px-6 py-10">
        <h1 class="text-3xl font-bold text-center mt-6">Persons</h1>
        <div class="mt-7 flex flex-col justify-center">
            <form action="{% url 'users:user_list' %}" type="get">

                {% if request.user.is_authenticated %}
                    {% comment %} start: commented_only {% endcomment %}
                    <div id="commented_only__elements" class="flex justify-start">
                        <input id="commented_only" name="commented_only" type="checkbox" class="h-6 w-6" {% if commented_only == 'on' %} checked{% endif %}>
                        <label id="commented_only__label" for="commented_only" class="ml-3">Users I've commented on only</label>
                    </div>
                    {% comment %} end: commented_on {% endcomment %}

                    {% comment %} start: saved_only {% endcomment %}
                    <div id="saved_only__elements" class="flex justify-start mt-4">
                        <input id="saved_only" name="saved_only" type="checkbox" class="h-6 w-6" {% if saved_only == 'on' %} checked{% endif %}>
                        <label id="saved_only__label" for="saved_only" class="ml-3">Users I've saved only</label>
                    </div>
                    {% comment %} end: saved_only {% endcomment %}

                    {% comment %} start: connected_only {% endcomment %}
                    <div id="connected_only__elements" class="flex justify-start mt-4">
                        <input id="connected_only" name="connected_only" type="checkbox" class="h-6 w-6" {% if connected_only == 'on' %} checked{% endif %}>
                        <label id="connected_only__label" for="connected_only" class="ml-3">Users I'm connected with only</label>
                    </div>
                    {% comment %} end: connected_only {% endcomment %}
                {% endif %}

                {% comment %} start: first_name {% endcomment %}
                <label id="first_name__label" for="first_name" class="font-bold text-slate-400 mt-5 block">First Name</label>
                <input id="first_name" name="first_name"{% if first_name is not None and first_name|cut:' ' != '' %} value="{{ first_name }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: first_name {% endcomment %}

                {% comment %} start: last_name {% endcomment %}
                <label id="last_name__label" for="last_name" class="font-bold text-slate-400 mt-5 block">Last Name</label>
                <input id="last_name" name="last_name"{% if last_name is not None and last_name|cut:' ' != '' %} value="{{ last_name }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: last_name {% endcomment %}

                {% comment %} start: company_name {% endcomment %}
                <label id="company_name__label" for="company_name" class="font-bold text-slate-400 mt-5 block">Company Name</label>
                <input id="company_name" name="company_name"{% if company_name is not None and company_name|cut:' ' != '' %} value="{{ company_name }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: company_name {% endcomment %}

                {% comment %} start: country {% endcomment %}
                <label id="country__label" for="country" class="font-bold text-slate-400 mt-5 block">Country</label>
                <div id="country__elements" class="mt-2">
                    <select id="country" name="country" class="select2">
                        <option value="any_country"{% if country == 'any_country' %} selected{% endif %}>Any Country</option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if country == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% comment %} end: country {% endcomment %}

                {% comment %} start: goods_string {% endcomment %}
                <label id="goods_string__label" for="goods_string" class="font-bold text-slate-400 mt-5 block">Goods & Services</label>
                <input id="goods_string" name="goods_string"{% if goods_string is not None and goods_string|cut:' ' != '' %} value="{{ goods_string }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: goods_string {% endcomment %}

                {% comment %} start: languages {% endcomment %}
                <label id="languages__label" for="languages" class="font-bold text-slate-400 mt-5 block">Languages</label>
                <input id="languages" name="languages"{% if languages is not None and languages|cut:' ' != '' %} value="{{ languages }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: languages {% endcomment %}

                {% comment %} start: is_buy_agent {% endcomment %}
                <div id="is_buy_agent__elements" class="flex justify-start mt-5">
                    <input id="is_buy_agent" name="is_buy_agent" type="checkbox" class="h-6 w-6" {% if is_buy_agent == 'on' %} checked{% endif %}>
                    <label id="is_buy_agent__label" for="is_buy_agent" class="ml-3">Buying or sourcing agents only</label>
                </div>
                {% comment %} end: is_buy_agent {% endcomment %}

                {% comment %} start: buy_agent_details {% endcomment %}
                <label id="buy_agent_details__label" for="buy_agent_details" class="font-bold text-slate-400 mt-5 block">Buying or Sourcing Services</label>
                <input id="buy_agent_details" name="buy_agent_details"{% if buy_agent_details is not None and buy_agent_details|cut:' ' != '' %} value="{{ buy_agent_details }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: buy_agent_details {% endcomment %}

                {% comment %} start: is_sell_agent {% endcomment %}
                <div id="is_sell_agent__elements" class="flex justify-start mt-5">
                    <input id="is_sell_agent" name="is_sell_agent" type="checkbox" class="h-6 w-6" {% if is_sell_agent == 'on' %} checked{% endif %}>
                    <label id="is_sell_agent__label" for="is_sell_agent" class="ml-3">Selling or promoting agents only</label>
                </div>
                {% comment %} end: is_buy_agent {% endcomment %}

                {% comment %} start: sell_agent_details {% endcomment %}
                <label id="sell_agent_details__label" for="sell_agent_details" class="font-bold text-slate-400 mt-5 block">Selling or Promoting Services</label>
                <input id="sell_agent_details" name="sell_agent_details"{% if sell_agent_details is not None and sell_agent_details|cut:' ' != '' %} value="{{ sell_agent_details }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: sell_agent_details {% endcomment %}

                {% comment %} start: is_logistics_agent {% endcomment %}
                <div id="is_logistics_agent__elements" class="flex justify-start mt-5">
                    <input id="is_logistics_agent" name="is_logistics_agent" type="checkbox" class="h-6 w-6" {% if is_logistics_agent == 'on' %} checked{% endif %}>
                    <label id="is_logistics_agent__label" for="is_logistics_agent" class="ml-3">Logistics agents only</label>
                </div>
                {% comment %} end: is_logistics_agent {% endcomment %}

                {% comment %} start: logistics_agent_details {% endcomment %}
                <label id="logistics_agent_details__label" for="logistics_agent_details" class="font-bold text-slate-400 mt-5 block">Logistics Services</label>
                <input id="logistics_agent_details" name="logistics_agent_details"{% if logistics_agent_details is not None and logistics_agent_details|cut:' ' != '' %} value="{{ logistics_agent_details }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: logistics_agent_details {% endcomment %}

                <button type="submit" class="w-full py-3 px-7 rounded-md text-white bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Search</button>

                <div class="mt-10 flex justify-center">
                    <a href="{% url 'users:user_list' %}" class="py-3 px-7 w-full text-center bg-slate-200 hover:bg-slate-300 rounded-md">Reset</a>
                </div>
            </form>
        </div>
    </div>

    {% comment %} end: desktop search {% endcomment %}
    {% comment %} start: mobile search {% endcomment %}
    <nav id="mobile-filter" class="px-10 py-10">
        <h1 class="text-3xl font-bold text-center mt-6">Persons</h1>
        <div class="mt-7 flex flex-col justify-center">
            <form action="{% url 'users:user_list' %}" type="get">

                {% if request.user.is_authenticated %}
                    {% comment %} start: commented_only {% endcomment %}
                    <div id="mob__commented_only__elements" class="flex justify-start">
                        <input id="mob__commented_only" name="commented_only" type="checkbox" class="h-6 w-6" {% if commented_only == 'on' %} checked{% endif %}>
                        <label id="mob__commented_only__label" for="commented_only" class="ml-3">Users I've commented on only</label>
                    </div>
                    {% comment %} end: commented_on {% endcomment %}

                    {% comment %} start: saved_only {% endcomment %}
                    <div id="mob__saved_only__elements" class="flex justify-start mt-4">
                        <input id="mob__saved_only" name="saved_only" type="checkbox" class="h-6 w-6" {% if saved_only == 'on' %} checked{% endif %}>
                        <label id="mob__saved_only__label" for="saved_only" class="ml-3">Users I've saved only</label>
                    </div>
                    {% comment %} end: saved_only {% endcomment %}

                    {% comment %} start: connected_only {% endcomment %}
                    <div id="mob__connected_only__elements" class="flex justify-start mt-4">
                        <input id="mob__connected_only" name="connected_only" type="checkbox" class="h-6 w-6" {% if connected_only == 'on' %} checked{% endif %}>
                        <label id="mob__connected_only__label" for="connected_only" class="ml-3">Users I'm connected with only</label>
                    </div>
                    {% comment %} end: connected_only {% endcomment %}
                {% endif %}

                {% comment %} start: first_name {% endcomment %}
                <label id="mob__first_name__label" for="first_name" class="font-bold text-slate-400 mt-5 block">First Name</label>
                <input id="mob__first_name" name="first_name"{% if first_name is not None and first_name|cut:' ' != '' %} value="{{ first_name }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: first_name {% endcomment %}

                {% comment %} start: last_name {% endcomment %}
                <label id="mob__last_name__label" for="last_name" class="font-bold text-slate-400 mt-5 block">Last Name</label>
                <input id="mob__last_name" name="last_name"{% if last_name is not None and last_name|cut:' ' != '' %} value="{{ last_name }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: last_name {% endcomment %}

                {% comment %} start: company_name {% endcomment %}
                <label id="mob__company_name__label" for="company_name" class="font-bold text-slate-400 mt-5 block">Company Name</label>
                <input id="mob__company_name" name="company_name"{% if company_name is not None and company_name|cut:' ' != '' %} value="{{ company_name }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: company_name {% endcomment %}

                {% comment %} start: country {% endcomment %}
                <label id="mob__country__label" for="country" class="font-bold text-slate-400 mt-5 block">Country</label>
                <div id="mob__country__elements" class="mt-2">
                    <select id="mob__country" name="country" class="select2">
                        <option value="any_country"{% if country == 'any_country' %} selected{% endif %}>Any Country</option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if country == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% comment %} end: country {% endcomment %}

                {% comment %} start: goods_string {% endcomment %}
                <label id="mob__goods_string__label" for="goods_string" class="font-bold text-slate-400 mt-5 block">Goods & Services</label>
                <input id="mob__goods_string" name="goods_string"{% if goods_string is not None and goods_string|cut:' ' != '' %} value="{{ goods_string }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: goods_string {% endcomment %}

                {% comment %} start: languages {% endcomment %}
                <label id="mob__languages__label" for="languages" class="font-bold text-slate-400 mt-5 block">Languages</label>
                <input id="mob__languages" name="languages"{% if languages is not None and languages|cut:' ' != '' %} value="{{ languages }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: languages {% endcomment %}

                {% comment %} start: is_buy_agent {% endcomment %}
                <div id="mob__is_buy_agent__elements" class="flex justify-start mt-5">
                    <input id="mob__is_buy_agent" name="is_buy_agent" type="checkbox" class="h-6 w-6" {% if is_buy_agent == 'on' %} checked{% endif %}>
                    <label id="mob__is_buy_agent__label" for="is_buy_agent" class="ml-3">Buying or sourcing agents only</label>
                </div>
                {% comment %} end: is_buy_agent {% endcomment %}

                {% comment %} start: buy_agent_details {% endcomment %}
                <label id="mob__buy_agent_details__label" for="buy_agent_details" class="font-bold text-slate-400 mt-5 block">Buying or Sourcing Services</label>
                <input id="mob__buy_agent_details" name="buy_agent_details"{% if buy_agent_details is not None and buy_agent_details|cut:' ' != '' %} value="{{ buy_agent_details }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: buy_agent_details {% endcomment %}

                {% comment %} start: is_sell_agent {% endcomment %}
                <div id="mob__is_sell_agent__elements" class="flex justify-start mt-5">
                    <input id="mob__is_sell_agent" name="is_sell_agent" type="checkbox" class="h-6 w-6" {% if is_sell_agent == 'on' %} checked{% endif %}>
                    <label id="mob__is_sell_agent__label" for="is_sell_agent" class="ml-3">Selling or promoting agents only</label>
                </div>
                {% comment %} end: is_buy_agent {% endcomment %}

                {% comment %} start: sell_agent_details {% endcomment %}
                <label id="mob__sell_agent_details__label" for="sell_agent_details" class="font-bold text-slate-400 mt-5 block">Selling or Promoting Services</label>
                <input id="mob__sell_agent_details" name="sell_agent_details"{% if sell_agent_details is not None and sell_agent_details|cut:' ' != '' %} value="{{ sell_agent_details }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: sell_agent_details {% endcomment %}

                {% comment %} start: is_logistics_agent {% endcomment %}
                <div id="mob__is_logistics_agent__elements" class="flex justify-start mt-5">
                    <input id="mob__is_logistics_agent" name="is_logistics_agent" type="checkbox" class="h-6 w-6" {% if is_logistics_agent == 'on' %} checked{% endif %}>
                    <label id="mob__is_logistics_agent__label" for="is_logistics_agent" class="ml-3">Logistics agents only</label>
                </div>
                {% comment %} end: is_logistics_agent {% endcomment %}

                {% comment %} start: logistics_agent_details {% endcomment %}
                <label id="mob__logistics_agent_details__label" for="logistics_agent_details" class="font-bold text-slate-400 mt-5 block">Logistics Services</label>
                <input id="mob__logistics_agent_details" name="logistics_agent_details"{% if logistics_agent_details is not None and logistics_agent_details|cut:' ' != '' %} value="{{ logistics_agent_details }}"{% endif %} placeholder="Leave blank for all" type="text" maxlength="50" class="block w-full border rounded-md py-3 px-5 mt-2">
                {% comment %} end: logistics_agent_details {% endcomment %}

                <button type="submit" class="w-full py-3 px-7 rounded-md text-white bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Search</button>

                <div class="mt-10 flex justify-center">
                    <a href="{% url 'users:user_list' %}" class="py-3 px-7 w-full text-center bg-slate-200 hover:bg-slate-300 rounded-md">Reset</a>
                </div>
            </form>
        </div>
    </nav>
    {% comment %} end: mobile search {% endcomment %}

    <div class="w-5/6 lg:w-6/12 xl:w-7/12 2xl:w-6/12">
        {% comment %} start: page item count > 0 {% endcomment %}
        {% if page_obj|length %}

        {% include 'includes/paginator.html' %}

        {% for user in page_obj %}

        <div class="mt-2">
            {% include 'relationships/includes/user_item.html' %}
        </div>

        {% endfor %}

        {% include 'includes/paginator.html' with other_css_classes='mt-5' %}

        {% else %}
        {% comment %} else: page item count <= 0 {% endcomment %}

        <div class="text-lg text-center">No results</div>        

        {% endif %}
        {% comment %} end: page item count > 0 {% endcomment %}
    </div>
</div>
{% endblock %}

{% comment %}
Javascript
https://codebeautify.org/minify-js

$(document).ready(function() {
    // Cache references

    // Desktop
    $is_buy_agent = $('#is_buy_agent')
    $buy_agent_details__label = $('#buy_agent_details__label')
    $buy_agent_details = $('#buy_agent_details')
    // Mobile
    $mob__is_buy_agent = $('#mob__is_buy_agent')
    $mob__buy_agent_details__label = $('#mob__buy_agent_details__label')
    $mob__buy_agent_details = $('#mob__buy_agent_details')

    // Desktop
    $is_sell_agent = $('#is_sell_agent')
    $sell_agent_details__label = $('#sell_agent_details__label')
    $sell_agent_details = $('#sell_agent_details')
    // Mobile
    $mob__is_sell_agent = $('#mob__is_sell_agent')
    $mob__sell_agent_details__label = $('#mob__sell_agent_details__label')
    $mob__sell_agent_details = $('#mob__sell_agent_details')

    // Desktop
    $is_logistics_agent = $('#is_logistics_agent')
    $logistics_agent_details__label = $('#logistics_agent_details__label')
    $logistics_agent_details = $('#logistics_agent_details')
    // Mobile
    $mob__is_logistics_agent = $('#mob__is_logistics_agent')
    $mob__logistics_agent_details__label = $('#mob__logistics_agent_details__label')
    $mob__logistics_agent_details = $('#mob__logistics_agent_details')

    // Select2 checkboxes
    $select2 = $('.select2')
    $select2.select2()

    $select2.one('select2:open', function(e) {
        $('input.select2-search__field').prop('placeholder', 'Search here...')
    });

    // Mobile menu
    $('#search').click(function() {
        t = $(this)

        // Switch button text
        if (t.html() == 'Search') {
            t.html('Close')
        } else {
            t.html('Search')
        }

        // Switch button and button text color
        t.toggleClass('bg-blue-500')
        t.toggleClass('text-white')
        t.toggleClass('hover:bg-blue-600')
        t.toggleClass('bg-slate-100')
        t.toggleClass('text-slate-600')
        t.toggleClass('hover:bg-slate-200')

        $('#mobile-filter').toggleClass('is-active')
    })

    function set_is_buy_agent() {
        if ($is_buy_agent.is(':checked')) {
            $buy_agent_details__label.show()
            $buy_agent_details.show()
        } else {
            $buy_agent_details__label.hide()
            $buy_agent_details.hide()
        }
    }

    function mob__set_is_buy_agent() {
        if ($mob__is_buy_agent.is(':checked')) {
            $mob__buy_agent_details__label.show()
            $mob__buy_agent_details.show()
        } else {
            $mob__buy_agent_details__label.hide()
            $mob__buy_agent_details.hide()
        }
    }

    function set_is_sell_agent() {
        if ($is_sell_agent.is(':checked')) {
            $sell_agent_details__label.show()
            $sell_agent_details.show()
        } else {
            $sell_agent_details__label.hide()
            $sell_agent_details.hide()
        }
    }

    function mob__set_is_sell_agent() {
        if ($mob__is_sell_agent.is(':checked')) {
            $mob__sell_agent_details__label.show()
            $mob__sell_agent_details.show()
        } else {
            $mob__sell_agent_details__label.hide()
            $mob__sell_agent_details.hide()
        }
    }

    function set_is_logistics_agent() {
        if ($is_logistics_agent.is(':checked')) {
            $logistics_agent_details__label.show()
            $logistics_agent_details.show()
        } else {
            $logistics_agent_details__label.hide()
            $logistics_agent_details.hide()
        }
    }

    function mob__set_is_logistics_agent() {
        if ($mob__is_logistics_agent.is(':checked')) {
            $mob__logistics_agent_details__label.show()
            $mob__logistics_agent_details.show()
        } else {
            $mob__logistics_agent_details__label.hide()
            $mob__logistics_agent_details.hide()
        }
    }

    // Run on load
    set_is_buy_agent()
    set_is_sell_agent()
    set_is_logistics_agent()
    mob__set_is_buy_agent()
    mob__set_is_sell_agent()
    mob__set_is_logistics_agent()

    // Run on change
    $is_buy_agent.change(function() {
        set_is_buy_agent()
    })
    $mob__is_buy_agent.change(function() {
        mob__set_is_buy_agent()
    })

    $is_sell_agent.change(function() {
        set_is_sell_agent()
    })
    $mob__is_sell_agent.change(function() {
        mob__set_is_sell_agent()
    })

    $is_logistics_agent.change(function() {
        set_is_logistics_agent()
    })
    $mob__is_logistics_agent.change(function() {
        mob__set_is_logistics_agent()
    })
})
{% endcomment %}
{% block other_script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'relationships/js/user_list.min.js' %}"></script>
{% endblock %}