{% extends 'extendables/b.html' %}

{% load static %}
{% load thumbnail_url %}
{% load image_url %}

{% block title %}{% if user != None %}{{ user.first_name|title }} {{ user.last_name|title }} {% endif %}+{{ phone_number.country_code }} {{ phone_number.national_number }}{% endblock %}
{% block meta_description %}Importer/exporter reviews for {% if user != None %}{{ user.first_name|title }} {{ user.last_name|title }} {% endif %}+{{ phone_number.country_code }} {{ phone_number.national_number }}{% endblock %}
{% block meta_og_description %}Importer/exporter reviews for {% if user != None %}{{ user.first_name|title }} {{ user.last_name|title }} {% endif %}+{{ phone_number.country_code }} {{ phone_number.national_number }}{% endblock %}
{% block meta_og_title %}{% if user != None %}{{ user.first_name|title }} {{ user.last_name|title }} {% endif %}+{{ phone_number.country_code }} {{ phone_number.national_number }}{% endblock %}
{% block meta_og_url %}{{ absolute_url }}{% endblock %}
{% block meta_og_image %}{% if user.status_files.all|length > 0 %}{% with user.status_files.all|first as image %}{% load thumbnail_url %}{% thumbnail_url image.file as thumbnail_url %}{{ thumbnail_url }}{% endwith %}{% else %}{% static 'common/demo1/dist/assets/media/home/og_image/home_og_image.png' %}{% endif %}{% endblock %}
{% block meta_og_image_url %}{% if user.status_files.all|length > 0 %}{% with user.status_files.all|first as image %}{% load thumbnail_url %}{% thumbnail_url image.file as thumbnail_url %}{{ thumbnail_url }}{% endwith %}{% else %}{% static 'common/demo1/dist/assets/media/home/og_image/home_og_image.png' %}{% endif %}{% endblock %}
{% block meta_og_image_secure_url %}{% if user.status_files.all|length > 0 %}{% with user.status_files.all|first as image %}{% load thumbnail_url %}{% thumbnail_url image.file as thumbnail_url %}{{ thumbnail_url }}{% endwith %}{% else %}{% static 'common/demo1/dist/assets/media/home/og_image/home_og_image.png' %}{% endif %}{% endblock %}
{% block meta_og_image_type %}{% if user.status_files.all|length > 0 %}{% with user.status_files.all|first as image %}{{ image.file.mime_type }}{% endwith %}{% else %}image/png{% endif %}{% endblock %}
{% block meta_og_image_width %}{% if user.status_files.all|length > 0 %}{% with user.status_files.all|first as image %}{{ image.file.thumbnail_width }}{% endwith %}{% else %}300{% endif %}{% endblock %}
{% block meta_og_image_height %}{% if user.status_files.all|length > 0 %}{% with user.status_files.all|first as image %}{{ image.file.thumbnail_height }}{% endwith %}{% else %}200{% endif %}{% endblock %}
{% block meta_og_type %}article{% endblock %}

{% block page_vendor_stylesheets %}
    {% if user.walked_through_status == None %}
        {% comment %} Only load walkthrough dependencies when necessary. {% endcomment %}
        <link href="{% static 'common/css/introjs.min.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block page_title %}{% if user == None %}+{{ phone_number.country_code }} {{ phone_number.national_number }}{% else %}{{ user.first_name|title }} {{ user.last_name|title }}{% endif %}{% endblock %}
{% block page_title_separator %}{% endblock %}

{% block actions %}
{% include 'relationships/includes/user_detail__actions.html' %}
{% endblock %}

{% block content_body %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">

        <div class="my-4" align="center">
            {% include 'includes/adsense_display_ad_unit_mobile.html' %}
        </div>

        {% include 'relationships/includes/user_detail__status.html' with page='reviews' %}

        {% include 'relationships/includes/user_detail__nav.html' with active='reviews' user=user %}

        {% if page_obj|length > 0 %}
            {% include 'includes/paginator.html' %}
        {% endif %}

        {% load has_review %}
        {% has_review phone_number as has_review %}
        {% if not has_review %}
            {% if request.user.is_authenticated and request.user.user.id != user.id %}
            <div class="alert bg-light-dark d-flex flex-column flex-sm-row w-100 p-5 mt-10">
                <span class="svg-icon svg-icon-2hx svg-icon-dark me-4 mb-5 mb-sm-0">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M12 22C13.6569 22 15 20.6569 15 19C15 17.3431 13.6569 16 12 16C10.3431 16 9 17.3431 9 19C9 20.6569 10.3431 22 12 22Z" fill="currentColor"></path>
                        <path d="M19 15V18C19 18.6 18.6 19 18 19H6C5.4 19 5 18.6 5 18V15C6.1 15 7 14.1 7 13V10C7 7.6 8.7 5.6 11 5.1V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V5.1C15.3 5.6 17 7.6 17 10V13C17 14.1 17.9 15 19 15ZM11 10C11 9.4 11.4 9 12 9C12.6 9 13 8.6 13 8C13 7.4 12.6 7 12 7C10.3 7 9 8.3 9 10C9 10.6 9.4 11 10 11C10.6 11 11 10.6 11 10Z" fill="currentColor"></path>
                    </svg>
                </span>

                <div class="d-flex flex-column pe-0 pe-sm-10">
                    <h4 class="fw-semibold">This Number Has No Reviews</h4>
                    <span>You may review this user.</span>
                    <div class="mt-4">
                        <a href="{% url 'review_create' phone_number.value %}" class="btn btn-primary btn-sm">Review User</a>
                    </div>
                </div>

                <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                    {% comment %} SVG Icon | path: icons/duotune/arrows/arr061.svg {% endcomment %}
                    <span class="svg-icon svg-icon-1 svg-icon-dark">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                    {% comment %} End: SVG Icon {% endcomment %}
                </button>
            </div>
            {% elif not request.user.is_authenticated %}
            <div class="alert bg-light-dark d-flex flex-column flex-sm-row w-100 p-5 mt-10">
                <span class="svg-icon svg-icon-2hx svg-icon-dark me-4 mb-5 mb-sm-0">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M12 22C13.6569 22 15 20.6569 15 19C15 17.3431 13.6569 16 12 16C10.3431 16 9 17.3431 9 19C9 20.6569 10.3431 22 12 22Z" fill="currentColor"></path>
                        <path d="M19 15V18C19 18.6 18.6 19 18 19H6C5.4 19 5 18.6 5 18V15C6.1 15 7 14.1 7 13V10C7 7.6 8.7 5.6 11 5.1V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V5.1C15.3 5.6 17 7.6 17 10V13C17 14.1 17.9 15 19 15ZM11 10C11 9.4 11.4 9 12 9C12.6 9 13 8.6 13 8C13 7.4 12.6 7 12 7C10.3 7 9 8.3 9 10C9 10.6 9.4 11 10 11C10.6 11 11 10.6 11 10Z" fill="currentColor"></path>
                    </svg>
                </span>

                <div class="d-flex flex-column pe-0 pe-sm-10">
                    <h4 class="fw-semibold">This Number Has No Reviews</h4>
                    <span>You may review this user.</span>
                    <div class="mt-4">
                        <a href="{% url 'review_create' phone_number.value %}" class="btn btn-primary btn-sm">Review User</a>
                    </div>
                </div>

                <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                    {% comment %} SVG Icon | path: icons/duotune/arrows/arr061.svg {% endcomment %}
                    <span class="svg-icon svg-icon-1 svg-icon-dark">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                    {% comment %} End: SVG Icon {% endcomment %}
                </button>
            </div>
            {% elif request.user.is_authenticated and request.user.user.id == user.id %}
            <div class="alert bg-light-dark d-flex flex-column flex-sm-row w-100 p-5 mt-10">
                <span class="svg-icon svg-icon-2hx svg-icon-dark me-4 mb-5 mb-sm-0">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M12 22C13.6569 22 15 20.6569 15 19C15 17.3431 13.6569 16 12 16C10.3431 16 9 17.3431 9 19C9 20.6569 10.3431 22 12 22Z" fill="currentColor"></path>
                        <path d="M19 15V18C19 18.6 18.6 19 18 19H6C5.4 19 5 18.6 5 18V15C6.1 15 7 14.1 7 13V10C7 7.6 8.7 5.6 11 5.1V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V5.1C15.3 5.6 17 7.6 17 10V13C17 14.1 17.9 15 19 15ZM11 10C11 9.4 11.4 9 12 9C12.6 9 13 8.6 13 8C13 7.4 12.6 7 12 7C10.3 7 9 8.3 9 10C9 10.6 9.4 11 10 11C10.6 11 11 10.6 11 10Z" fill="currentColor"></path>
                    </svg>
                </span>

                <div class="d-flex flex-column pe-0 pe-sm-10">
                    <h4 class="fw-semibold">You Have No Reviews</h4>
                    <span>Ask your friends to give you a good review.</span>
                </div>

                <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                    {% comment %} SVG Icon | path: icons/duotune/arrows/arr061.svg {% endcomment %}
                    <span class="svg-icon svg-icon-1 svg-icon-dark">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                    {% comment %} End: SVG Icon {% endcomment %}
                </button>
            </div>
            {% endif %}
        {% else %}
            <div class="mt-10">
                {% for r in page_obj %}
                    <div class="card shadow-sm mt-4">
                        <div class="card-header pb-3 pt-4">
                            <div class="card-title d-flex flex-column">
                                <a href="{% url 'user_detail' r.reviewer.phone_number.value %}" class="text-dark text-hover-primary">
                                    <div>{{ r.reviewer.first_name|title }} {{ r.reviewer.last_name|title }}</div>
                                    <div class="fs-7 text-muted">{{ r.reviewer.country.name }}</div>
                                </a>
                            </div>
        
                            <div class="card-toolbar">
                                <span class="text-muted">{{ r.age_desc }}</span>
                            </div>
                        </div>
        
                        <div class="card-body">
                            <div class="mt-2">{{ r.body|truncatechars:100 }}{% if r.body|length > 100 %}...{% endif %} <a href="{% url 'review_detail' phone_number.value r.reviewer.phone_number.value %}" class="fw-bolder fs-6">See Details</a></div>
                            {% if r.review_files.all|length > 0 %}
                            <div class="mt-4 d-flex gap-2 flex-wrap align-items-center">
                                {% for image in r.review_files.all %}
                                    {% thumbnail_url image.file as thumbnail_url %}
                                    {% image_url image.file as image_url %}
                                    <a class="d-block overlay" data-fslightbox="lightbox-basic" href="{{ image_url }}">
                                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded w-50px h-50px"
                                            style="background-image:url('{{ thumbnail_url }}')">
                                        </div>
                                        <div class="overlay-layer card-rounded bg-dark bg-opacity-25 shadow">
                                            <i class="bi bi-eye-fill text-white fs-3x"></i>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
        
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div>
                                    {% if r.rating == 'bad' %}
                                        {% include 'relationships/includes/review_type__bad.html' %}
                                    {% elif r.rating == 'good' %}
                                        {% include 'relationships/includes/review_type__good.html' %}
                                    {% endif %}
                                </div>
                                <div class="d-flex gap-4 align-items-center">
                                    <div class="fw-bold">{{ r.response_count }} Responses</div>
                                    <a href="{% url 'review_detail' phone_number.value r.reviewer.phone_number.value %}" class="btn btn-sm btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
                {% if page_obj|length > 0 %}
                    {% include 'includes/paginator.html' %}
                {% endif %}
            </div>
        {% endif %}

        <div class="my-4" align="center">
            {% include 'includes/adsense_display_ad_unit_mobile.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_vendor_javascript %}
<script src="{% static 'common/demo1/dist/assets/plugins/custom/fslightbox/fslightbox.bundle.js' %}"></script>
{% endblock %}

{% block page_custom_javascript %}
<script src="{% static 'common/js/user_detail__shared.js' %}"></script>
{% if request.user.is_authenticated and request.user.user.id == user.id %}
<script>
// These fields will not be minified because they contain rendered values.
const uploadStatusImageURL = "{% url 'users:upload_status_file' user.id %}"
const formUUID = "{{ form_uuid }}"
const maxFiles = {{ settings.MAX_STATUS_IMAGES }}
const maxFileSize = {{ settings.MAX_STATUS_IMAGE_FILE_SIZE_IN_BYTES }}
const deleteStatusImageURL = "{% url 'users:delete_status_file' user.id %}"

// We use hidden fields to bridge JQuery and Alpine JS.
const numFilesProcessing = $('#num_files_processing')
const numFilesSuccess = $('#num_files_success')
const numFilesError = $('#num_files_error')
const numFilesRemoved = $('#num_files_removed')
</script>
<script src="{% static 'common/js/user_detail__shared__owner.js' %}"></script>
{% endif %}
{% endblock %}