{% extends 'extendables/b.html' %}

{% load static %}

{% comment %} Use user's first and last name {% endcomment %}
{% block title %}User Details{% endblock %}

{% comment %}
CSS
https://codebeautify.org/css-beautify-minify

#mobile-filter {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 100px;
    transition: 0.3s;
}

#mobile-filter.is-active {
    left: 0;
}
{% endcomment %}
{% block other_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
#mobile-filter{position:fixed;top:0;left:100%;width:100%;min-height:100vh;display:block;z-index:98;background-color:#fff;padding-top:100px;transition:0.3s}#mobile-filter.is-active{left:0}
</style>
{% endblock %}

{% block page_actions %}
{% include 'relationships/includes/user_detail_actions.html' %}
{% endblock %}

{% block content %}
<div class="flex flex-col lg:flex-row justify-center mt-10 mb-10 gap-2">

    {% include 'relationships/includes/user_detail_side.html' %}

    <div class="w-full lg:w-6/12 xl:w-7/12 2xl:w-6/12 mt-4 lg:mt-0">
        {% include 'relationships/includes/user_detail_tabs.html' with selected='comments' %}

        {% comment %} start: user is authenticated and not detail user {% endcomment %}
        {% if user.is_authenticated and user.user.id != detail_user.id %}
        <div class="bg-white p-5 mt-2">
            <form action="{% url 'users:user_comments' detail_user.id %}" method="post">
                {% csrf_token %}
                <div class="flex flex-col items-center justify-center">
                    <h2 class="font-bold text-xl">Leave a Private Comment</h2>
                    <div class="text-slate-500">You last contacted {{ detail_user.first_name }} {{ detail_user.last_name }} 2 days ago</div>
                </div>
                <textarea name="body" rows="4" class="w-full mt-2 px-5 py-3 border{% if form.body.errors %} border-red-500{% endif %}"></textarea>
                {% if form.body.errors %}<div class="font-sans text-base px-1 mt-2 text-red-500">{% for error in form.body.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                <div class="flex justify-start mt-2">
                    <input name="is_public" type="checkbox" class="focus:ring-blue-100 border-gray-300 h-6 w-6"><div class="ml-2">Help other users, make this comment public instead</div>
                </div>
                <div class="italic mt-2">Others will not see this comment unless you make it public</div>
                <button type="submit" class="w-full py-4 px-7 font-bold text-white rounded-md bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Post</button>
            </form>
        </div>
                
        <div class="flex flex-col items-center justify-center mt-5 mb-3">
            <h2 class="font-bold text-xl">Your Private Comments</h2>
            <div class="text-slate-500">Only you can see your private comments</div>
        </div>

        {% comment %} {% load private_comments %}
        {% private_comments request.user.user detail_user as private_comments %}

        {% if private_comments|length <= 0 %}
            <div class="flex flex-col items-center justify-center mt-2">
                <h2 class="text-lg">No private comments</h2>
            </div>
        {% else %}
            {% for comment in private_comments %}
            <div class="bg-white p-5 mt-2">
                <div class="flex items-center justify-between">
                    <div class="font-bold">{{ comment.commentor.first_name }} {{ comment.commentor.last_name }}, {{ comment.commentor.country.name }}</div>
                    <div>{{ comment.age_desc }}</div>
                </div>
                <div class="mt-2">{{ comment.body }}</div>
            </div>
            {% endfor %}
        {% endif %} {% endcomment %}

        {% endif %}
        {% comment %} end: user is authenticated and not detail user {% endcomment %}

        <div class="flex flex-col items-center justify-center mt-10 mb-3">
            <h2 class="font-bold text-xl">Public Comments</h2>
        </div>

        {% comment %} {% load public_comments %}
        {% public_comments detail_user as public_comments %}

        {% if public_comments|length <= 0 %}
            <div class="flex flex-col items-center justify-center mt-2">
                <h2 class="text-lg">No public comments</h2>
            </div>
        {% else %}
            {% for comment in public_comments %}
            <div class="bg-white p-5 mt-2">
                <div class="flex items-center justify-between">
                    <div class="font-bold">{{ comment.commentor.first_name }} {{ comment.commentor.last_name }}, {{ comment.commentor.country.name }}</div>
                    <div>{{ comment.age_desc }}</div>
                </div>
                <div class="mt-2">{{ comment.body }}</div>
            </div>
            {% endfor %}
        {% endif %} {% endcomment %}
    </div>
</div>
{% endblock %}

{% comment %}
Javascript
https://codebeautify.org/minify-js

$(document).ready(function() {
    $('.select2').select2();

    $('.select2').one('select2:open', function(e) {
        $('input.select2-search__field').prop('placeholder', 'Search here...');
    });

    $('#filter').click(function() {
        t = $(this);
        if (t.html() == 'Filter') {
            t.html('Close');
        } else {
            t.html('Filter');
        }

        t.toggleClass('bg-blue-500');
        t.toggleClass('text-white');
        t.toggleClass('hover:bg-blue-600');
        t.toggleClass('bg-slate-100');
        t.toggleClass('text-slate-600');
        t.toggleClass('hover:bg-slate-200');

        $('#mobile-filter').toggleClass('is-active');
    });
});
{% endcomment %}
{% block other_script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready((function(){$(".select2").select2(),$(".select2").one("select2:open",(function(e){$("input.select2-search__field").prop("placeholder","Search here...")})),$("#filter").click((function(){t=$(this),"Filter"==t.html()?t.html("Close"):t.html("Filter"),t.toggleClass("bg-blue-500"),t.toggleClass("text-white"),t.toggleClass("hover:bg-blue-600"),t.toggleClass("bg-slate-100"),t.toggleClass("text-slate-600"),t.toggleClass("hover:bg-slate-200"),$("#mobile-filter").toggleClass("is-active")}))}));
</script>
{% endblock %}