{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Verify WhatsApp phone number</title>
		<meta charset="utf-8" />
		<meta name="description" content="Verify your WhatsApp number." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<link href="{% static 'common/metronic/demo1/dist/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'common/metronic/demo1/dist/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
	</head>
	<body id="kt_body" class="bg-body">
		<div class="d-flex flex-column flex-root">
			<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url({% static 'common/metronic/demo1/dist/assets/media/illustrations/sketchy-1/14.png' %}">
                {% comment %} Start: Content {% endcomment %}
				<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
					<a href="{% url 'users:verify_whatsapp' %}" class="mb-12">
						<img alt="Logo" src="{% static 'common/metronic/demo1/dist/assets/media/logos/logo.png' %}" />
					</a>

					<div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
						<form class="form w-100 mb-10" action="{% url 'users:verify_whatsapp' %}" method="post">
                            {% csrf_token %}

                            {% if next != None %}
                                <input type="hidden" name="next" value="{{ next }}">
                            {% elif form.next.value != None %}
                                <input type="hidden" name="next" value="{{ form.next.value }}">
                            {% endif %}
        
							<div class="text-center mb-10">
								<img alt="Logo" class="mh-125px" src="{% static 'common/metronic/demo1/dist/assets/media/svg/misc/smartphone.svg' %}" />
							</div>

							<div class="text-center mb-10">
								<h1 class="text-dark mb-3">Verify Your WhatsApp Phone Number</h1>
								<div class="text-muted fw-bold fs-5 mb-5">Enter the verification code we've sent to</div>
								<div class="fw-bolder text-dark fs-3">+{{ request.user.user.phone_number.country_code }} {{ request.user.user.phone_number.national_number }}</div>
							</div>

							<div class="mb-10 px-md-10">
                                <input type="text" class="form-control" name="code" placeholder="Enter verification code" />
                                {% if form.code.errors %}<div class="text-danger">{% for error in form.code.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
							</div>

							<div class="d-flex flex-center">
								<button type="submit" class="btn btn-lg btn-primary fw-bolder">Verify</button>
							</div>

                            <div class="d-flex flex-center mt-10">
								<a href="{% url 'users:disable_whatsapp' %}" class="btn btn-lg btn-light fw-bolder">Disable WhatsApp Notification</a>
							</div>
						</form>

						{% comment %} <div class="text-center fw-bold fs-5">
							<span class="text-muted me-1">Didn’t get the code?</span>
							<a href="{% url 'users:resend_whatsapp' %}" class="link-primary fw-bolder fs-5 me-1">Resend</a>
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>

        {% comment %} Start: Javascript {% endcomment %}
		<script>var hostUrl = "assets/";</script>
        
        {% comment %} Start: Global Javascript bundle (used by all pages) {% endcomment %}
		<script src="{% static 'common/metronic/demo1/dist/assets/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'common/metronic/demo1/dist/assets/js/scripts.bundle.js' %}"></script>
        {% comment %} End: Global Javascript bundle {% endcomment %}

        {% comment %} Start: Page custom Javascript (used by this page) {% endcomment %}
		<script src="{% static 'common/metronic/demo1/dist/assets/js/custom/authentication/sign-in/two-steps.js' %}"></script>
        {% comment %} End: Page custom Javascript {% endcomment %}
        {% comment %} End: Javascript {% endcomment %}
	</body>
</html>