{% extends 'superio/extendables/b.html' %}

{% load static %}

{% block page_wrapper_classes %} dashboard{% endblock %}

{% block title %}Inbox{% endblock %}

{% block mobile_header_actions %}<a id="toggle-user-sidebar"><span class="mobile-nav-toggler las la-bars"></span></a>{% endblock %}

{% block contents %}
{% include 'superio/includes/dashboard_sidebar.html' %}

{% comment %} Start: Dashboard {% endcomment %}
<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="upper-title-box">
            <h3>Inbox</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="chat-widget">
                    <div class="widget-content">
                        <div class="row">
                            <div class="contacts_column col-xl-4 col-lg-5 col-md-12 col-sm-12 chat" id="chat_contacts">
                                <div class="card contacts_card">
                                {% comment %} <div class="card-header">
                                    <div class="search-box-one">
                                        <form method="post" action="#">
                                            <div class="form-group">
                                            <span class="icon flaticon-search-1"></span>
                                            <input type="search" name="search-field" value="" placeholder="Search" required="">
                                            </div>
                                        </form>
                                    </div>
                                </div> {% endcomment %}
                                <div class="card-body contacts_body">
                                    <ul class="contacts">
                                        {% if applications|length > 0 %}
                                            {% for application in applications %}
                                                <li>
                                                    <a href="{% url 'applications:application_detail' application.id %}">
                                                        <div class="d-flex bd-highlight" style="margin-left: -20px">
                                                            {% comment %} <div class="img_cont">
                                                                <img src="{% static 'common/superio/images/resource/candidate-1.png' %}" class="rounded-circle user_img" alt="">
                                                            </div> {% endcomment %}
                                                            <div class="user_info">
                                                                <span>{% if application.applicant != request.user.user %}{{ application.applicant.first_name|title }} {{ application.applicant.last_name|title }}{% else %}{{ application.lead.author.first_name|title }} {{ application.lead.author.last_name|title }}{% endif %}</span>
                                                                <p>{{ application.lead.headline }}</p>
                                                            </div>
                                                            <span class="info">{{ application.age_desc }}</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li>
                                                <div style="margin-left: 24px; margin-top: 30px">
                                                    <div class="d-flex bd-highlight">
                                                        <div class="user_info">
                                                            <span>No conversations</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                </div>
                            </div>
                        <div class=" col-xl-8 col-lg-7 col-md-12 col-sm-12 chat">
                            <div class="card message-card">
                                {% if applications|length > 0 %}
                                    <div class="card-header msg_head">
                                        <div class="d-flex bd-highlight">
                                            <div class="user_info">
                                                <span>{% if application.applicant != request.user.user %}{{ application.applicant.first_name|title }} {{ application.applicant.last_name|title }}{% else %}{{ application.lead.author.first_name|title }} {{ application.lead.author.last_name|title }}{% endif %}</span>
                                                <a href="{% url 'leads:lead_detail' application.lead.slug_link %}" target="lead_detail"><p>{{ application.lead.headline }}</p></a>
                                            </div>
                                        </div>

                                        <div class="btn-box">
                                            <form action="{% url 'applications:application_delete' application.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="dlt-chat">Delete Conversation</button>
                                            </form>
                                            <button class="toggle-contact"><span class="fa fa-bars"></span></button>
                                        </div>
                                    </div>

                                    <div id="inbox_messages" class="card-body msg_card_body">

                                        {% comment %} First message is composed from application details {% endcomment %}
                                        <div class="d-flex {% if application.applicant == request.user.user %}justify-content-end mb-2 reply{% else %}justify-content-start{% endif %}">
                                            <div class="img_cont_msg">
                                                <div class="name">{% if application.applicant == request.user.user %}You{% else %}{{ application.applicant.first_name|title }} {{ application.applicant.last_name|title }}{% endif %} <span class="msg_time">{{ application.age_desc_wo_ago }}</span></div>
                                            </div>
                                            <div class="msg_cotainer">
                                                {% if application.has_experience %}<p><b>I have experience with this product or industry.</b><p>{% endif %}
                                                {% if application.has_buyers %}<p><b>I have buyers.</b><p>{% endif %}
                                                {% if application.has_buyers or application.has_experience %}<br>{% endif %}
                                                <p>{{ application.applicant_comments }}</p>
                                                <br>
                                                <p><b>Your question:</b></p>
                                                <p>{{ application.questions }}</p>
                                                <br>
                                                <p><b>My answers:</b></p>
                                                <p>{{ application.answers }}</p>
                                            </div>
                                        </div>

                                        {% for message in application.messages.all %}
                                            {% include 'leads/superio/includes/inbox_item.html' with message=message %}
                                        {% endfor %}
                                    </div>

                                    <div class="card-footer" id="hello">
                                        <div class="form-group mb-0">
                                            <form action="{% url 'applications:application_detail' application.id %}" method="post">
                                                {% csrf_token %}
                                                <textarea name="body" class="form-control type_msg" placeholder="Type a message..."></textarea>
                                                <button type="submit" class="theme-btn btn-style-one submit-btn">Send</button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% comment %} End: Dashboard {% endcomment %}  
{% endblock %}

{% block footer %}
{% include 'superio/includes/dashboard_footer.html' %}
{% endblock %}

{% comment %}
$(document).ready(function() {
    // Focus on latest message
    $inbox_item_last = $('.inbox_item:last')
    $inbox_messages = $('#inbox_messages')
    $inbox_messages.scrollTop($inbox_messages.scrollTop() + $inbox_item_last.position().top)
})
{% endcomment %}
{% block other_scripts %}
<script src="{% static 'leads/js/inbox.min.js' %}"></script>
<script src="{% static 'common/js/prevent_resubmit.js' %}"></script>
{% endblock %}