{% extends 'superio/extendables/b.html' %}

{% load static %}

{% block page_wrapper_classes %} dashboard{% endblock %}

{% block title %}Inbox{% endblock %}

{% block contents %}
{% include 'superio/includes/dashboard_sidebar.html' %}

{% comment %} Start: Dashboard {% endcomment %}
<section class="user-dashboard">
    <div class="dashboard-outer">
        <div class="upper-title-box">
            <h3>Inbox</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="chat-widget">
                    <div class="widget-content">
                        <div class="row">
                            <div class="contacts_column col-xl-4 col-lg-5 col-md-12 col-sm-12 chat" id="chat_contacts">
                                <div class="card contacts_card">
                                {% comment %} <div class="card-header">
                                    <div class="search-box-one">
                                        <form method="post" action="#">
                                            <div class="form-group">
                                            <span class="icon flaticon-search-1"></span>
                                            <input type="search" name="search-field" value="" placeholder="Search" required="">
                                            </div>
                                        </form>
                                    </div>
                                </div> {% endcomment %}
                                <div class="card-body contacts_body">
                                    <ul class="contacts">
                                        {% for application in request.user.user.sent_received_applications %}
                                            <li>
{% comment %} this url takes an application ID, if we just call messages itself, we are redirected to the first conversation {% endcomment %}
                                                <a href="#">
                                                    <div class="d-flex bd-highlight">
                                                        {% comment %} <div class="img_cont">
                                                            <img src="{% static 'common/superio/images/resource/candidate-1.png' %}" class="rounded-circle user_img" alt="">
                                                        </div> {% endcomment %}
                                                        <div class="user_info">
                                                            <span>{% if application.applicant != request.user.user %}{{ application.applicant.first_name|title }} {{ application.applicant.last_name|title }}{% else %}{{ application.lead.author.first_name|title }} {{ application.lead.author.last_name|title }}{% endif %}</span>
                                                            <p>{{ application.lead.headline }}</p>
                                                        </div>
                                                        <span class="info">{{ application.age_desc }}</span>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                </div>
                            </div>
                        <div class=" col-xl-8 col-lg-7 col-md-12 col-sm-12 chat">
                            <div class="card message-card">
                            <div class="card-header msg_head">
                                <div class="d-flex bd-highlight">
                                    {% comment %} <div class="img_cont">
                                        <img src="{% static 'common/superio/images/resource/candidate-8.png' %}" alt="" class="rounded-circle user_img">
                                    </div> {% endcomment %}
                                    <div class="user_info">
                                        <span>Arlene McCoy</span>
                                        <a href="#"><p>Wireless earbuds</p></a>
                                    </div>
                                </div>

                                <div class="btn-box">
                                    <button class="dlt-chat">Delete Conversation</button>
                                    <button class="toggle-contact"><span class="fa fa-bars"></span></button>
                                </div>
                            </div>

                            <div class="card-body msg_card_body">
                                <div class="d-flex justify-content-start mb-2">
                                <div class="img_cont_msg">
                                    {% comment %} <img src="{% static 'common/superio/images/resource/candidate-3.png' %}" alt="" class="rounded-circle user_img_msg"> {% endcomment %}
                                    <div class="name">Albert Flores <span class="msg_time">35 mins</span></div>
                                </div>
                                <div class="msg_cotainer">
                                    How likely are you to recommend our company to your friends and family?
                                </div>
                                </div>

                                <div class="d-flex justify-content-end mb-2 reply">
                                <div class="img_cont_msg">
                                    {% comment %} <img src="{% static 'common/superio/images/resource/candidate-6.png' %}" alt="" class="rounded-circle user_img_msg"> {% endcomment %}
                                    <div class="name">You <span class="msg_time">35 mins</span></div>
                                </div>
                                <div class="msg_cotainer">
                                    Hey there, we’re just writing to let you know that you’ve been subscribed to a repository on GitHub.
                                </div>
                                </div>

                                <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    {% comment %} <img src="{% static 'common/superio/images/resource/candidate-3.png' %}" alt="" class="rounded-circle user_img_msg"> {% endcomment %}
                                    <div class="name">Cameron Williamson <span class="msg_time">35 mins</span></div>
                                </div>
                                <div class="msg_cotainer">
                                    Ok, Understood!
                                </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="form-group mb-0">
                                <textarea class="form-control type_msg" placeholder="Type a message..."></textarea>
                                <button type="button" class="theme-btn btn-style-one submit-btn">Send Message</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% comment %} End: Dashboard {% endcomment %}  
{% endblock %}

{% block footer %}
{% include 'superio/includes/dashboard_footer.html' %}
{% endblock %}