{% extends 'superio/extendables/b.html' %}

{% load static %}

{% block title %}{{ lead.headline }}{% endblock %}

{% block other_css %}
<link href="{% static 'common/photoswipe/photoswipe.min.css' %}" rel="stylesheet" />
<link href="{% static 'common/photoswipe/default-skin/default-skin.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block contents %}

{% load lead_has_applications_with_applicant %}
{% lead_has_applications_with_applicant lead request.user.user as lead_has_applications_with_applicant %}
{% if lead_has_applications_with_applicant != None %}
<div class="message-box info">
    <p>You've applied to be an agent for this lead.</p>
    <button class="close-btn"><span class="close_icon"></span></button>
</div>
{% endif %}

<section class="blog-single">
    <div class="auto-container">
        <div class="upper-box">
        <h3>{{ lead.headline }}</h3>
            <ul class="post-info">
                <li>{{ lead.author.first_name|title }} {{ lead.author.last_name|title }}</li>
                <li>{{ lead.author.country.name }}</li>
                <li>{{ lead.age_desc }}</li>
            </ul>
        </div>
    </div>

    <div class="auto-container">
        <h4>Buy/Sell</h4>
        <p>{% if lead.lead_type == 'selling' %}Sell{% elif lead.lead_type == 'buying' %}Buy{% endif %}</p>

        {% if lead.author_type != None %}
            <h4>{% if lead.lead_type == 'selling' %}Direct seller{% elif lead.lead_type == 'buying' %}Direct buyer{% endif %} or middleman?</h4>
            <p>{% if lead.author_type == 'direct' %}{% if lead.lead_type == 'selling' %}Direct seller{% elif lead.author_type == 'buying' %}Direct buyer{% endif %}{% elif lead.lead_type == 'broker' %}Middleman{% endif %}</p>
        {% endif %}

        <h4>Country</h4>
        <p>{% if lead.lead_type == 'buying' %}{{ lead.sell_country.name }}{% elif lead.lead_type == 'selling' %}{{ lead.buy_country.name }}{% endif %}</p>

        {% if lead.commission_type != None and lead.commission_type.strip != '' %}
        {% if lead.commission_type == 'percentage' or lead.commission_type == 'usd_mt' %}
            <h4>Commission</h4>
            {% if lead.commission_type == 'percentage' %}
                <p>{{ lead.min_commission_percentage }}% to {{ lead.max_commission_percentage }}%</p>
            {% elif lead.commission_type == 'usd_mt' %}
                <p>USD {{ lead.commission_usd_mt|floatformat:2 }} per Metric Ton</p>
            {% endif %}
        {% endif %}
        {% endif %}

        {% if lead.details != None and lead.details.strip != '' %}
            <h4>Lead Details</h4>
            {% comment %} Render with <p> tags {% endcomment %}
            {{ lead.details|linebreaks }}
        {% endif %}

        {% if not request.user.is_authenticated %}
            <div class="comments-area">
                <div class="comment-form default-form">
                    <h4>I'm interested to be an agent</h4>
                    <a href="{% url 'register' %}?next={% url 'leads:lead_detail' lead.slug_link %}" class="theme-btn btn-style-one">Register</a>
                    <a href="{% url 'login' %}?next={% url 'leads:lead_detail' lead.slug_link %}" class="theme-btn btn-style-three">Login</a>
                </div>
            </div>
        {% elif lead.author != request.user.user and not lead_has_applications_with_applicant %}
            <div class="comments-area">
                <div class="comment-form default-form">
                    <h4>I'm interested to be an agent</h4>
                    <form action="{% url 'leads:lead_detail' lead.slug_link %}" method="post">
                        {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input id="has_experience" name="has_experience" type="checkbox">
                                <label for="has_experience">I have experience with this product or industry</label>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input id="has_buyers" name="has_buyers" type="checkbox">
                                <label for="has_buyers">I have potential buyers</label>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="applicant_comments">Comments</label>
                                <textarea id="applicant_comments" name="applicant_comments"></textarea>
                                {% if form.applicant_comments.errors %}<div style="color:red">{% for error in form.applicant_comments.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                            </div>
                            
                            {% if lead.questions != None %}

                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="answers">{{ lead.questions }}</label>
                                <textarea id="answers" name="answers"></textarea>
                                {% if form.answers.errors %}<div style="color:red">{% for error in form.answers.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                            </div>

                            {% endif %}

                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <button class="theme-btn btn-style-one" type="submit" name="submit-form">Apply</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
</section>
{% comment %} PhotoSwipe library HTML code to be inserted before end of body tag. {% endcomment %}
{% include 'includes/photoswipe.html' %}
{% endblock %}

{% comment %}
Amplitude instrumentation. Rendered inline because there are rendered values.

$(document).ready(function() {
    // Amplitude call on document ready
    function lead_viewed() {
        var event = 'discovery - viewed lead detail'
        var props = {
            'lead_id': '{{ lead.id }}',
            'buy_sell': '{{ lead.lead_type }}',
            'buy_country': '{{ lead.buy_country.programmatic_key }}'
        }
        amplitude.getInstance().logEvent(event, props)
    }
    lead_viewed()
})
{% endcomment %}
{% block other_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>$(document).ready((function(){amplitude.getInstance().logEvent("discovery - viewed lead detail",{lead_id:"{{ lead.id }}",buy_sell:"{{ lead.lead_type }}",buy_country:"{{ lead.buy_country.programmatic_key }}"})}));</script>
<script src="{% static 'common/js/prevent_resubmit.js' %}"></script>
{% endblock %}