{% extends 'superio/extendables/b.html' %}

{% load static %}

{% block title %}{{ lead.headline }}{% endblock %}

{% block other_css %}
<link href="{% static 'common/photoswipe/photoswipe.min.css' %}" rel="stylesheet" />
<link href="{% static 'common/photoswipe/default-skin/default-skin.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block contents %}

{% load lead_has_applications_with_applicant %}
{% lead_has_applications_with_applicant lead request.user.user as lead_has_applications_with_applicant %}
{% if lead_has_applications_with_applicant != None %}
<div class="message-box info">
    <p>You've applied to be an agent for this lead.</p>
    <button class="close-btn"><span class="close_icon"></span></button>
</div>
{% endif %}

<section class="blog-single">
    <div class="auto-container">
        <div class="upper-box">
        <h3>{{ lead.headline }}</h3>
            <ul class="post-info">
                <li>{{ lead.author.first_name|title }} {{ lead.author.last_name|title }}</li>
                <li>{{ lead.buy_country.name }}</li>
                <li>{{ lead.age_desc }}</li>
            </ul>
        </div>
    </div>

    <div class="auto-container">
        {% comment %} Start: Gallery {% endcomment %}
        {% if lead.display_images.all|length > 0 %}
        <div class="image-gallery" itemscope itemtype="http://schema.org/ImageGallery" style="margin-bottom: 60px">
            {% load thumbnail_url %}
            {% load image_url %}
            {% for file in lead.display_images.all %}
                {% thumbnail_url file as thumbnail_url %}
                {% image_url file as image_url %}
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{ image_url }}" itemprop="contentUrl" data-size="{{ file.width }}x{{ file.height }}">
                        <img src="{{ thumbnail_url }}" itemprop="thumbnail">
                    </a>
                </figure>
            {% endfor %}
        </div>
        {% endif %}
        {% comment %} End: Gallery {% endcomment %}

        <h4>Lead Details</h4>
        <p>{{ lead.details }}</p>

        <h4>Commission Details</h4>
        <p>{{ lead.comm_details }}</p>

        {% if not request.user.is_authenticated %}
            <div class="comments-area">
                <div class="comment-form default-form">
                    <h4>Login to apply to be an agent</h4>
                    <a href="{% url 'sign_in' %}?next={% url 'leads:lead_detail' lead.slug_link %}" class="theme-btn btn-style-one" name="submit-form">Login</a>
                </div>
            </div>
        {% elif lead.author != request.user.user and not lead_has_applications_with_applicant %}
            <div class="comments-area">
                <div class="comment-form default-form">
                    <h4>I'm interested to be an agent for this lead</h4>
                    <form action="{% url 'leads:lead_detail' lead.slug_link %}" method="post">
                        {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input id="has_experience" name="has_experience" type="checkbox">
                                <label for="has_experience">I have experience with this product or industry</label>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input id="has_buyers" name="has_buyers" type="checkbox">
                                <label for="has_buyers">I have potential buyers</label>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="applicant_comments">Comments</label>
                                <textarea id="applicant_comments" name="applicant_comments"></textarea>
                                {% if form.applicant_comments.errors %}<div style="color:red">{% for error in form.applicant_comments.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="answers">{{ lead.questions }}</label>
                                <textarea id="answers" name="answers"></textarea>
                                {% if form.answers.errors %}<div style="color:red">{% for error in form.answers.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <button class="theme-btn btn-style-one" type="submit" name="submit-form">Apply</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
</section>
{% comment %} PhotoSwipe library HTML code to be inserted before end of body tag. {% endcomment %}
{% include 'includes/photoswipe.html' %}
{% endblock %}

{% comment %}
Amplitude instrumentation. Rendered inline because there are rendered values.

$(document).ready(function() {
    // Amplitude call on document ready
    function lead_viewed() {
        var event = 'discovery - viewed lead detail'
        var props = {
            'lead_id': '{{ lead.id }}',
            'buy_sell': '{{ lead.lead_type }}',
            'buy_country': '{{ lead.buy_country.programmatic_key }}'
        }
        amplitude.getInstance().logEvent(event, props)
    }
    lead_viewed()
})
{% endcomment %}
{% block other_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'common/photoswipe/photoswipe.min.js' %}"></script>
<script src="{% static 'common/photoswipe/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'common/photoswipe/photoswipe-everybase.min.js' %}"></script>
<script>$(document).ready((function(){amplitude.getInstance().logEvent("discovery - viewed lead detail",{lead_id:"{{ lead.id }}",buy_sell:"{{ lead.lead_type }}",buy_country:"{{ lead.buy_country.programmatic_key }}"})}));</script>
<script src="{% static 'common/js/prevent_resubmit.js' %}"></script>
{% endblock %}