{% extends 'superio/extendables/b.html' %}

{% load static %}

{% block title %}Leads - exporters looking for agents to sell their products overseas{% endblock %}

{% block contents %}
<section class="page-title">
    <div class="auto-container">
        <div class="title-outer">
            <h1>Leads</h1>
            <ul class="page-breadcrumb">
                <li style="text-transform: none">Exporters looking for agents to sell their products overseas</li>
            </ul>
        </div>
    </div>
</section>

<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row">

            <div class="content-side col-lg-12 col-md-12 col-sm-12">
                <div class="blog-grid">
                    <div class="row">
                        {% if page_obj|length > 0 %}
                            {% for lead in page_obj %}
                                {% include 'leads/superio/includes/lead_item.html' with lead=lead %}
                            {% endfor %}
                        {% endif %}
                    </div>
   
                    {% load query_transform %}
                    <nav class="ls-pagination">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li class="prev"><a href="?{% query_transform page=page_obj.previous_page_number %}"><i class="fa fa-arrow-left" style="margin-right: 10px"></i>Previous Page</a></li>
                            {% endif %}
                            {% comment %} <li><a href="#">1</a></li>
                            <li><a href="#" class="current-page">2</a></li>
                            <li><a href="#">3</a></li> {% endcomment %}
                            {% if page_obj.has_next %}
                                <li class="next"><a href="?{% query_transform page=page_obj.next_page_number %}">Next Page<i class="fa fa-arrow-right" style="margin-left: 10px"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}