{% extends 'superio/extendables/b.html' %}

{% load static %}

{% block title %}Products{% endblock %}

{% block contents %}

<section class="page-title">
    <div class="auto-container">
        <div class="title-outer">
            <h1>Products</h1>
        </div>
    </div>
</section>

<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row">

            <div class="content-side col-lg-12 col-md-12 col-sm-12">
                <div class="blog-grid">
                <div class="row">
                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{% static 'common/superio/images/resource/news-1.jpg' %}" alt="" /></figure>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#">Li Wung Quan</a></li>
                                    <li><a href="#">China</a></li>
                                </ul>
                                <h3><a href="#">Wireless earbuds</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{% static 'common/superio/images/resource/news-1.jpg' %}" alt="" /></figure>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#">Li Wung Quan</a></li>
                                    <li><a href="#">China</a></li>
                                </ul>
                                <h3><a href="#">Wireless earbuds</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{% static 'common/superio/images/resource/news-1.jpg' %}" alt="" /></figure>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#">Li Wung Quan</a></li>
                                    <li><a href="#">China</a></li>
                                </ul>
                                <h3><a href="#">Wireless earbuds</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{% static 'common/superio/images/resource/news-1.jpg' %}" alt="" /></figure>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#">Li Wung Quan</a></li>
                                    <li><a href="#">China</a></li>
                                </ul>
                                <h3><a href="#">Wireless earbuds</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{% static 'common/superio/images/resource/news-1.jpg' %}" alt="" /></figure>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#">Li Wung Quan</a></li>
                                    <li><a href="#">China</a></li>
                                </ul>
                                <h3><a href="#">Wireless earbuds</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="{% static 'common/superio/images/resource/news-1.jpg' %}" alt="" /></figure>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><a href="#">Li Wung Quan</a></li>
                                    <li><a href="#">China</a></li>
                                </ul>
                                <h3><a href="#">Wireless earbuds</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <nav class="ls-pagination">
                    <ul>
                    <li class="prev"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#" class="current-page">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="next"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>
</div>
  
{% endblock %}