{% load static %}

<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'common/assets/css/output.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/assets/media/logos/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'common/assets/media/logos/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'common/assets/media/logos/favicon-16x16.png' %}">
    {% block other_head_tags %}{% endblock %}
    {% block other_css %}{% endblock %}
</head>
<body class="bg-slate-100 flex flex-col">
    <!-- start: header -->
    <div class="flex items-center justify-between bg-white py-3 pl-5 pr-5 shadow-md z-[100] sticky top-0">
        <!-- start: hamburger and logo -->
        <div>
            <button class="hamburger lg:hidden">
                <div class="bar"></div>
            </button>
            <a class="hidden lg:block" href="https://everybase.co"><img src="{% static 'common/assets/img/logo.png' %}"></a>
        </div>
        <!-- end: hamburger and logo -->

        <!-- start: desktop menu -->
        <div class="justify-between hidden lg:block">
            <a class="font-bold text-blue-600 text-base" href="#">Agents</a>
            <a class="hover:text-blue-600 text-base ml-7" href="#">I-Need-Agents</a>
        </div>
        <!-- end: desktop menu -->

        <!-- start: actions -->
        <div class="flex">
            <a href="#" class="text-base text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2 hidden lg:block">Register</a>
            <a href="#" class="text-base text-slate-600 shadow-md bg-slate-300 hover:bg-slate-400 rounded px-4 py-2 ml-2 hidden lg:block">Login</a>
            <a href="#" class="text-base text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2 ml-2 hidden lg:block">My Profile</a>
        </div>
        <!-- end: actions -->

        <!-- start: page actions -->
        {% block page_actions %}{% endblock %}
        <!-- end: page actions -->
    </div>
    <nav class="mobile-nav text-base">
        <a href="#" class="hover:text-blue-700 block px-4 py-4" href="#">Home</a>
        <a class="font-bold text-blue-700 block px-4 py-4" href="#">Agents</a>
        <a href="#" class="hover:text-blue-700 block px-4 py-4" href="#">I-Need-Agents</a>
        <div class="h-10"></div>
        <a href="#" class="hover:text-blue-700 block px-4 py-4" href="#">Register</a>
        <a href="#" class="hover:text-blue-700 block px-4 py-4" href="#">Login</a>
    </nav>
    <!-- end: header -->

    {% block content %}{% endblock %}

    {% block footer %}
    <div class="flex justify-center bg-blue-50 py-5 px-10 mt-20">
        <div class="text-sm text-center">
            <p>Everybase Pte Ltd, &copy 2022, Singapore</p>
            <p><a class="text-blue-500 hover:text-blue-700" href="mailto:friend@everybase.co">friend@everybase.co</a></p>
            <p><a class="text-blue-500 hover:text-blue-700" href="https://wa.me/6588933466">+65 88933466 (WhatsApp)</a></p>
        </div>
    </div>
    {% endblock %}

    <script src="{% static 'common/assets/js/output.js' %}"></script>
    {% block other_script %}{% endblock %}
</body>
</html>