{% load static %}

<!doctype html>
<html>
{% autoescape on %}
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'common/assets/css/output.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/assets/media/logos/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'common/assets/media/logos/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'common/assets/media/logos/favicon-16x16.png' %}">
    {% block other_head_tags %}{% endblock %}
    {% block other_css %}{% endblock %}
</head>
<body class="bg-slate-100 flex flex-col">
    {% comment %} start: header {% endcomment %}
    <div class="flex items-center justify-between bg-white py-3 pl-5 pr-5 shadow-md z-[100] sticky top-0">
        {% comment %} start: hamburger and logo {% endcomment %}
        <div>
            <button class="hamburger lg:hidden">
                <div class="bar"></div>
            </button>
            <a class="hidden lg:block" href="https://everybase.co"><img src="{% static 'common/assets/img/logo.png' %}"></a>
        </div>
        {% comment %} end: hamburger and logo {% endcomment %}

        {% comment %} start: desktop menu {% endcomment %}
        <div class="justify-between hidden lg:block">
            <a class="{% if request.resolver_match.view_name == 'leads__root:agents' %}font-bold text-blue-600{% else %}hover:text-blue-600{% endif %} text-base"{% if request.resolver_match.view_name != 'leads__root:agents' %} href="{% url 'leads__root:agents' %}"{% endif %}>Agents</a>
            <a class="{% if request.resolver_match.view_name == 'leads:lead_list' %}font-bold text-blue-600{% else %}hover:text-blue-600{% endif %} text-base ml-7"{% if request.resolver_match.view_name != 'leads:lead_list' %} href="{% url 'leads:lead_list' %}"{% endif %}>I-Need-Agents</a>
            <a class="{% if request.resolver_match.view_name == 'leads__root:about_us' %}font-bold text-blue-600{% else %}hover:text-blue-600{% endif %} text-base ml-7" href="#">About Us</a>
        </div>
        {% comment %} end: desktop menu {% endcomment %}

        {% comment %} start: actions {% endcomment %}
        <div class="flex">
            {% if request.user.is_authenticated %}
                <a href="{% url 'relationships:logout' %}" class="text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2 hidden lg:block">Logout</a>
                <a href="{% url 'users:user_comments' user.user.id %}" class="text-slate-600 shadow-md bg-slate-300 hover:bg-slate-400 rounded px-4 py-2 ml-2 hidden lg:block">My Profile</a>
            {% else %}
                <a href="{% url 'relationships:register' %}" class="text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2 hidden lg:block">Register</a>
                <a href="{% url 'relationships:login' %}" class="text-slate-600 shadow-md bg-slate-300 hover:bg-slate-400 rounded px-4 py-2 ml-2 hidden lg:block">Login</a>
            {% endif %}
        </div>
        {% comment %} end: actions {% endcomment %}

        {% block page_actions %}{% endblock %}
    </div>
    {% comment %} start: mobile menu {% endcomment %}
    <nav class="mobile-nav text-base">
        <a class="{% if request.resolver_match.view_name == 'leads__root:agents' %}font-bold text-blue-700{% else %}hover:text-blue-700{% endif %} block px-4 py-4"{% if request.resolver_match.view_name != 'leads__root:agents' %} href="{% url 'leads__root:agents' %}"{% endif %}>Agents</a>
        <a class="{% if request.resolver_match.view_name == 'leads:lead_list' %}font-bold text-blue-700{% else %}hover:text-blue-700{% endif %} block px-4 py-4"{% if request.resolver_match.view_name != 'leads:lead_list' %} href="{% url 'leads:lead_list' %}"{% endif %}>I-Need-Agents</a>
        <a class="{% if request.resolver_match.view_name == 'leads__root:about_us' %}font-bold text-blue-700{% else %}hover:text-blue-700{% endif %} block px-4 py-4" href="#">About Us</a>
        <div class="h-10"></div>
        <a class="{% if request.resolver_match.view_name == 'relationships:register' %}font-bold text-blue-700{% else %}hover:text-blue-700{% endif %} block px-4 py-4" href="{% url 'relationships:register' %}">Register</a>
        <a class="{% if request.resolver_match.view_name == 'relationships:login' %}font-bold text-blue-700{% else %}hover:text-blue-700{% endif %} block px-4 py-4" href="{% url 'relationships:login' %}">Login</a>
        <a class="{% if request.resolver_match.view_name == 'relationships:logout' %}font-bold text-blue-700{% else %}hover:text-blue-700{% endif %} block px-4 py-4" href="{% url 'relationships:logout' %}">Logout</a>
        <a class="{% if request.resolver_match.view_name == 'relationships:login' %}font-bold text-blue-700{% else %}hover:text-blue-700{% endif %} block px-4 py-4" href="{% url 'relationships:login' %}">My Profile</a>
    </nav>
    {% comment %} end: mobile menu {% endcomment %}
    {% comment %} end: header {% endcomment %}

    {% block content %}{% endblock %}

    {% block footer %}
    <div class="flex justify-center bg-blue-50 py-5 px-10 mt-20">
        <div class="text-sm text-center">
            <p>Everybase Pte Ltd, &copy 2022, Singapore</p>
            <p><a class="text-blue-500 hover:text-blue-700" href="mailto:friend@everybase.co">friend@everybase.co</a></p>
            <p><a class="text-blue-500 hover:text-blue-700" href="https://wa.me/6588933466">+65 88933466 (WhatsApp)</a></p>
        </div>
    </div>
    {% endblock %}

    <script src="{% static 'common/assets/js/output.js' %}"></script>
    {% block other_script %}{% endblock %}
</body>
{% endautoescape %}
</html>