{% extends 'extendables/base.html' %}

{% load static %}

{% block title %}
    Register for Everybase
{% endblock %}

{% block content %}
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="kt-portlet kt-portlet--skin-solid kt-bg-info">
                    <div class="kt-portlet__body">
                        You will be directed to your documents after you've registered.
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="kt-portlet">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Register for Everybase
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="col-lg-12">
                            A verification email has been sent to ke***g@ki***o. Click on the button in the email to prove you 
                            own this email and continue registering for Everybase.
                        </div>
                        <img class="col-lg-12 kt-margin-t-20" src="{% static 'common/media/pages/register_email_sent/click_this.png' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}