{% extends 'extendables/base.html' %}

{% block title %}
    Register New Everybase Account
{% endblock %}

{% block content %}
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="kt-portlet">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Register
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="alert alert-secondary" role="alert">
                            <div class="alert-text">
                                Please create an account to access your documents. If you need help - please contact <a href="#">Everybase support</a>.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="form-group col-lg-8">
                                <label>Email</label>
                                <input type="text" class="form-control" value="kevin.ng@kiyoko.jp" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="form-group col-lg-8">
                                <label>First Name</label>
                                <input type="text" class="form-control" value="Kevin" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="form-group col-lg-8">
                                <label>Last Name</label>
                                <input type="text" class="form-control" value="Kevin" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                                                <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="form-group col-lg-8">
                                <label>Given Name</label>
                                <input type="text" class="form-control" placeholder="Your Given or First Name" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="form-group col-lg-8">
                                <label>Family Name</label>
                                <input type="text" class="form-control" placeholder="Your Family or Last Name" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="form-group col-lg-8">
                                <label>Role</label>
                                <input type="text" class="form-control" placeholder="E.g. Supply Chain Executive" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="form-group col-lg-8">
                                <label>Organization</label>
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> Join Existing
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> Start New
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="form-group col-lg-8">
                                <label>Organization Name</label>
                                <input type="text" class="form-control" value="Kevin" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="form-group col-lg-8">
                                <label>Organization UUID</label>
                                <input type="text" class="form-control" value="Kevin" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="kt-form__actions col-lg-6">
                                <!-- <button class="btn btn-primary">Register and Access Document</button> -->
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}