{% extends 'extendables/base.html' %}

{% load widget_tweaks %}

{% block title %}
    Password Reset Email Sent - If You Have an Account
{% endblock %}

{% block content %}
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    <div class="kt-portlet">
                        <div class="kt-portlet__head kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Password Reset Email Sent - If You Have an Account
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="alert alert-secondary" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                                <div class="alert-text">
                                    An email to help you reset your password will be sent to you - if you have an account on Everybase.
                                    If you require help, please contact <a href="#">Everybase support</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}