{% extends 'extendables/base.html' %}

{% load widget_tweaks %}

{% block title %}
    Register for Everybase
{% endblock %}

{% block content %}
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="kt-portlet kt-portlet--skin-solid kt-bg-info">
                    <div class="kt-portlet__body">
                        You will be directed to your documents after you've registered.
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="kt-portlet">
                        <div class="kt-portlet__head kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Register for Everybase
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            {% comment %} Not implemented {% endcomment %}
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.message == 'SHOWING_DOCUMENTS' %}
                                        <div class="alert alert-secondary" role="alert">
                                            <div class="alert-text">
                                                Please create an account to access your documents. If you need help - contact <a href="mailto:support@everybase.co">Everybase support</a>.
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="form-group col-lg-8">
                                    <label>Email</label>
                                    {{ form.email|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder:Your Work Email" }}
                                    {% if form.email.errors %}
                                        <div class="invalid-feedback">{{ form.email.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="form-group col-lg-8">
                                    <label>Role</label>
                                    {{ form.role|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder:E.g. Supply Chain Executive" }}
                                    {% if form.role.errors %}
                                        <div class="invalid-feedback">{{ form.role.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="form-group col-lg-8">
                                    <label>Password</label>
                                    {{ form.password|add_class:"form-control"|add_error_class:"is-invalid"|attr:"placeholder:E.g. Account Password" }}
                                    {% if form.password.errors %}
                                        <div class="invalid-feedback">{{ form.password.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="kt-form__actions col-lg-6">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.next }}
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}