{% extends 'extendables/base.html' %}

{% load widget_tweaks %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    <div class="kt-portlet">
                        <div class="kt-portlet__head kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Reset Password
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.message == 'CODE_INVALID' %}
                                        <div class="alert alert-outline-danger">
                                            <div class="alert-icon"><i class="flaticon-warning kt-font-danger"></i></div>
                                            <div class="alert-text">
                                                Your password reset link have expired. Please request for a new link.  
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <div class="alert alert-secondary" role="alert">
                                <div class="alert-text">
                                    An email with a link to reset your password will be sent to you. If you require help, please
                                    contact <a href="#">Everybase support</a>.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="form-group col-lg-8">
                                    <label>Email</label>
                                    {{ form.email|add_class:"form-control"|add_error_class:"is-invalid" }}
                                    {% if form.email.errors %}
                                        <div class="invalid-feedback">{{ form.email.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="kt-form__actions col-lg-8">
                                    <button type="submit" class="btn btn-primary col-lg-4">Reset Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.next }}
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}