{% extends 'metronic/extendables/b.html' %}

{% load static %}

{% block page_title %}Contact Lead Author{% endblock %}

{% block page_subtitle %}{{ lead.body|truncatechars:100 }}{% endblock %}

{% block actions%}
{% include 'leads/metronic/includes/toolbar_actions.html' %}
{% endblock %}

{% block content_body %}
<form action="{% url 'leads:contact_lead' lead.id %}" method="post">
{% csrf_token %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <div class="card shadow-sm">
            <div class="card-header">
                <div class="card-title align-items-start flex-column">
                    <div class="d-flex align-items-center">
                        <div class="symbol symbol-45px me-5">
                            {% if lead.author.avatar == None %}
                                <div class="symbol-label fs-3 bg-light-primary text-primary">{{ lead.author.first_name.0|upper }}{{ lead.author.last_name.0|upper }}</div>
                            {% else %}
                                <img src="{{ lead.author.avatar_thumbnail_url }}" />
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-start flex-column">
                            <div class="text-dark fw-bolder fs-6">{{ lead.author.first_name|title }} {{ lead.author.last_name|title }}
                            {% if lead.author.is_country_match_country_code %}
                                {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen043.svg {% endcomment %}
                                <span class="svg-icon svg-icon-success svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Verified with phone number country code +1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                    <path d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z" fill="currentColor"/>
                                    </svg>
                                </span>
                                {% comment %} End: SVG icon {% endcomment %}
                            {% endif %}
                            </div>
                            <span class="text-muted fw-bold text-muted d-block fs-7">{{ lead.author.country.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-toolbar">
                    <span class="text-muted">{{ lead.age_desc }}</span>
                </div>
            </div>
        
            <div class="card-body">
                <div class="text-dark">{{ lead.body|linebreaks }}</div>

                <div class="mt-2">
                    {% include 'leads/metronic/includes/lead_badges.html' with lead=lead %}
                </div>

                <div class="separator my-4"></div>

                <h5>Contact Lead Author</h5>

                <div class="form-floating col-lg-6 mt-4">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"{% if form.first_name.value is not None and form.first_name.value|cut:' ' != '' %} value="{{ form.first_name.value }}"{% endif %} required />
                    <label for="first_name">First Name</label>
                </div>
                {% if form.first_name.errors %}<div class="text-danger">{% for error in form.first_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="form-floating col-lg-6 mt-2">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"{% if form.last_name.value is not None and form.last_name.value|cut:' ' != '' %} value="{{ form.last_name.value }}"{% endif %} required />
                    <label for="last_name">Last Name</label>
                </div>
                {% if form.last_name.errors %}<div class="text-danger">{% for error in form.last_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="form-floating col-lg-6 mt-2">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"{% if form.email.value is not None and form.email.value|cut:' ' != '' %} value="{{ form.email.value }}"{% endif %} required />
                    <label for="email">Email</label>
                </div>
                {% if form.email.errors %}<div class="text-danger">{% for error in form.email.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="form-floating col-lg-6 mt-2">
                    <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="+1234567890"{% if form.phone_number.value is not None and form.phone_number.value|cut:' ' != '' %} value="{{ form.phone_number.value }}"{% endif %} required />
                    <label for="phone_number">Phone</label>
                </div>
                <div class="form-text">Include + symbol. E.g., +14155552671.</div>
                {% if form.phone_number.errors %}<div class="text-danger">{% for error in form.phone_number.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="form-check form-check-custom mt-4">
                    <input class="form-check-input me-2" type="checkbox" name="via_whatsapp" id="via_whatsapp" {% if form.via_whatsapp.value == True %}checked {% endif %}/>
                    <label for="via_whatsapp">WhatsApp</label>
                </div>

                <div class="form-check form-check-custom mt-2">
                    <input class="form-check-input me-2" type="checkbox" name="via_wechat" id="via_wechat" {% if form.via_wechat.value == True %}checked {% endif %}/>
                    <label for="via_wechat">WeChat</label>
                </div>

                <div id="via_wechat_id_div" class="form-floating col-lg-6 mt-2">
                    <input type="text" class="form-control" name="via_wechat_id" id="via_wechat_id" placeholder="WeChat ID"{% if form.via_wechat_id.value is not None and form.via_wechat_id.value|cut:' ' != '' %} value="{{ form.via_wechat_id.value }}"{% endif %}/>
                    <label for="via_wechat_id">WeChat ID</label>
                </div>

                {% if form.via_wechat_id.errors %}<div class="text-danger">{% for error in form.via_wechat_id.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="col-lg-6 mt-6">
                    <select name="country" class="form-select" data-control="select2" data-placeholder="Country" id="country">
                        <option></option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if form.country.value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.country.errors %}<div class="text-danger">{% for error in form.country.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                <div class="form-floating col-lg-6 mt-2">
                    <textarea class="form-control" data-kt-autosize="true" maxlength="100" placeholder="Comments" id="comments" name="comments">{% if form.comments.value is not None and form.comments.value|cut:' ' != '' %}{{ form.comments.value }}{% endif %}</textarea>
                    <label for="comments">Comments</label>
                </div>
                {% if form.comments.errors %}<div class="text-danger">{% for error in form.comments.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                
                {% if lead.lead_type == 'selling' %}
                
                    <div id="to_selling_as_sales_agent_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_selling_as_sales_agent" id="to_selling_as_sales_agent" {% if form.to_selling_as_sales_agent.value == True %}checked {% endif %}/>
                        <label for="to_selling_as_sales_agent"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sales_agent.txt' %}">Sales Agent</span></label>
                    </div>

                    <div id="to_selling_as_sourcing_goods_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_selling_as_sourcing_goods" id="to_selling_as_sourcing_goods" {% if form.to_selling_as_sourcing_goods.value == True %}checked {% endif %}/>
                        <label for="to_selling_as_sourcing_goods"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sourcing_goods.txt' %}">Sourcing Goods</span></label>
                    </div>

                    <div id="to_selling_as_other_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_selling_as_other" id="to_selling_as_other" {% if form.to_selling_as_other.value == True %}checked {% endif %}/>
                        <label for="to_selling_as_other"><span class="badge badge-secondary">Other</span></label>
                    </div>
                
                {% elif lead.lead_type == 'buying' %}

                    <div id="to_buying_as_sourcing_agent_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_buying_as_sourcing_agent" id="to_buying_as_sourcing_agent" {% if form.to_buying_as_sourcing_agent.value == True %}checked {% endif %}/>
                        <label for="to_buying_as_sourcing_agent"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sourcing_agent.txt' %}">Sourcing Agent</span></label>
                    </div>

                    <div id="to_buying_as_promoting_goods_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_buying_as_promoting_goods" id="to_buying_as_promoting_goods" {% if form.to_buying_as_promoting_goods.value == True %}checked {% endif %}/>
                        <label for="to_buying_as_promoting_goods"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/promoting_goods.txt' %}">Promoting Goods</span></label>
                    </div>

                    <div id="to_buying_as_other_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_buying_as_other" id="to_buying_as_other" {% if form.to_buying_as_other.value == True %}checked {% endif %}/>
                        <label for="to_buying_as_other"><span class="badge badge-secondary">Other</span></label>
                    </div>

                {% elif lead.lead_type == 'sales_agent' %}

                    <div id="to_sales_agent_as_seeking_cooperation_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_sales_agent_as_seeking_cooperation" id="to_sales_agent_as_seeking_cooperation" {% if form.to_sales_agent_as_seeking_cooperation.value == True %}checked {% endif %}/>
                        <label for="to_sales_agent_as_seeking_cooperation"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/contacts/seeking_cooperation_from_sales_agent.txt' %}">Seeking Cooperation</span></label>
                    </div>

                    <div id="to_sales_agent_as_sourcing_goods_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_sales_agent_as_sourcing_goods" id="to_sales_agent_as_sourcing_goods" {% if form.to_sales_agent_as_sourcing_goods.value == True %}checked {% endif %}/>
                        <label for="to_sales_agent_as_sourcing_goods"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sourcing_goods.txt' %}">Sourcing Goods</span></label>
                    </div>

                    <div id="to_sales_agent_as_other_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_sales_agent_as_other" id="to_sales_agent_as_other" {% if form.to_sales_agent_as_other.value == True %}checked {% endif %}/>
                        <label for="to_sales_agent_as_other"><span class="badge badge-secondary">Other</span></label>
                    </div>

                {% elif lead.lead_type == 'sourcing_agent' %}

                    <div id="to_sourcing_agent_as_seeking_cooperation_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_sourcing_agent_as_seeking_cooperation" id="to_sourcing_agent_as_seeking_cooperation" {% if form.to_sourcing_agent_as_seeking_cooperation.value == True %}checked {% endif %}/>
                        <label for="to_sourcing_agent_as_seeking_cooperation"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/contacts/seeking_cooperation_from_sourcing_agent.txt' %}">Seeking Cooperation</span></label>
                    </div>

                    <div id="to_sourcing_agent_as_promoting_goods_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_sourcing_agent_as_promoting_goods" id="to_sourcing_agent_as_promoting_goods" {% if form.to_sourcing_agent_as_promoting_goods.value == True %}checked {% endif %}/>
                        <label for="to_sourcing_agent_as_promoting_goods"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/promoting_goods.txt' %}">Promoting Goods</span></label>
                    </div>

                    <div id="to_sourcing_agent_as_other_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_sourcing_agent_as_other" id="to_sourcing_agent_as_other" {% if form.to_sourcing_agent_as_other.value == True %}checked {% endif %}/>
                        <label for="to_sourcing_agent_as_other"><span class="badge badge-secondary">Other</span></label>
                    </div>

                {% elif lead.lead_type == 'logistics_agent' %}

                    <div id="to_logistics_agent_as_need_logistics_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_logistics_agent_as_need_logistics" id="to_logistics_agent_as_need_logistics" {% if form.to_logistics_agent_as_need_logistics.value == True %}checked {% endif %}/>
                        <label for="to_logistics_agent_as_need_logistics"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/need_logistics.txt' %}">Need Logistics</span></label>
                    </div>

                    <div id="to_logistics_agent_as_other_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_logistics_agent_as_other" id="to_logistics_agent_as_other" {% if form.to_logistics_agent_as_other.value == True %}checked {% endif %}/>
                        <label for="to_logistics_agent_as_other"><span class="badge badge-secondary">Other</span></label>
                    </div>

                {% elif lead.lead_type == 'need_logistics' %}

                    <div id="to_need_logistics_as_logistics_agent_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_need_logistics_as_logistics_agent" id="to_need_logistics_as_logistics_agent" {% if form.to_need_logistics_as_logistics_agent.value == True %}checked {% endif %}/>
                        <label for="to_need_logistics_as_logistics_agent"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/logistics_agent.txt' %}">Logistics Agent</span></label>
                    </div>

                    <div id="to_need_logistics_as_other_div" class="form-check form-check-custom mt-2">
                        <input class="form-check-input me-2" type="checkbox" name="to_need_logistics_as_other" id="to_need_logistics_as_other" {% if form.to_need_logistics_as_other.value == True %}checked {% endif %}/>
                        <label for="to_need_logistics_as_other"><span class="badge badge-secondary">Other</span></label>
                    </div>

                {% endif %}
            </div>

            <div class="card-footer">
                <div class="d-flex flex-row-reverse mt-4">
                    <button type="submit" class="btn btn-primary">Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% comment %}
$(document).ready(function() {
    via_wechat_id_div = $('#via_wechat_id_div')
    via_wechat = $('#via_wechat')

    function toggle_via_wechat_id_div() {
        if (via_wechat.is(':checked')) {
            via_wechat_id_div.show()
        } else {
            via_wechat_id_div.hide()
        }
    }

    toggle_via_wechat_id_div()

    via_wechat.click(function() {
        toggle_via_wechat_id_div()
    })
})
{% endcomment %}
{% block page_custom_javascript %}
<script src="{% static 'leads/js/contact_lead.js' %}"></script>
{% endblock %}