{% extends 'metronic/extendables/b.html' %}

{% block page_title %}Leads{% endblock %}

{% block page_subtitle %}Importers, exporters, buyers, sellers, agents and more.{% endblock %}

{% block actions %}
{% include 'leads/metronic/includes/toolbar_actions.html' with hide_search=True %}
{% endblock %}

{% block content_body %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    {% comment %} Start: Container {% endcomment %}
    <div id="kt_content_container" class="container-xxl">

        {% if messages %}
            {% for message in messages %}
                {% comment %} We need to string-strip message or the comparison will not work. {% endcomment %}
                {% if message|cut:' ' == 'MESSAGE_KEY__EMAIL_UPDATE_SUCCESS' %}
                    <div class="alert alert-dismissible bg-info d-flex flex-column flex-sm-row w-100 p-5 mb-10">
                        {% comment %} Start: SVG icon | path: icons/duotune/general/gen007.svg {% endcomment %}
                        <span class="svg-icon svg-icon-2hx svg-icon-light me-4 mb-5 mb-sm-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.3" d="M12 22C13.6569 22 15 20.6569 15 19C15 17.3431 13.6569 16 12 16C10.3431 16 9 17.3431 9 19C9 20.6569 10.3431 22 12 22Z" fill="currentColor"></path>
                                <path d="M19 15V18C19 18.6 18.6 19 18 19H6C5.4 19 5 18.6 5 18V15C6.1 15 7 14.1 7 13V10C7 7.6 8.7 5.6 11 5.1V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V5.1C15.3 5.6 17 7.6 17 10V13C17 14.1 17.9 15 19 15ZM11 10C11 9.4 11.4 9 12 9C12.6 9 13 8.6 13 8C13 7.4 12.6 7 12 7C10.3 7 9 8.3 9 10C9 10.6 9.4 11 10 11C10.6 11 11 10.6 11 10Z" fill="currentColor"></path>
                            </svg>
                        </span>
                        {% comment %} End: SVG icon {% endcomment %}
                        
                        <div class="d-flex flex-column text-light pe-0 pe-sm-10">
                            <h4 class="mb-2 text-light">Contact Sent</h4>
                            <span>We've sent your contact details to the lead author.</span>
                        </div>

                        <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                            {% comment %} Start: SVG icon | path: icons/duotune/arrows/arr061.svg {% endcomment %}
                            <span class="svg-icon svg-icon-2x svg-icon-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                                </svg>
                            </span>
                            {% comment %} End: SVG icon {% endcomment %}
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% comment %} Start: Search options {% endcomment %}
        <div>
            <div class="d-flex align-items-center">
                <div class="col-lg-2 col-4 d-flex">
                    <select class="form-select" data-control="select2" data-hide-search="true" data-placeholder="Sort By">
                        <option value="best_match">Best Match</option>
                        <option value="latest">Latest</option>
                        <option value="num_contacts">More Contacts</option>
                    </select>
                </div>

                <div class="bullet bg-secondary h-35px w-1px ms-2"></div>
                
                <input type="text" class="form-control ms-2" placeholder="Enter search phrase" />
                <button type="submit" class="btn btn-primary ms-2">Search</button>
            </div>

            <div class="d-flex justify-content-end mt-2">
                <div class="form-check form-check-custom">
                    <input class="form-check-input me-2" type="checkbox" name="is_reduce_spams_scams" id="is_reduce_spams_scams" {% if form.is_buying.value == True %}checked {% endif %}/>
                    <label for="is_reduce_spams_scams">Reduce Spams & Scams
                        {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen043.svg {% endcomment %}
                        <span class="svg-icon svg-icon-info svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hide leads with a lot of Bad flags.">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                <rect x="11" y="17" width="7" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"/>
                                <rect x="11" y="9" width="2" height="2" rx="1" transform="rotate(-90 11 9)" fill="currentColor"/>
                            </svg>
                        </span>
                        {% comment %} End: SVG icon {% endcomment %}
                    </label>
                </div>
            </div>

            {% comment %} Start: Options to show on/above large {% endcomment %}
            <div class="d-none d-lg-block">
                <div class="separator my-2"></div>

                <div class="d-flex align-items-center">
                    <div class="form-check form-check-custom">
                        <input class="form-check-input me-2" type="checkbox" name="is_buying" id="is_buying" {% if form.is_buying.value == True %}checked {% endif %}/>
                        <label for="is_buying">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sourcing_goods.txt' %}">Sourcing Goods</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="is_selling" id="is_selling" {% if form.is_selling.value == True %}checked {% endif %}/>
                        <label for="is_selling">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/promoting_goods.txt' %}">Promoting Goods</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="need_logistics" id="need_logistics" {% if form.need_logistics.value == True %}checked {% endif %}/>
                        <label for="need_logistics">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/need_logistics.txt' %}">Need Logistics</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="is_sourcing_agent" id="is_sourcing_agent" {% if form.is_sourcing_agent.value == True %}checked {% endif %}/>
                        <label for="is_sourcing_agent">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sourcing_agent.txt' %}">Sourcing Agent</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="is_sales_agent" id="is_sales_agent" {% if form.is_sales_agent.value == True %}checked {% endif %}/>
                        <label for="is_sales_agent">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sales_agent.txt' %}">Sales Agent</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="is_logistics_agent" id="is_logistics_agent" {% if form.is_logistics_agent.value == True %}checked {% endif %}/>
                        <label for="is_logistics_agent">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/logistics_agent.txt' %}">Logistics Agent</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="is_other" id="is_other" {% if form.is_other.value == True %}checked {% endif %}/>
                        <label for="is_other">
                            <span class="badge badge-secondary">Other</span>
                        </label>
                    </div>
                </div>
            </div>
            {% comment %} End: Options to show on/above large {% endcomment %}

            {% comment %} Start: Options to show below large {% endcomment %}
            <div class="d-block d-lg-none">
                <div class="separator my-2"></div>

                <div class="d-flex align-items-center">
                    <div class="form-check form-check-custom">
                        <input class="form-check-input me-2" type="checkbox" name="is_buying" id="is_buying_mob" {% if form.is_buying.value == True %}checked {% endif %}/>
                        <label for="is_buying_mob">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sourcing_goods.txt' %}">Sourcing Goods</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="is_promoting" id="is_promoting_mob" {% if form.is_promoting.value == True %}checked {% endif %}/>
                        <label for="is_promoting_mob">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/promoting_goods.txt' %}">Promoting Goods</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="need_logistics" id="need_logistics_mob" {% if form.need_logistics.value == True %}checked {% endif %}/>
                        <label for="need_logistics_mob">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/need_logistics.txt' %}">Need Logistics</span>
                        </label>
                    </div>
                </div>

                <div class="separator my-2"></div>

                <div class="d-flex align-items-center">
                    <div class="form-check form-check-custom">
                        <input class="form-check-input me-2" type="checkbox" name="is_sourcing_agent" id="is_sourcing_agent_mob" {% if form.is_sourcing_agent.value == True %}checked {% endif %}/>
                            <label for="is_sourcing_agent_mob"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sourcing_agent.txt' %}">Sourcing Agent</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="is_sales_agent" id="is_sales_agent_mob" {% if form.is_sales_agent.value == True %}checked {% endif %}/>
                            <label for="is_sales_agent_mob"><span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/sales_agent.txt' %}">Sales Agent</span>
                        </label>
                    </div>
                </div>

                <div class="separator my-2"></div>

                <div class="d-flex align-items-center">
                    <div class="form-check form-check-custom">
                        <input class="form-check-input me-2" type="checkbox" name="is_logistics_agent" id="is_logistics_agent_mob" {% if form.is_logistics_agent.value == True %}checked {% endif %}/>
                        <label for="is_logistics_agent_mob">
                            <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/leads/logistics_agent.txt' %}">Logistics Agent</span>
                        </label>
                    </div>

                    <div class="form-check form-check-custom ms-3">
                        <input class="form-check-input me-2" type="checkbox" name="is_other" id="is_other_mob" {% if form.is_other.value == True %}checked {% endif %}/>
                        <span class="badge badge-secondary">Other</span>
                    </div>
                </div>
            </div>

            <div class="separator my-2"></div>

            <div class="d-flex align-items-center">
                <div class="col-lg-3 col-6">
                    <select class="form-select" data-control="select2" data-placeholder="Filter User Country" name='user_country' data-allow-clear="true">
                        <option></option>
                        {% comment %} <option value="any_country"{% if form.country.value == 'any_country' %} selected{% endif %}>Any Country</option> {% endcomment %}
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if form.user_country.value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-check form-check-custom ms-2">
                    <input class="form-check-input me-2" type="checkbox" name="is_country_verified" id="is_country_verified" {% if form.is_country_verified.value == True %}checked {% endif %}/>
                    <label for="is_country_verified">Verified
                        {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen043.svg {% endcomment %}
                        <span class="svg-icon svg-icon-success svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Verified with phone number country code.">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                            <path d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z" fill="currentColor"/>
                            </svg>
                        </span>
                        {% comment %} End: SVG icon {% endcomment %}
                    </label>
                </div>
            </div>

            {% comment %} <div class="separator my-2"></div>

            <div class="d-flex align-items-center">
                <div class="col-lg-6 col-12">
                    <label for="origin_countries" class="form-label">Origin Countries</label>
                    <select class="form-select" data-control="select2" data-placeholder="Filter Origin Countries" name="origin_countries" id="origin_countries" data-allow-clear="true" multiple="multiple">
                        <option></option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if form.origin_country.value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="separator my-2"></div>

            <div class="d-flex align-items-center">
                <div class="col-lg-6 col-12">
                    <label for="destination_countries" class="form-label">Destination Countries</label>
                    <select class="form-select" data-control="select2" data-placeholder="Filter Destination Countries" name="destination_countries" id="destination_countries" data-allow-clear="true" multiple="multiple">
                        <option></option>
                        {% for country in countries %}
                            <option value="{{ country.programmatic_key }}"{% if form.destination_country.value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div> {% endcomment %}
        </div>
        {% comment %} End: Search options {% endcomment %}

        {% if page_obj|length > 0 %}
            {% for lead in page_obj %}
                {% include 'leads/metronic/includes/lead_item.html' with lead=lead %}
            {% endfor %}
        {% endif %}
    </div>
    {% comment %} End: Container {% endcomment %}
</div>

<ul class="pagination mt-10">
    <li class="page-item previous disabled"><span class="page-link text-muted">Previous Page</span></span></li>
    {% comment %} <li class="page-item "><a href="#" class="page-link">1</a></li>
    <li class="page-item active"><a href="#" class="page-link">2</a></li>
    <li class="page-item "><a href="#" class="page-link">3</a></li>
    <li class="page-item "><a href="#" class="page-link">4</a></li>
    <li class="page-item "><a href="#" class="page-link">5</a></li>
    <li class="page-item "><a href="#" class="page-link">6</a></li> {% endcomment %}
    <li class="page-item next"><a class="page-link" href="#">Next Page</span></a></li>
</ul>
{% endblock %}