{% extends 'metronic/extendables/b.html' %}

{% block title %}Everybase - create post{% endblock %}

{% block page_title %}Post Lead{% endblock %}

{% block page_subtitle %}Find importers, exporters, buyers, sellers, agents and more.{% endblock %}

{% block actions %}
{% include 'leads/metronic/includes/toolbar_actions.html' %}
{% endblock %}

{% block content_body %}
<form action="{% url 'leads:lead_create' %}" method="post">
    {% csrf_token %}
    <div class="post d-flex flex-column-fluid" id="kt_post">
        {% comment %} Start: Container {% endcomment %}
        <div id="kt_content_container" class="container-xxl">
            <div class="card shadow-sm mt-4">
                {% comment %} Start: Card body {% endcomment %}
                <div class="card-body">
                    <div class="mt-5">
                        <div class="form-floating mt-4 col-lg-6">
                            <textarea class="form-control" data-kt-autosize="true" maxlength="100" placeholder="What are you looking for?" name="body" id="body"></textarea>
                            <label for="body">What are you looking for?</label>
                        </div>
                        {% if form.body.errors %}<div class="text-danger">{% for error in form.body.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}

                        <div class="form-check form-check-custom mt-6">
                            <div class="me-3">
                                <input class="form-check-input me-2" type="radio" name="lead_type" id="buying" value="buying" />
                                <label for="buying">Buying</label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-2" type="radio" name="lead_type" id="selling" value="selling" />
                                <label for="selling">Promoting</label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-2" type="radio" name="lead_type" id="need_logistics" value="need_logistics" />
                                <label for="need_logistics">Need Logistics</label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-2" type="radio" name="lead_type" id="sourcing_agent" value="sourcing_agent" />
                                <label for="sourcing_agent">Sourcing Agent</label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-2" type="radio" name="lead_type" id="sales_agent" value="sales_agent" />
                                <label for="sales_agent">Sales Agent</label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-2" type="radio" name="lead_type" id="logistics_agent" value="logistics_agent" />
                                <label for="logistics_agent">Logistics Agent</label>
                            </div>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            <div class="me-3">
                                <input class="form-check-input me-2" type="radio" name="lead_type" id="other" value="other" />
                                <label for="other">Other</label>
                            </div>
                        </div>

                        {% if form.lead_type.errors %}<div class="text-danger mt-2">{% for error in form.lead_type.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                    </div>
                </div>
                {% comment %} End: Card body {% endcomment %}
                
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <a href="{% url 'home' %}" class="btn btn-light btn-active-light-primary me-2">Cancel</a>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </div>
        </div>
        {% comment %} End: Container {% endcomment %}
    </div>
</form>
{% endblock %}