{% extends 'metronic/extendables/b.html' %}

{% load static %}

{% block page_title %}{{ lead.body|truncatechars:10 }}{% endblock %}

{% block page_subtitle %}
<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
    <li class="breadcrumb-item text-muted">Me</li>

    <li class="breadcrumb-item">
        <span class="bullet bg-gray-300 w-5px h-2px"></span>
    </li>

    <li class="breadcrumb-item"><a class="text-muted" href="{% url 'leads:my_leads' %}">My Leads</a></li>

    <li class="breadcrumb-item">
        <span class="bullet bg-gray-300 w-5px h-2px"></span>
    </li>

    <li class="breadcrumb-item text-dark">{{ lead.body|truncatechars:10 }}</li>
</ul>
{% endblock %}

{% block content_body %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    {% comment %} Start: Container {% endcomment %}
    <div id="kt_content_container" class="container-xxl">
        {% comment %} Start: Navbar {% endcomment %}
        <div class="card mb-5 mb-xl-10 shadow-sm">
            {% comment %} Start: Card header {% endcomment %}
            <div class="card-header">
                <div class="card-title align-items-start flex-column">
                    {% comment %} Start: Avatar {% endcomment %}
                    <div class="d-flex align-items-center">
                        <div class="symbol symbol-45px me-5">
                            {% include 'leads/metronic/includes/user_avatar.html' with user=request.user.user %}
                        </div>
                        <div class="d-flex justify-content-start flex-column">
                            {% include 'leads/metronic/includes/user_item_name_country.html' with user=request.user.user %}
                        </div>
                    </div>
                    {% comment %} End: Avatar {% endcomment %}
                </div>
                <div class="card-toolbar">
                    <span class="text-muted">{{ lead.age_desc }}</span>
                </div>
            </div>
            {% comment %} End: Card header {% endcomment %}

            <div class="card-body pt-9 pb-0">
                {% comment %} Start: Lead body {% endcomment %}
                <div class="text-dark">{{ lead.body|linebreaks }}</div>
                <div class="mt-2">
                    {% include 'leads/metronic/includes/lead_badges.html' with lead=lead %}
                </div>
                {% comment %} End: Lead body {% endcomment %}

                <div class="col-lg-4 col-md-6 mt-12">
                    <label class="form-label" for="lead_clipboard">Contact Form Link</label>
                    <div class="input-group">
                        <input id="lead_clipboard" type="text" class="form-control col-lg-2" value="{{ lead.lead_capture_url }}" readonly />
                        <button class="btn btn-light-primary" data-clipboard-target="#lead_clipboard">Copy</button>
                    </div>
                </div>

                <div class="form-text">Share this link in WhatsApp chatgroup, Facebook groups, etc - so interested parties can contact you.</div>

                {% comment %} Start: Navs {% endcomment %}
                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
                    {% comment %} Start: Nav item {% endcomment %}
                    <li class="nav-item mt-2">
                        <span class="nav-link text-active-primary ms-0 me-10 py-5 active">Contacts ({{ lead.num_contacts }})</span>
                    </li>
                    {% comment %} End: Nav item {% endcomment %}
                </ul>
                {% comment %} End: Navs {% endcomment %}
            </div>
        </div>
        {% comment %} End: Navbar {% endcomment %}

        {% if lead.num_contacts == 0 %}
            {% comment %} Start: Message for 'no contacts' {% endcomment %}
            <div class="fs-4 fw-bold card shadow-sm">
                <div class="card-body text-center">
                    No one has contacted you on this lead yet.
                </div>
            </div>
            {% comment %} End: Message for 'no contacts' {% endcomment %}
        {% else %}
            {% comment %} Start: Contacts table {% endcomment %}
            <div class="card shadow-sm">
                {% comment %} Start: Card body {% endcomment %}
                <div class="card-body py-4">
                    {% comment %} Start: Table {% endcomment %}
                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="table-responsive">
                            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                                <thead>
                                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                        <th class="min-w-200px">User</th>
                                        {% comment %} <th>Updated</th> {% endcomment %}
                                        <th class="min-w-250px">Details</th>
                                        <th class="min-w-250px">Last Private Note
                                            {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen045.svg {% endcomment %}
                                            <span class="svg-icon svg-icon-info svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notes you added to shortlist contacts. Only you can see your private notes.">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                                    <rect x="11" y="17" width="7" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"/>
                                                    <rect x="11" y="9" width="2" height="2" rx="1" transform="rotate(-90 11 9)" fill="currentColor"/>
                                                </svg>
                                            </span>
                                            {% comment %} End: SVG icon {% endcomment %}
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="text-gray-600 fw-bold">
                                    {% if page_obj|length > 0 %}
                                        {% for contact in page_obj %}
                                            {% include 'leads/metronic/includes/contact_item.html' with counter=forloop.counter contact=contact %}
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% comment %} End: Table {% endcomment %}
                </div>
                {% comment %} End: Card body {% endcomment %}
            </div>
            {% comment %} End: Contacts table {% endcomment %}
        {% endif %}

        {% comment %} Start: Pagination {% endcomment %}
        {% load query_transform %}
        <ul class="pagination mt-10">
            {% if page_obj.has_previous %}
                <li class="page-item previous"><a href="?{% query_transform page=page_obj.previous_page_number %}" class="page-link">Previous Page</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item next"><a href="?{% query_transform page=page_obj.next_page_number %}" class="page-link">Next Page</a></li>
            {% endif %}
        </ul>
        {% comment %} End: Pagination {% endcomment %}
    </div>
    {% comment %} End: Container {% endcomment %}    
</div>
{% comment %} End: Post {% endcomment %}
{% endblock %}

{% comment %}
$(document).ready(function() {
    // Select elements
    const lead_target = document.getElementById('lead_clipboard');
    const lead_button = lead_target.nextElementSibling;

    // Init clipboard -- for more info, please read the offical documentation: https://clipboardjs.com/
    var lead_clipboard = new ClipboardJS(lead_button, {
        target: lead_target,
        text: function() {
            return lead_target.value;
        }
    });

    // Success action handler
    lead_clipboard.on('success', function(e) {
        const currentLabel = lead_button.innerHTML;

        // Exit label update when already in progress
        if(lead_button.innerHTML === 'Copied!'){
            return;
        }

        // Update button label
        lead_button.innerHTML = 'Copied!';

        // Revert button label after 3 seconds
        setTimeout(function(){
            lead_button.innerHTML = currentLabel;
        }, 3000)
    });

})
{% endcomment %}
{% block page_custom_javascript %}
<script>
$(document).ready((function(){const n=document.getElementById("lead_clipboard"),e=n.nextElementSibling;new ClipboardJS(e,{target:n,text:function(){return n.value}}).on("success",(function(n){const t=e.innerHTML;"Copied!"!==e.innerHTML&&(e.innerHTML="Copied!",setTimeout((function(){e.innerHTML=t}),3e3))}))}));
</script>
{% endblock %}