{% extends 'metronic/extendables/b.html' %}

{% load static %}

{% block page_title %}My Leads{% endblock %}

{% block page_vendor_stylesheets %}
{% comment %} <link href="{% static 'common/metronic/demo1/dist/assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" /> {% endcomment %}
{% endblock %}

{% block page_subtitle %}
<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
    <li class="breadcrumb-item"><a class="text-muted" href="#">My Leads</a></li>

    <li class="breadcrumb-item">
        <span class="bullet bg-gray-300 w-5px h-2px"></span>
    </li>

    {% comment %} Start: Lead text summary as identifier {% endcomment %}
    <li class="breadcrumb-item text-dark">I am looking for agen...</li>
    {% comment %} End: Lead text summary as identifier {% endcomment %}
</ul>
{% endblock %}

{% block content_body %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    {% comment %} Start: Container {% endcomment %}
    <div id="kt_content_container" class="container-xxl">
        {% comment %} Start: Navbar {% endcomment %}
        <div class="card mb-5 mb-xl-10">
            {% comment %} Start: Card header {% endcomment %}
            <div class="card-header">
                <div class="card-title align-items-start flex-column">
                    {% comment %} Start: Avatar {% endcomment %}
                    <div class="d-flex align-items-center">
                        <div class="symbol symbol-45px me-5">
                            <img src="{% static 'common/metronic/demo1/dist/assets/media/avatars/300-14.jpg' %}" alt="" />
                        </div>
                        <div class="d-flex justify-content-start flex-column">
                            <div class="text-dark fw-bolder fs-6">Ana Simmons</div>
                            <span class="text-muted fw-bold text-muted d-block fs-7">United States of America, USA {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen043.svg {% endcomment %}
                                <span class="svg-icon svg-icon-success svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Verified with phone number country code +1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                    <path d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z" fill="currentColor"/>
                                    </svg>
                                </span>
                                {% comment %} End: SVG icon | path: assets/media/icons/duotune/general/gen043.svg {% endcomment %}
                            </span>
                        </div>
                    </div>
                    {% comment %} End: Avatar {% endcomment %}
                </div>
                <div class="card-toolbar">
                    {% comment %} <a href="?page=apps/calendar" class="btn btn-primary">Manage Calendar</a> {% endcomment %}
                    <span class="text-muted">2w ago</span>
                </div>
            </div>
            {% comment %} End: Card header {% endcomment %}

            <div class="card-body pt-9 pb-0">
                {% comment %} Start: Lead body {% endcomment %}
                <div class="text-dark">I am looking for agents to help me sell my products. I am looking for agents to help me sell my pro.</div>
                <div class="mt-2">
                    <div>
                        {% comment %} <span class="badge badge-secondary">Buying</span> {% endcomment %}
                        <span class="badge badge-light">Buying</span>
                        {% comment %} <span class="badge badge-light">Help Me Source</span> {% endcomment %}
                        {% comment %} <span class="badge badge-light">Need Logistics</span> {% endcomment %}
                    </div>
                </div>
                {% comment %} End: Lead body {% endcomment %}

                <div class="col-lg-4 col-md-6 mt-12">
                    <label class="form-label" for="lead_clipboard">Share this link</label>
                    <div class="input-group">
                        <input id="lead_clipboard" type="text" class="form-control col-lg-2" value="{{ lead.lead_capture_url }}" readonly />
                        <button class="btn btn-light-primary" data-clipboard-target="#lead_clipboard">Copy Link</button>
                    </div>
                </div>

                {% comment %} Start: Navs {% endcomment %}
                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
                    {% comment %} Start: Nav item {% endcomment %}
                    <li class="nav-item mt-2">
                        <a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="">Contacts (12)</a>
                    </li>
                    {% comment %} End: Nav item {% endcomment %}
                </ul>
                {% comment %} End: Navs {% endcomment %}
            </div>
        </div>
        {% comment %} End: Navbar {% endcomment %}

        <div class="card">
            {% comment %} Start: Card body {% endcomment %}
            <div class="card-body py-4">
                {% comment %} Start: Table {% endcomment %}
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                            <thead>
                                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                    <th class="min-w-200px">User</th>
                                    <th class="min-w-200px">Last Private Note</th>
                                    <th class="text-end">Updated</th>
                                </tr>
                            </thead>

                            <tbody class="text-gray-600 fw-bold">
                                {% include 'leads/metronic/includes/contact_item.html' %}

                                {% include 'leads/metronic/includes/contact_item.html' %}
                            </tbody>
                        </table>
                    </div>
                    {% comment %} Start: Pagination {% endcomment %}
                    <div class="row">
                        <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                        </div>
                        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                            <div class="dataTables_paginate paging_simple_numbers" id="kt_table_users_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="kt_table_users_previous">
                                        <a href="#" aria-controls="kt_table_users" data-dt-idx="0" tabindex="0" class="page-link">
                                            <i class="previous"></i>
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="kt_table_users" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="kt_table_users" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="kt_table_users" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                    </li>
                                    <li class="paginate_button page-item next" id="kt_table_users_next">
                                        <a href="#" aria-controls="kt_table_users" data-dt-idx="4" tabindex="0" class="page-link">
                                            <i class="next"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% comment %} End: Pagination {% endcomment %}
                </div>
                {% comment %} End: Table {% endcomment %}
            </div>
            {% comment %} End: Card body {% endcomment %}
        </div>
    </div>
    {% comment %} End: Container {% endcomment %}    
</div>
{% comment %} End: Post {% endcomment %}
{% endblock %}

{% comment %}
$(document).ready(function() {
    // Select elements
    const lead_target = document.getElementById('lead_clipboard');
    const lead_button = lead_target.nextElementSibling;

    // Init clipboard -- for more info, please read the offical documentation: https://clipboardjs.com/
    var lead_clipboard = new ClipboardJS(lead_button, {
        target: lead_target,
        text: function() {
            return lead_target.value;
        }
    });

    // Success action handler
    lead_clipboard.on('success', function(e) {
        const currentLabel = lead_button.innerHTML;

        // Exit label update when already in progress
        if(lead_button.innerHTML === 'Copied!'){
            return;
        }

        // Update button label
        lead_button.innerHTML = 'Copied!';

        // Revert button label after 3 seconds
        setTimeout(function(){
            lead_button.innerHTML = currentLabel;
        }, 3000)
    });

})
{% endcomment %}
{% block page_custom_javascript %}
<script>
$(document).ready((function(){const n=document.getElementById("lead_clipboard"),e=n.nextElementSibling;new ClipboardJS(e,{target:n,text:function(){return n.value}}).on("success",(function(n){const t=e.innerHTML;"Copied!"!==e.innerHTML&&(e.innerHTML="Copied!",setTimeout((function(){e.innerHTML=t}),3e3))}))}));
</script>
{% endblock %}