{% extends 'metronic/extendables/b.html' %}

{% load static %}

{% block page_title %}Leads{% endblock %}

{% block page_subtitle %}Importers/exporters finding buyers, sellers and agents{% endblock %}

{% block actions%}
								<!--begin::Wrapper-->
								<div class="d-flex align-items-center overflow-auto">
									<!--begin::Search-->
									<div class="position-relative my-1 me-2">
										<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
										<span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ps-10">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
												<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
												<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
											</svg>
										</span>
										<!--end::Svg Icon-->
										<input type="text" class="form-control form-control-sm w-150px ps-10" name="Search" value="" placeholder="Search" />
									</div>
                                    <button type="submit" class="btn btn-sm btn-light-primary">Search</button>
									<!--end::Search-->
									<!--begin::Separartor-->
									<div class="bullet bg-secondary h-35px w-1px mx-6"></div>
									<!--end::Separartor-->
									<button type="submit" class="btn btn-sm btn-primary">Post Lead</button>
								</div>
								<!--end::Wrapper-->
{% endblock %}

{% block content_body %}
{% comment %} Start: Post {% endcomment %}
<div class="post d-flex flex-column-fluid" id="kt_post">

    {% comment %} Start: Container {% endcomment %}
    <div id="kt_content_container" class="container-xxl">

        <div class="card shadow-sm">
            {% comment %} Start: Card header {% endcomment %}
            <div class="card-header">
                <div class="card-title align-items-start flex-column">
                    {% comment %} Start: Avatar {% endcomment %}
                    <div class="d-flex align-items-center">
                        <div class="symbol symbol-45px me-5">
                            <img src="{% static 'common/metronic/demo1/dist/assets/media/avatars/300-14.jpg' %}" alt="" />
                        </div>
                        <div class="d-flex justify-content-start flex-column">
                            <div class="text-dark fw-bolder fs-6">Ana Simmons
                                {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen043.svg {% endcomment %}
                                <span class="svg-icon svg-icon-success svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Verified with phone number country code +1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                    <path d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z" fill="currentColor"/>
                                    </svg>
                                </span>
                                {% comment %} End: SVG icon {% endcomment %}
                            </div>
                            <span class="text-muted fw-bold text-muted d-block fs-7">United States of America, USA</span>
                        </div>
                    </div>
                    {% comment %} End: Avatar {% endcomment %}
                </div>
                <div class="card-toolbar">
                    <span class="text-muted">2w ago</span>
                </div>
            </div>
            {% comment %} End: Card header {% endcomment %}
        
            {% comment %} Start: Card body {% endcomment %}
            <div class="card-body">
                <div class="text-dark">I am looking for agents to help me sell my products. I am looking for agents to help me sell my pro.</div>
                <div class="d-flex justify-content-between mt-2">
                    <div>
                        <span class="badge badge-secondary">Buying</span>
                        <span class="badge badge-light">Help Me Source</span>
                        <span class="badge badge-light">Need Logistics</span>
                    </div>
                    {% comment %} Start: Badges {% endcomment %}
                    <div>
                        {% comment %} <span class="badge badge-dark">Contacted</span> {% endcomment %}
                        {% comment %} <span class="badge badge-info">12 Contacts</span> {% endcomment %}
                    </div>
                    {% comment %} End: Badges {% endcomment %}
                </div>
            </div>
            {% comment %} End: Card body {% endcomment %}
        
            {% comment %} Start: Card footer {% endcomment %}
            <div class="card-footer">


                    


                                        {% comment %} Start: Contact form {% endcomment %}
                                        <div class="mt-5">
                                            {% comment %} Start: Email textfield {% endcomment %}
                                            <div class="form-floating col-lg-4">
                                                <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" required />
                                                <label for="floatingInput1">Email</label>
                                            </div>
                                            {% comment %} End: Email textfield {% endcomment %}
                                            
                                            {% comment %} Start: Phone textfield {% endcomment %}
                                            <div class="form-floating col-lg-4 mt-2">
                                                <input type="text" class="form-control" id="floatingInput2" placeholder="+1234567890" required />
                                                <label for="floatingInput2">Phone</label>
                                            </div>
                                            <div class="form-text">Include + symbol. E.g., +14155552671.</div>
                                            {% comment %} End: Phone textfield {% endcomment %}
                    
                    
                    
                                            <div class="form-check form-check-custom mt-4">
                                                {% comment %} Start: WhatsApp radio {% endcomment %}
                                                <div class="me-3">
                                                    <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                                    <label>WhatsApp</label>
                                                </div>
                                                {% comment %} End: WhatsApp radio {% endcomment %}
                                            </div>
                                            {% comment %} <div class="form-text">Select at least 1 option.</div> {% endcomment %}
                    
                    
                    
                                            <div class="form-check form-check-custom mt-2">
                                                {% comment %} Start: WhatsApp radio {% endcomment %}
                                                <div class="me-3">
                                                    <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                                    <label>WeChat</label>
                                                </div>
                                                {% comment %} End: WhatsApp radio {% endcomment %}
                                            </div>
                                            <div class="form-floating col-lg-4 mt-2 mb-6">
                                                <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" required />
                                                <label for="floatingInput1">WeChat ID</label>
                                            </div>
                    
                                            {% comment %} <div class="form-check form-check-custom mt-2"> {% endcomment %}
                                                {% comment %} Start: WhatsApp radio {% endcomment %}
                                                {% comment %} <div class="me-3">
                                                    <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                                    <label>Telegram</label>
                                                </div> {% endcomment %}
                                                {% comment %} End: WhatsApp radio {% endcomment %}
{% comment %}                     
                                            </div>
                                            <div class="form-floating col-lg-4 mt-2 mb-6">
                                                <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" required />
                                                <label for="floatingInput1">Telegram Username</label>
                                            </div> {% endcomment %}
                    
                                            {% comment %} <div class="form-check form-check-custom mt-2">                     {% endcomment %}
                                                {% comment %} Start: WhatsApp radio {% endcomment %}
                                                {% comment %} <div class="me-3">
                                                    <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                                    <label>LINE</label>
                                                </div> {% endcomment %}
                                                {% comment %} End: WhatsApp radio {% endcomment %}
                                            {% comment %} </div> {% endcomment %}

                                            {% comment %} <div class="form-floating col-lg-4 mt-2 mb-6">
                                                <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" required />
                                                <label for="floatingInput1">LINE ID</label>
                                            </div> {% endcomment %}
                    
                    
                    
                    
                                            {% comment %} <div class="form-check form-check-custom mt-2"> {% endcomment %}
                                                {% comment %} Start: WhatsApp radio {% endcomment %}
                                                {% comment %} <div class="me-3"> {% endcomment %}
                                                    {% comment %} <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/> {% endcomment %}
                                                    {% comment %} <label>Viber</label> {% endcomment %}
                                                {% comment %} </div> {% endcomment %}
                                                {% comment %} End: WhatsApp radio {% endcomment %}
                                            {% comment %} </div> {% endcomment %}
                    
                    
                                            <div class="form-check form-check-custom mt-2">
                    
                                                {% comment %} Start: Other radio {% endcomment %}
                                                <div class="me-3">
                                                    <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                                    <label>Other (Specify in Comments)</label>
                                                </div>
                                                {% comment %} End: Other radio {% endcomment %}
                                            </div>
                    
                    
                                            {% comment %} Start: Comments textfield {% endcomment %}
                                            <div class="form-floating mt-8">
                                                <textarea class="form-control" data-kt-autosize="true" maxlength="500" placeholder="Comments" id="floatingTextarea2"></textarea>
                                                <label for="floatingTextarea2">Comments</label>
                                            </div>
                                            {% comment %} End: Comments textfield {% endcomment %}




                                            <div class="form-check form-check-custom mt-2">
                                                {% comment %} Start: WhatsApp radio {% endcomment %}
                                                <div class="me-3">
                                                    <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                                    <label>I'm a buyer</label>
                                                </div>
                                                {% comment %} End: WhatsApp radio {% endcomment %}
                                            </div>
                                            <div class="form-check form-check-custom mt-2">
                                                {% comment %} Start: WhatsApp radio {% endcomment %}
                                                <div class="me-3">
                                                    <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                                    <label>I can help sell on a commission basis</label>
                                                </div>
                                                {% comment %} End: WhatsApp radio {% endcomment %}
                                            </div>
                    


                    <div class="d-flex flex-row-reverse mt-4">
                        <button type="submit" class="btn btn-primary">Contact</button>

                    </div>

                </div>








            </div>
            {% comment %} End: Card footer {% endcomment %}
        </div>

    </div>
    {% comment %} End: Container {% endcomment %}
</div>
{% comment %} End: Post {% endcomment %}
{% endblock %}