{% extends 'metronic/extendables/b.html' %}

{% load static %}

{% block page_title %}My Leads{% endblock %}

{% block page_subtitle %}
<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
    <li class="breadcrumb-item text-muted">Me</li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-300 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-dark">My Leads</li>
</ul>
{% endblock %}

{% block content_body %}
{% comment %} Start: Post {% endcomment %}
<div class="post d-flex flex-column-fluid" id="kt_post">
    {% comment %} Start: Container {% endcomment %}
    <div id="kt_content_container" class="container-xxl">
        {% comment %} Start: Navbar {% endcomment %}
        <div class="card mb-5 mb-xl-10 shadow-sm">
            <div class="card-body pt-9 pb-0">
                {% include 'leads/metronic/includes/user_item.html' %}

                {% include 'leads/metronic/includes/user_profile_nav.html' with tab='my_leads' %}
            </div>
        </div>
        {% comment %} End: Navbar {% endcomment %}

        {% if page_obj|length > 0 %}
            {% for lead in page_obj %}
                {% include 'metronic/includes/lead_item.html' with lead=lead %}
            {% endfor %}
        {% endif %}
    </div>
    {% comment %} End: Container {% endcomment %}
</div>
{% comment %} End: Post {% endcomment %}


{% comment %} Start: Pagination {% endcomment %}
{% load query_transform %}
<ul class="pagination mt-10">
    {% if page_obj.has_previous %}
        <li class="page-item previous"><a href="?{% query_transform page=page_obj.previous_page_number %}" class="page-link">Previous Page</a></li>
    {% endif %}

    {% if page_obj.has_next %}
        <li class="page-item next"><a href="?{% query_transform page=page_obj.next_page_number %}" class="page-link">Next Page</a></li>
    {% endif %}
</ul>
{% comment %} End: Pagination {% endcomment %}
{% endblock %}


{% comment %} This is for the lead item's copy {% endcomment %}
{% block page_custom_javascript %}

{% comment %}
Code to render the clipboard Javascript for each lead item after the Javascripts dependencies have been imported.
We cannot minify this code, even if we use replacement tokens, because the minifier assumes there's only 1 instance of this code, and replace the tokened-code in minification.
We minify the code manually by removing all newlines and spaces, preserving ';'.

$(document).ready(function() {
    // Select elements
    const lead_{{ lead.id }}_target = document.getElementById('lead_{{ lead.id }}_clipboard');
    const lead_{{ lead.id }}_button = lead_{{ lead.id }}_target.nextElementSibling;

    // Init clipboard -- for more info, please read the offical documentation: https://clipboardjs.com/
    var lead_{{ lead.id }}_clipboard = new ClipboardJS(lead_{{ lead.id }}_button, {
        target: lead_{{ lead.id }}_target,
        text: function() {
            return lead_{{ lead.id }}_target.value;
        }
    });

    // Success action handler
    lead_{{ lead.id }}_clipboard.on('success', function(e) {
        const currentLabel = lead_{{ lead.id }}_button.innerHTML;

        // Exit label update when already in progress
        if(lead_{{ lead.id }}_button.innerHTML === 'Copied!'){
            return;
        }

        // Update button label
        lead_{{ lead.id }}_button.innerHTML = 'Copied!';

        // Revert button label after 3 seconds
        setTimeout(function(){
            lead_{{ lead.id }}_button.innerHTML = currentLabel;
        }, 3000)
    });

})
{% endcomment %}
{% for lead in request.user.user.leads_with_author.all %}
<script>
$(document).ready(function() {const lead_{{ lead.id }}_target=document.getElementById('lead_{{ lead.id }}_clipboard');const lead_{{ lead.id }}_button=lead_{{ lead.id }}_target.nextElementSibling;var lead_{{ lead.id }}_clipboard=new ClipboardJS(lead_{{ lead.id }}_button, {target:lead_{{ lead.id }}_target,text:function(){return lead_{{ lead.id }}_target.value;}});lead_{{ lead.id }}_clipboard.on('success',function(e){const currentLabel=lead_{{ lead.id }}_button.innerHTML;if(lead_{{ lead.id }}_button.innerHTML==='Copied!'){return;}lead_{{ lead.id }}_button.innerHTML = 'Copied!';setTimeout(function(){lead_{{ lead.id }}_button.innerHTML=currentLabel;},3000)});})
</script>
{% endfor %}

{% endblock %}