{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% include 'partials/_analytics/gtm_head.html' %}
        {% include 'partials/_favicon.html' %}
        {% include 'partials/_third_party/zendesk_chat.html' %}

        <meta charset="utf-8">
        <title>Everybase</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'lander/css/iconsmind.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'lander/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'lander/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'lander/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'lander/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet" />

    </head>
    <body data-smooth-scroll-offset="77">
        <div class="nav-container">
            <div class="via-1587115187742" via="via-1587115187742" vio="Basic">
                <div class="bar bar--sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <a href="/"> <img class="logo logo-dark" alt="logo" src="{% static 'lander/img/everybase-logo.png' %}"> <img class="logo logo-light" alt="logo" src="{% static 'lander/img/everybase-logo.png' %}"> </a>
                            </div>
                            <div class="col-9 col-md-10 text-right">
                                <a href="#contact" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1 col-md-2 hidden-xs">
                                <div class="bar__module">
                                    <a href="/"> <img class="logo logo-dark" alt="logo" src="{% static 'lander/img/everybase-logo.png' %}"> <img class="logo logo-light" alt="logo" src="{% static 'lander/img/everybase-logo.png' %}"> </a>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        <li> <a href="{% url 'lander:products' %}">Products</a> </li>
                                        <li> <a href="{% url 'lander:services' %}">Services</a> </li>
                                        <li> <a href="{% url 'lander:network' %}">Network</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="main-container">
            <a id="cover" class="in-page-link"></a>
            <section class="cover imagebg height-100 text-center" data-overlay="3">
                <div class="background-image-holder"><img alt="background" src="{% static 'lander/img/cover.jpg' %}"></div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-9 col-lg-8">
                            <h1>We get you goods or sell your goods.</h1>
                            <p class="lead">We supply, source and trade. </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large switchable--switch">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="{% static 'lander/img/services-1.jpg' %}"> </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Our Services</h2>
                                <p class="lead"> We help you find B2B buyers or sellers for your products or services.</p> <a href="/services">Learn More »</a> </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large bg--dark">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="{% static 'lander/img/products-1.png' %}"> </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Our Products</h2>
                                <p class="lead"> We created a cost-effective series of PPE and sanitization solutions named after the mythical metal in Lord of the Rings.</p> <a href="/products">Learn About Mithril™ »</a> </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable feature-large switchable--switch">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="{% static 'lander/img/network-1.jpg' %}"> </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Our Network</h2>
                                <p class="lead"> Join our network of agents and traders to enjoy preferential rates with some of our best suppliers, and trade goods without capital.</p> <a href="/network">Learn More »</a> </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable bg--dark">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-8 col-lg-7">
                            <h2>We get you goods or sell your goods.</h2>
                            <p class="lead"> We supply, source and trade. Contact us for a no-obligation assessment of your sales and supply needs. </p>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="text-block">
                                <h5>Phone</h5>
                                <p><a href="tel:+65 88933466">+65 88933466</a></p>
                            </div>
                            <div class="text-block">
                                <h5>Email</h5>
                                <p><a href="mailto:friend@everybase.co">friend@everybase.co</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="{% static 'lander/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'lander/js/parallax.js' %}"></script>
        <script src="{% static 'lander/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'lander/js/scripts.js' %}"></script>

    </body>

</html>