{% if contact.is_buyer == True %}
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Contact is a buyer.">Buyer</span>
{% endif %}

{% if contact.is_sell_comm == True %}
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Contact can help you sell on a commission basis.">Sell for Commission</span>
{% endif %}

{% if contact.is_seller == True %}
promoting vs sourcing, not buying vs selling
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Contact is a seller.">Seller</span>
{% endif %}

{% if contact.is_buy_comm == True %}
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Contact can help you source on a commission basis.">Source for Commission</span>
{% endif %}


{%CONTINUE%}