{% comment %} 
Parameters:
    contact, contact object to render
{% endcomment %}
<tr>
    <td>
        <div class="d-flex align-items-center">
            <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                <a href="{% url 'leads:contact_detail' contact.id %}">
                    {% include 'leads/metronic/includes/contact_avatar.html' with contact=contact %}
                </a>
            </div>

            <div class="d-flex flex-column">
                {% include 'leads/metronic/includes/contact_avatar_details.html' with contact=contact %}
            </div>
        </div>
    </td>

    <td>
        <div><span class="text-muted fs-8">{{ contact.age_desc }}</span></div>
        <div class="text-dark fw-normal fs-base">{{ contact.comments|truncatechars:100 }}</div>
        <div class="mt-2">
            {% include 'leads/metronic/includes/contact_badges.html' with contact=contact %}
        </div>
    </td>

    <td>
        {% if contact.last_note == None %}
            <span class="badge badge-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="You've not added any private notes.">No Private Notes</span>
        {% else %}
            <div><span class="text-muted fs-8">{{ contact.age_desc }}</span></div>
            <div class="text-dark fw-normal fs-base">{{ contact.last_note.body|truncatechars:100 }}</div>
            <div class="mt-2">
                {% include 'leads/metronic/includes/contact_note_badges.html' with note=contact.last_note %}
            </div>
        {% endif %}
    </td>
</tr>