{% comment %}
Parameters:
    lead, lead item to be rendered
{% endcomment %}

{% load static %}

<div class="card shadow-sm mt-4">
    {% comment %} Start: Card header {% endcomment %}
    <div class="card-header">
        <div class="card-title align-items-start flex-column">
            {% comment %} Start: Avatar {% endcomment %}
            <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                    {% include 'leads/metronic/includes/user_avatar.html' with user=lead.author %}
                </div>
                <div class="d-flex justify-content-start flex-column">
                    {% include 'leads/metronic/includes/user_item_name_country.html' with user=lead.author %}
                </div>
            </div>
            {% comment %} End: Avatar {% endcomment %}
        </div>
        <div class="card-toolbar">
            <span class="text-muted">{{ lead.age_desc }}</span>
        </div>
    </div>
    {% comment %} End: Card header {% endcomment %}

    {% comment %} Start: Card body {% endcomment %}
    <div class="card-body">
        <div class="text-dark">{% if lead.body != None %}{{ lead.body }}{% else %}{{ lead.headline }}{% endif %}</div>
        <div class="d-flex justify-content-between mt-2">
            <div>
                {% comment %} {% if lead.lead_type == 'buying' %} {% endcomment %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/buying_third_person.txt' %}">Buying</span>
                {% comment %} {% elif lead.lead_type == 'selling' %} {% endcomment %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/selling_third_person.txt' %}">Selling</span>
                {% comment %} {% elif lead.lead_type == 'need_logistics' %} {% endcomment %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/need_logistics_third_person.txt' %}">Need Logistics</span>
                {% comment %} {% elif lead.lead_type == 'sourcing_agent' %} {% endcomment %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/sourcing_agent_third_person.txt' %}">Sourcing Agent</span>
                {% comment %} {% elif lead.lead_type == 'selling_agent' %} {% endcomment %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/selling_agent_third_person.txt' %}">Selling Agent</span>
                {% comment %} {% elif lead.lead_type == 'logistics_agent' %} {% endcomment %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/logistics_agent_third_person.txt' %}">Logistics Agent</span>
                {% comment %} {% elif lead.lead_type == 'other' %} {% endcomment %}
                    <span class="badge badge-secondary">Other</span>
                {% comment %} {% endif %} {% endcomment %}
            </div>
            {% comment %} Start: Badges {% endcomment %}
            <div>
                {% comment %} <span class="badge badge-dark">Contacted</span> {% endcomment %}
                <span class="badge badge-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ lead.num_contacts }} users who have contacted the author of the lead.">{{ lead.num_contacts }} Contacts</span>
            </div>
            {% comment %} End: Badges {% endcomment %}
        </div>
    </div>
    {% comment %} End: Card body {% endcomment %}

    {% comment %} Start: Card footer {% endcomment %}
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <div>
{% comment %} Make this modal? {% endcomment %}
                <a href="#" class="btn btn-light-warning btn-sm">Spam</a>
                <a href="#" class="btn btn-light-danger btn-sm ms-1">Scam</a>
            </div>
            {% if request.user.is_authenticated and request.user.user is not None and request.user.user.id == lead.author.id %}
                <a href="{% url 'leads:lead_detail' lead.id %}" class="btn btn-light-info btn-sm">Details</a>
            {% else %}
{% comment %} Make this modal? {% endcomment %}
                <a href="{% url 'leads:lead_capture' lead.id %}" class="btn btn-light-primary btn-sm">Contact</a>
            {% endif %}
        </div>
    </div>
    {% comment %} End: Card footer {% endcomment %}
</div>

{% comment %} </a> {% endcomment %}












        <!--start::Modals-->
        {% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_2">
            Launch demo modal
        </button> {% endcomment %}
        
        <div class="modal bg-white fade" tabindex="-1" id="kt_modal_2">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content shadow-none">
                    <div class="modal-header">
                        <h5 class="modal-title">Contact</h5>
        
                        <!--begin::Close-->
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                            <span class="svg-icon svg-icon-2x"></span>
                        </div>
                        <!--end::Close-->
                    </div>
        
                    <div class="modal-body">
                        <div class="container-xxl col-lg-6">
                            {% comment %} Start: avatar and timestamp {% endcomment %}
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-45px me-5">
                                        <img src="{% static 'common/metronic/demo1/dist/assets/media/avatars/300-14.jpg' %}" alt="" />
                                    </div>
                                    <div class="d-flex justify-content-start flex-column">
                                        <div class="text-dark fw-bolder fs-6">Ana Simmons</div>
                                        <span class="text-muted fw-bold text-muted d-block fs-7">United States of America, USA</span>
                                    </div>
                                </div>
                                <div class="text-muted">
                                    2w ago
                                </div>
                            </div>
                            {% comment %} End: avatar and timestamp {% endcomment %}

                            <!--begin:Lead body-->
                            <div class="mt-5">
                                <div class="text-dark">I am looking for agents to help me sell my products. I am looking for agents to help me sell my pro.</div>
                                <div class="mt-2">
                                    <span class="badge badge-secondary">Buying</span>
                                    <span class="badge badge-light">Help Me Source</span>
                                    <span class="badge badge-light">Need Logistics</span>
                                </div>
                            </div>
                            <!--end:Lead body-->

                            <!--begin:Contact form-->
                            <div class="mt-5">

                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com"/>
                                    <label for="floatingInput1">Email</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <input type="text" class="form-control" id="floatingInput2" placeholder="+1234567890"/>
                                    <label for="floatingInput2">Phone</label>
                                    <div class="form-text">Include + symbol. E.g., +14155552671.</div>
                                </div>

                                <div class="mt-2">
                                    <label class="form-check form-check-custom form-check-solid">
                                        <input class="form-check-input" type="checkbox" value=""/>
                                        <span class="form-check-label">
                                            WhatsApp Me
                                        </span>
                                    </label>

                                </div>




                                <!--begin::Input group-->
                                <div class="form-floating mt-8">
                                    <textarea class="form-control" data-kt-autosize="true" maxlength="100" placeholder="Comments" id="floatingTextarea2"></textarea>
                                    <label for="floatingTextarea2">Comments</label>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="form-text">0/140</div>
                                </div>
                                <!--end::Input group-->

                                <div>
                                    <label class="form-check form-check-custom form-check-solid">
                                        <input class="form-check-input" type="checkbox" value=""/>
                                        <span class="form-check-label">
                                            Buyer
                                        </span>
                                    </label>

                                    <label class="form-check form-check-custom form-check-solid mt-2">
                                        <input class="form-check-input" type="checkbox" value=""/>
                                        <span class="form-check-label">
                                            Can Help to Sell <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen044.svg-->
                                            <span class="svg-icon svg-icon-info svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="No sending of goods before payment">
                                                <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen043.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                                <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"/>
                                                <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"/>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                    </label>

                                    <label class="form-check form-check-custom form-check-solid mt-2">
                                        <input class="form-check-input" type="checkbox" value=""/>
                                        <span class="form-check-label">
                                            Logistics
                                        </span>
                                    </label>
                                </div>

                            </div>
                            <!--end:Contact form-->
                        </div>
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
		<!--end::Modals-->