{% comment %}
Parameters:
    lead, lead item to be rendered
{% endcomment %}

{% load static %}

<div class="card shadow-sm mt-4">
    {% comment %} Start: Card header {% endcomment %}
    <div class="card-header">
        <div class="card-title align-items-start flex-column">
            {% comment %} Start: Avatar {% endcomment %}
            <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                    {% include 'leads/metronic/includes/user_avatar.html' with user=lead.author %}
                </div>
                <div class="d-flex justify-content-start flex-column">
                    {% include 'leads/metronic/includes/user_item_name_country.html' with user=lead.author %}
                </div>
            </div>
            {% comment %} End: Avatar {% endcomment %}
        </div>
        <div class="card-toolbar">
            <span class="text-muted">{{ lead.age_desc }}</span>
        </div>
    </div>
    {% comment %} End: Card header {% endcomment %}

    {% comment %} Start: Card body {% endcomment %}
    <div class="card-body">
        <div class="text-dark">{% if lead.body != None %}{{ lead.body }}{% else %}{{ lead.headline }}{% endif %}</div>
        <div class="d-flex justify-content-between mt-2">
            <div>
                {% if lead.lead_type == 'buying' %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/buying_third_person.txt' %}">Buying</span>
                {% elif lead.lead_type == 'selling' %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/selling_third_person.txt' %}">Selling</span>
                {% elif lead.lead_type == 'need_logistics' %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="User wants to sell, or needs help to sell.">Need Logistics</span>
                {% elif lead.lead_type == 'sourcing_agent' %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="User wants to sell, or needs help to sell.">Sourcing Agent</span>
                {% elif lead.lead_type == 'selling_agent' %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="User wants to sell, or needs help to sell.">Selling Agent</span>
                {% elif lead.lead_type == 'logistics_agent' %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="User wants to sell, or needs help to sell.">Logistics Agent</span>
                {% elif lead.lead_type == 'other' %}
                    <span class="badge badge-secondary">Other</span>
                {% endif %}
            </div>
            {% comment %} Start: Badges {% endcomment %}
            <div>
                {% comment %} <span class="badge badge-dark">Contacted</span> {% endcomment %}
                <span class="badge badge-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ lead.num_contacts }} users who have contacted the author of the lead.">{{ lead.num_contacts }} Contacts</span>
            </div>
            {% comment %} End: Badges {% endcomment %}
        </div>
    </div>
    {% comment %} End: Card body {% endcomment %}

    {% comment %} Start: Card footer {% endcomment %}
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <div>
{% comment %} Make this modal? {% endcomment %}
                <a href="#" class="btn btn-light-warning btn-sm">Spam</a>
                <a href="#" class="btn btn-light-danger btn-sm ms-1">Scam</a>
            </div>
            {% if request.user.is_authenticated and request.user.user is not None and request.user.user.id == lead.author.id %}
                <a href="{% url 'leads:lead_detail' lead.id %}" class="btn btn-light-info btn-sm">Details</a>
            {% else %}
{% comment %} Make this modal? {% endcomment %}
                <a href="{% url 'leads:lead_capture' lead.id %}" class="btn btn-light-primary btn-sm">Contact</a>
            {% endif %}
        </div>
    </div>
    {% comment %} End: Card footer {% endcomment %}
</div>

{% comment %} </a> {% endcomment %}