{% comment %} 
    Only one of these badges apply, it describes the type of the lead.
{% endcomment %}
{% if lead.lead_type == 'buying' %}
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/sourcing.txt' %}">Sourcing</span>
{% elif lead.lead_type == 'selling' %}
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/promoting.txt' %}">Promoting</span>
{% elif lead.lead_type == 'need_logistics' %}
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/need_logistics.txt' %}">Need Logistics</span>
{% elif lead.lead_type == 'sourcing_agent' %}
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/sourcing_agent.txt' %}">Sourcing Agent</span>
{% elif lead.lead_type == 'sales_agent' %}
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/sales_agent.txt' %}">Sales Agent</span>
{% elif lead.lead_type == 'logistics_agent' %}
    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% include 'leads/metronic/tooltips/logistics_agent.txt' %}">Logistics Agent</span>
{% elif lead.lead_type == 'other' %}
    <span class="badge badge-secondary">Other</span>
{% endif %}