<div class="card shadow-sm mt-4">
    {% comment %} Start: Lead author {% endcomment %}
    <div class="card-header">
        <div class="card-title align-items-start flex-column">
            <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                    {% include 'leads/metronic/includes/avatar.html' with user=contact.lead.author %}
                </div>
                <div class="d-flex justify-content-start flex-column">
                    {% include 'leads/metronic/includes/avatar_details.html' with user=contact.lead.author %}
                </div>
            </div>
        </div>
        <div class="card-toolbar">
            <span class="text-muted">{{ contact.lead.age_desc }}</span>
        </div>
    </div>
    {% comment %} End: Lead author {% endcomment %}

    <div class="card-body">
        {% comment %} Start: Contact {% endcomment %}
        <div class="text-dark">{{ contact.comments|linebreaks }}</div>
        <div class="d-flex justify-content-between mt-2">
            <div>
                {% include 'leads/metronic/includes/contact_badges.html' with contact=contact %}
            </div>
            <div>
            </div>
        </div>

        <div class="separator my-10"></div>

        <div class="ms-12">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="symbol symbol-45px me-5">
                        {% include 'leads/metronic/includes/contact_avatar.html' with contact=contact %}
                    </div>
                    <div class="d-flex justify-content-start flex-column">
                        {% include 'leads/metronic/includes/contact_avatar_details.html' with contact=contact %}
                    </div>
                </div>
                <span class="text-muted">{{ contact.lead.age_desc }}</span>
            </div>

            <div class="text-dark mt-8">{{ contact.comments|linebreaks }}</div>
            <div class="d-flex justify-content-between mt-2">
                <div>
                    {% include 'leads/metronic/includes/contact_badges.html' with contact=contact %}
                    {% if this_contact.email.id == contact.email.id %}
                        <span class="badge badge-light-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ contact.email.email }}">Same Email</span>
                    {% endif %}

                    {% if this_contact.phone_number.id == contact.phone_number.id %}
                        <span class="badge badge-light-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+{{ contact.phone_number.country_code }} {{ contact.phone_number.national_number }}">Same Phone</span>
                    {% endif %}
                </div>
                <div>
                </div>
            </div>
        </div>
        {% comment %} End: Contact {% endcomment %}
    </div>
</div>