{% load static %}

<html>
    <body>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_0.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_1.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_2.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_3.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_4.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_5.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_6.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_7.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_8.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_9.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_10.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_11.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_12.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_13.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_14.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_15.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_16.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_17.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_18.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_19.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_20.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_21.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_22.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_23.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_24.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/privacy/privacy_25.png' %}"></p>
    </body>
</html>