{% load static %}

<html>
    <body>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_0.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_1.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_2.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_3.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_4.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_5.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_6.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_7.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_8.png' %}"></p>
        <p><img src="{% static 'common/demo1/dist/assets/media/terms/terms_9.png' %}"></p>
    </body>
</html>