{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}Everybase Agents{% endblock %}

{% comment %}
Minify with https://www.minifier.org/

#mobile-filter {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 100px;
    transition: 0.3s;
}

#mobile-filter.is-active {
    left: 0;
}
{% endcomment %}

{% block other_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
#mobile-filter{position:fixed;top:0;left:100%;width:100%;min-height:100vh;display:block;z-index:98;background-color:#fff;padding-top:100px;transition:0.3s}#mobile-filter.is-active{left:0}
</style>
{% endblock %}

{% block page_actions %}
<div class="flex lg:hidden">
    <a href="#" class="text-base border border-blue-700 text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2">New Post</a>
    <a href="#" id="filter" class="text-base text-slate-600 shadow-md bg-slate-100 hover:bg-slate-200 rounded px-4 py-2 ml-2">Filter</a>
</div>
{% endblock %}

{% block content %}
<div class="flex justify-center mt-10 gap-2">
    <!-- start: desktop filter -->
    <div class="bg-white hidden lg:block lg:w-4/12 xl:w-3/12 2xl:w-3/12 p-10 shadow-md sticky top-20 self-start lg:rounded-xl">
        <h1 class="font-sans text-3xl font-bold text-center text-slate-900">Agents</h1>

        <div class="mt-7 flex flex-col justify-center">
            <label for="buy_from_this_country" class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Agent Country</label>
            <div class="mt-2">
                <select id="agent_country" class="select2" data-placeholder="Choose country">
                    <option></option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>

            <label for="goods_the_agent_deals_with" class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Goods the Agent Deals With</label>
            <input name="goods_the_agent_deals_with" placeholder="Leave blank for all" type="text" class="block w-full border rounded-md py-3 px-5 mt-2">

            <label for="languages_the_agent_speaks" class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Languages the Agent Speaks</label>
            <input name="languages_the_agent_speaks" placeholder="Leave blank for all" type="text" class="block w-full border rounded-md py-3 px-5 mt-2">

            <label for="sort_by" class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Sort By</label>
            <div class="mt-2">
                <select id="sort_by" class="select2">
                    <option value="goods_the_agent_deals_with">Goods the Agent Deals With</option>
                    <option value="languages_the_agent_speaks">Languages the Agent Speaks</option>
                </select>
            </div>

            <button class="w-full py-3 px-7 rounded-xl text-neutral-50 bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Refresh</button>
        </div>
    </div>
    <!-- end: desktop filter -->
    <!-- start: mobile filter -->
    <nav id="mobile-filter">
        <h1 class="font-sans text-3xl font-bold text-center text-slate-900">Agents</h1>

        <div class="flex flex-col justify-center mt-7 mx-5">
            <label for="mobile_agent_country" class="font-sans text-sm font-bold uppercase text-slate-400">Agent Country</label>
            <div class="mt-2">
                <select id="mobile_agent_country" class="select2" data-placeholder="Choose country">
                    <option></option>
                    <option value="buy_or_sell">Buy or Sell</option>
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                </select>
            </div>

            <label for="mobile_goods_the_agent_deals_with" class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Goods the Agent Deals With</label>
            <input name="mobile_goods_the_agent_deals_with" placeholder="Leave blank for all" type="text" class="block w-full border rounded-md py-3 px-5 mt-2">

            <label for="mobile_languages_the_agent_speaks" class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Languages the Agent Speaks</label>
            <input name="mobile_languages_the_agent_speaks" placeholder="Leave blank for all" type="text" class="block w-full border rounded-md py-3 px-5 mt-2">

            <label for="mobile_sort_by" class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Sort By</label>
            <div class="mt-2">
                <select id="mobile_sort_by" class="select2">
                    <option value="goods_the_agent_deals_with">Goods the Agent Deals With</option>
                    <option value="languages_the_agent_speaks">Languages the Agent Speaks</option>
                </select>
            </div>

            <button class="w-full py-3 px-7 rounded-xl text-neutral-50 bg-blue-500 hover:bg-blue-600 mt-6 shadow-md">Refresh</button>
        </div>
    </nav>
    <!-- end: mobile filter -->

    <div class="w-5/6 lg:w-6/12 xl:w-7/12 2xl:w-6/12">
        <!-- start: paginator -->
        <div class="flex items-center justify-center gap-3 mb-4">
            <button class="text-base text-slate-600 shadow-md bg-slate-200 hover:bg-slate-300 rounded px-4 py-2">Prev</button>
            <div class="font-bold">Page 6</div>
            <button class="text-base text-slate-600 shadow-md bg-slate-200 hover:bg-slate-300 rounded px-4 py-2">Next</button>
        </div>
        <!-- end: paginator -->

        <div>
            <div class="flex justify-between bg-blue-100 w-full px-5">
                <div class="flex flex-col py-3">
                    <div class="font-bold">Arian Josimaya</div>
                    <div>Bangladesh</div>
                    <div>3 comments</div>
                </div>
                <div class="flex flex-col justify-center">
                    <button class="py-2 px-5 font-bold rounded-xl text-neutral-50 bg-green-500 hover:bg-green-600 shadow-md">WhatsApp</button>
                </div>
            </div>
            <div class="bg-white w-full p-5">
                <div class="font-sans text-sm font-bold uppercase text-slate-400">Goods I Deal With</div>
                <div class="text-base">Minerals like talc, mica ,calcined kaolin, white wollastonite, wet ground mica,graphite expanded s,silica ultra fine all oxide colours</div>
                <div class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Languages I Speak</div>
                <div class="text-base">English, Chinese</div>
            </div>
        </div>

        <div class="mt-2">
            <div class="flex justify-between bg-blue-100 w-full px-5">
                <div class="flex flex-col py-3">
                    <div class="font-bold">Arian Josimaya</div>
                    <div>Bangladesh</div>
                    <div>3 comments</div>
                </div>
                <div class="flex flex-col justify-center">
                    <button class="py-2 px-5 font-bold rounded-xl text-neutral-50 bg-green-500 hover:bg-green-600 shadow-md">WhatsApp</button>
                </div>
            </div>
            <div class="bg-white w-full p-5">
                <div class="font-sans text-sm font-bold uppercase text-slate-400">Goods I Deal With</div>
                <div class="text-base">Minerals like talc, mica ,calcined kaolin, white wollastonite, wet ground mica,graphite expanded s,silica ultra fine all oxide colours</div>
                <div class="font-sans text-sm font-bold uppercase text-slate-400 mt-5">Languages I Speak</div>
                <div class="text-base">English, Chinese</div>
            </div>
        </div>

        <!-- start: paginator -->
        <div class="flex items-center justify-center gap-3 mt-4">
            <button class="text-base text-slate-600 shadow-md bg-slate-200 hover:bg-slate-300 rounded px-4 py-2">Prev</button>
            <div class="font-bold">Page 6</div>
            <button class="text-base text-slate-600 shadow-md bg-slate-200 hover:bg-slate-300 rounded px-4 py-2">Next</button>
        </div>
        <!-- end: paginator -->
    </div>
</div>
{% endblock %}

{% comment %}
Minify with https://www.minifier.org/

$(document).ready(function() {
    $('.select2').select2();

    $('.select2').one('select2:open', function(e) {
        $('input.select2-search__field').prop('placeholder', 'Search here...');
    });


    $('#filter').click(function() {
        t = $(this);
        if (t.html() == 'Filter') {
            t.html('Close');
        } else {
            t.html('Filter');
        }

        t.toggleClass('bg-blue-500');
        t.toggleClass('text-neutral-50');
        t.toggleClass('hover:bg-blue-600');
        t.toggleClass('bg-slate-100');
        t.toggleClass('text-slate-600');
        t.toggleClass('hover:bg-slate-200');

        $('#mobile-filter').toggleClass('is-active');
    });
});
{% endcomment %}

{% block other_script %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>  
$(document).ready(function(){$('.select2').select2();$('.select2').one('select2:open',function(e){$('input.select2-search__field').prop('placeholder','Search...')});$('#filter').click(function(){t=$(this);if(t.html()=='Filter'){t.html('Close')}else{t.html('Filter')}
t.toggleClass('bg-blue-500');t.toggleClass('text-neutral-50');t.toggleClass('hover:bg-blue-600');t.toggleClass('bg-slate-100');t.toggleClass('text-slate-600');t.toggleClass('hover:bg-slate-200');$('#mobile-filter').toggleClass('is-active')})})
</script>
{% endblock %}