{% extends 'extendables/form.html' %}

{% block form %}
<form class="form">
    <div class="card-body">
        <div class="form-group">
            <span class="font-weight-bold">Kevin</span>, +65 96***75
            &nbsp<a href="#">(I'm not <span class="font-weight-bold">Kevin)</a>
        </div>

        <div class="form-group">
            
        </div>

        <div class="form-group">
            <a href="#" class="btn btn-shadow btn-lg btn-success font-weight-bold col-12 col-md-3">Help me find SELLERS</a>
        </div>

        <div class="form-group">
            <a href="#" class="btn btn-shadow btn-lg btn-info font-weight-bold col-12 col-md-3">Help me find BUYERS</a>
        </div>

        <div class="form-group">
            Thanks for your submission.
        </div>
    </div>
</form>
{% endblock %}