{% extends 'extendables/form.html' %}

{% block form %}
<form class="form">
    <div class="card-body">
        <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
            <div class="alert-text">For <span class="font-weight-bold">Kevin</span> (+65 96***75) <u>only</u>.<br>Do <u>not</u> forward this link.</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>

        <p class="font-size-lg font-weight-boldest">Demand</p>

        <div class="form-group">
            <!-- Calculate the number of rows based on character count (40 characters per line) -->
            <!-- this field combines all buy-side input fields to make it easy to copy -  product specifications, quantity and destination -->
            <textarea class="form-control col-12 col-md-6" id="kt_clipboard_2" rows="8" readonly>Powder-free nitrile gloves&#10;FDA 510(K)&#10;400k boxes total&#10;20k boxes to start&#10;United States of America (USA)&#10;New York</textarea>
        </div>

        <a href="#" class="btn btn-secondary mb-10" data-clipboard="true" data-clipboard-target="#kt_clipboard_2"><i class="la la-clipboard"></i> Copy</a>
    </div>

    <div class="card-footer">
        <p class="font-size-lg font-weight-boldest">Interested?</p>

        <a href="#" class="btn btn-danger col-5 col-md-2 mr-2">No</a>
        <button type="submit" class="btn btn-success col-5 col-md-2">Yes</button>
    </div>
</form>
{% endblock %}

{% block local_script %}
<script>
"use strict";
// Class definition

var KTClipboardDemo = function () {

    // Private functions
    var demos = function () {
        // basic example
        new ClipboardJS('[data-clipboard=true]').on('success', function(e) {
            e.clearSelection();
            alert('Copied!');
        });
    }

    return {
        // public functions
        init: function() {
            demos();
        }
    };
}();

jQuery(document).ready(function() {
    KTClipboardDemo.init();
});
</script>
{% endblock %}