{% extends 'extendables/form.html' %}

{% block form %}
<form class="form">
    <div class="card-body">
        <p class="font-size-lg font-weight-boldest">Top-up wallet</p>

        <div class="form-group">
            <p class="form-control-plaintext font-size-lg">Referral cost is <span class="font-weight-boldest">US$ 1</span>.<br />You have <span class="font-weight-boldest">US$ 0</span> in your wallet.<br />Minimum top-up value is <span class="font-weight-boldest">US$ 5</span>.</p>
        </div>

        <div class="form-group">
            <label>Add value</label>
            <input id="top_up_value" type="text" class="form-control" value="5" readonly/>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Checkout</button>
    </div>
</form>
{% endblock %}

{% block local_script %}
<script>
    "use strict";

    var Touchspin = function() {
        var touchspin = function() {
            $('#top_up_value').TouchSpin({
                buttondown_class: 'btn btn-secondary',
                buttonup_class: 'btn btn-secondary',
                min: 5,
                max: 1000000000,
                step: 5,
                decimals: 2,
                booster: false,
                prefix: 'US$'
            });
        }

        return {
            init: function() {
                touchspin();
            }
        };
    }();

    jQuery(document).ready(function() {
        Touchspin.init();
    });
</script>
{% endblock %}