{% extends 'extendables/form.html' %}

{% block form %}
<form class="form">
    <div class="card-body">
        <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
            <div class="alert-text">For <span class="font-weight-bold">Kevin</span> (+65 96***75) <u>only</u>.<br>Do <u>not</u> forward this link.</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>

        <div class="form-group">
            <label>Buyer wants</label>
            <p class="form-control-plaintext text-dark-50 font-size-lg">Lorem ipsum dolor sit amet, con...</p>
        </div>

        <div class="form-group">
            <label>Destination</label>
            <p class="form-control-plaintext text-dark-50 font-size-lg">United States of America (USA)<br />New York</p>
        </div>

        <div class="separator separator-dashed separator-border-1 separator-dark mb-10"></div>

        <div class="form-group">
            <label>You Have</label>
            <p class="form-control-plaintext text-dark-50 font-size-lg">500 Credits<span class="label label-light-danger label-inline font-weight-bolder ml-2">Insufficient</span></p>
        </div>

        <div class="form-group">
            <label>Price</label>
            <p class="form-control-plaintext text-dark-50 font-size-lg">25 Credits</p>
        </div>
    </div>

    <div class="card-footer">
        <p class="font-size-lg font-weight-boldest">Buy contact?</p>

        <a href="#" class="btn btn-secondary col-5 col-md-2 mr-2">Back</a>
        <button type="submit" class="btn btn-primary col-5 col-md-2">Yes, Buy</button>

        <span class="form-text text-danger mt-4">You'll be directed to top-up credits.</span>
    </div>
</form>
{% endblock %}


{% block local_script %}
<script>
    $(document).ready(function(){
        $(":input").inputmask();
    });

    $("#register_email").inputmask({
        mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[.*{2,6}][.*{1,2}]",
        greedy: false,
        onBeforePaste: function (pastedValue, opts) {
        pastedValue = pastedValue.toLowerCase();
            return pastedValue.replace("mailto:", "");
        },
        definitions: {
        '*': {
                validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~\-]",
                cardinality: 1,
                casing: "lower"
            }
        }
    });

    update_full_number = function() {
        $("#register_full_number").text($("#register_country_code").val() + " "
            + $("#register_national_number").val()) 
    }

    $("#register_country_code").keypress(function() {
        update_full_number();
    });

    $("#register_national_number").keypress(function() {
        update_full_number();
    });
</script>
{% endblock %}