{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}Everybase{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        {% comment %} Override to allow robot indexing {% endcomment %}
        {% block noindex %}<meta name="robots" content="noindex">{% endblock %}

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		
        {% comment %} Global styles used by all pages {% endcomment %}
		<link href="{% static 'common/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'common/assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'common/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />

		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />

        {% block otherheadtags %}{% endblock %}
	</head>

	<body id="kt_body" class="page-loading">
		<div class="d-flex flex-column flex-root">
			{% comment %} Page {% endcomment %}
			<div class="d-flex flex-row flex-column-fluid page">
				{% comment %} Wrapper {% endcomment %}
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					{% comment %} Content {% endcomment %}
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						{% comment %} Entry {% endcomment %}
						<div class="d-flex flex-column-fluid">
							{% comment %} Container {% endcomment %}
							<div class="container">
								{% comment %} Item {% endcomment %}
								<div class="card card-custom gutter-b">
									<div class="card-body">
										<div class="d-flex">
											<div class="flex-grow-1">
                                                {% comment %} Title {% endcomment %}
												<div class="text-dark font-size-h5 font-weight-bold mt-2">
													Jason Muller
												</div>

												<div class="text-muted">
													2 months ago
												</div>
                                                
                                                {% comment %} First 50 characters of supply (replace new line with space) {% endcomment %}
												<div>
													3M 1860 Offers for April 2021 Mainland UAE 350,000 Boxes / 3M / 1860 / US Made / Mainland Dubai Custo...
												</div>
											</div>
										</div>

										<div class="separator separator-solid my-7"></div>

                                        <div class="d-flex">
                                            <a href="#" class="btn btn-sm btn-light-info font-weight-bolder text-uppercase mr-2 flex-grow-1">Details</a>
                                            <a href="#" class="btn btn-sm btn-primary font-weight-bolder text-uppercase flex-grow-1">WhatsApp</a>
                                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% comment %} Global config {% endcomment %}
		<script>var KTAppSettings = {"breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>

        {% comment %} Global theme {% endcomment %}
        <script src="{% static 'common/assets/plugins/global/plugins.bundle.js' %}"></script>
        <script src="{% static 'common/assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
		<script src="{% static 'common/assets/js/scripts.bundle.js' %}"></script>
	</body>
</html>