{% extends 'extendables/form.html' %}

{% block form %}
<form class="form">
    <div class="card-body">
        <div class="alert alert-custom alert-light-success fade show" role="alert">
            {% comment %} Seller replied!&nbsp<a href="#">See Discussion</a>. {% endcomment %}

            Connected!&nbsp<a href="#">See seller<!--buyer--> details</a>.

            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>

<!-- Post-connection -->

        <p class="font-size-lg font-weight-boldest">Seller<!--Buyer--></p>

        <div class="form-group">
            <label>Name</label>
            <div class="input-group">
                <input type="text" class="form-control form-control-solid col-12" id="seller_name" value="John Jamuji" readonly/>
                <div class="input-group-append">
                    <a href="#" class="btn btn-secondary" data-clipboard="true" data-clipboard-target="#seller_name"><i class="la la-copy"></i></a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <div class="input-group">
                <input type="text" class="form-control form-control-solid col-12" id="seller_phone" value="+0 1234567890" readonly/>
                <div class="input-group-append">
                    <a href="#" class="btn btn-secondary" data-clipboard="true" data-clipboard-target="#seller_phone"><i class="la la-copy"></i></a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <div class="input-group">
                <input type="text" class="form-control form-control-solid col-12" id="seller_email" value="friend@everybase.co" readonly/>
                <div class="input-group-append">
                    <a href="#" class="btn btn-secondary" data-clipboard="true" data-clipboard-target="#seller_email"><i class="la la-copy"></i></a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <a href="#" class="btn btn-light-dark">Email</a>
            <a href="#" class="btn btn-success ml-2">WhatsApp</a>
        </div>

<!--
    Pre-connection (or 'connect with buyer?')
        <p class="font-size-lg font-weight-boldest">Connect with seller?</p>
-->

        <p class="font-size-lg font-weight-boldest">Supply<!--Demand--></p>

        <div class="form-group">
            <label>Supply<!--Demand--> ID</label>
            <div class="input-group">
                <input type="text" class="form-control form-control-solid col-12" id="supply_id" value="123" readonly/>
                <div class="input-group-append">
                    <a href="#" class="btn btn-secondary" data-clipboard="true" data-clipboard-target="#supply_id"><i class="la la-copy"></i></a>
                </div>
            </div>
        </div>

        <div class="form-group">
        <!-- the details in this text field must be complete -->
            <textarea id="ta0" class="form-control form-control-solid col-12" readonly>Nitrile exam 510k only&#10;FDA 510(K)&#10;OTG&#10;20k boxes to start&#10;Canada, Vancouver</textarea>
            <a href="#" class="btn btn-secondary mt-4" data-clipboard="true" data-clipboard-target="#ta0"><i class="la la-clipboard"></i> Copy Details</a>
        </div>

        <div class="separator separator-dashed separator-border-1 separator-primary mt-10 mb-10"></div>

        <p class="font-size-lg font-weight-boldest">Discussion</p>

        <div class="form-group">
            <div><span class="label label-inline label-warning label-pill font-weight-bold mb-2">Seller<!--Buyer--></span></div>
            <textarea id="ta2" class="form-control form-control-solid col-12 mb-2" readonly>Can you do LC?</textarea>
            
            <div><span class="label label-inline label-warning label-pill font-weight-bold mb-2" style="float:right">You</span></div>
            <textarea id="ta3" class="form-control form-control-solid col-12 mb-2" readonly>These are your past replies</textarea>

            <div><span class="label label-inline label-primary label-pill font-weight-bold mb-2">Everybase</span></div>
            <textarea id="ta4" class="form-control form-control-solid col-12 mb-2" readonly>Can you do LC?</textarea>

            <div><span class="label label-inline label-warning label-pill font-weight-bold mb-2" style="float:right">You</span></div>
            <textarea id="ta5" class="form-control form-control-solid col-12 mb-2" readonly>These are your past replies</textarea>

            <div><span class="label label-inline label-warning label-pill font-weight-bold mb-2">Seller<!--Buyer--></span></div>
            <textarea id="ta6" class="form-control form-control-solid col-12 mb-2" readonly>Can you do LC?</textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success col-12 col-md-6">Connect with Seller<!--Buyer--></button>
            <p class="form-control-plaintext text-info">
                <span class="font-weight-boldest text-success">You'll be directed to top-up your wallet</span><br/>
                A referral fee of <span class="font-weight-boldest">US$ 5.00</span> will be deducted.<br/>
                You have <span class="font-weight-boldest">US$ 20.00</span> in your wallet.<br/>
                You'll receive the seller's contacts (e.g. WhatsApp).
            </p>

            <!-- This button will redirect to WhatsApp -->
        <!-- When the user exits from this screen, after a short while, we'd whatsapp him for his response -->
            <button type="submit" class="btn btn-success col-12 col-md-6">Reply Us in WhatsApp</button>
            <p class="form-control-plaintext">If you're not ready to connect.</p>
        </div>
    </div>
</form>
{% endblock %}

{% block local_script %}
<script>
    "use strict";

    // Clipboard
    var Clipboard = function () {
        var clipboards = function () {
                new ClipboardJS('[data-clipboard=true]').on('success', function(e) {
                e.clearSelection();
                alert('Copied:\n\n' + e.text);
            });
        }

        return {
            init: function() {
                clipboards();
            }
        };
    }();

    // Autosizing
    var Autosize = function () {
        var autosize_all = function () {
            var ta0 = $('#ta0');
            var ta1 = $('#ta1');
            var ta2 = $('#ta2');
            var ta3 = $('#ta3');
            var ta4 = $('#ta4');
            var ta5 = $('#ta5');
            var ta6 = $('#ta6');
            var ta7 = $('#ta7');

            autosize(ta0);
            autosize(ta1);
            autosize(ta2);
            autosize(ta3);
            autosize(ta4);
            autosize(ta5);
            autosize(ta6);
            autosize(ta7);
        }

        return {
            init: function() {
                    autosize_all();
                }
        };
    }();

    jQuery(document).ready(function() {
        Autosize.init();
        Clipboard.init();
    });
</script>
{% endblock %}