{% extends 'extendables/form.html' %}

{% block form %}
<form class="form">
    <div class="card-body">
        <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
            <div class="alert-text">For <span class="font-weight-bold">Kevin</span> (+65 96***75) <u>only</u>.<br>Do <u>not</u> forward this link.</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>

        <div class="alert alert-custom alert-outline-success fade show mb-5" role="alert">
            <div class="alert-text">Thanks for your feedback.</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>

        <div class="form-group mt-20">
            <a href="#" class="btn btn-shadow btn-lg btn-light-info font-weight-bold col-12 col-md-3">Help me find BUYERS</a>
        </div>

        <div class="form-group">
            <a href="#" class="btn btn-shadow btn-lg btn-light-success font-weight-bold col-12 col-md-3">Help me find SELLERS</a>
        </div>
    </div>
</form>
{% endblock %}