{% extends 'extendables/form.html' %}

{% block form %}
<form class="form">
    <div class="card-body">
        <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
            <div class="alert-text">For <span class="font-weight-bold">Kevin</span> (+65 96***75) <u>only</u>.<br>Do <u>not</u> forward this link.</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>

        <p class="font-size-lg font-weight-boldest">Please rate this buyer</p>

        <div class="form-group">
            <label>Name</label>
            <p class="form-control-plaintext text-dark-50 font-size-lg">John Jamuji</p>
        </div>

        <div class="form-group">
            <!-- Calculate the number of rows based on character count (40 characters per line) -->
            <!-- this field combines all buy-side input fields to make it easy to copy -  product specifications, quantity and destination -->
            <label>Demand</label>
            <textarea class="form-control col-12 col-md-6" id="kt_clipboard_2" rows="8" readonly>Powder-free nitrile gloves&#10;FDA 510(K)&#10;400k boxes total&#10;20k boxes to start&#10;United States of America (USA)&#10;New York</textarea>
        </div>

        <div class="form-group">
            <label class="mb-6">Will you work with this buyer?</label>
            <div class="radio-list">
                <label class="radio radio-lg">
                    <input type="radio" name="radios3_1"/>
                    <span></span>
                    Yes
                </label>

                <label class="radio radio-lg">
                    <input type="radio" name="radios3_1"/>
                    <span></span>
                    No
                </label>

                <label class="radio radio-lg">
                    <input type="radio" name="radios3_1"/>
                    <span></span>
                    Maybe
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Why?</label>
            <textarea class="form-control col-12 col-md-6" id="kt_autosize_1" rows="3"></textarea>
        </div>

    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary col-5 col-md-2">Submit</button>
    </div>
</form>
{% endblock %}


{% block local_script %}
<script>
// Class definition

var KTAutosize = function () {
 // Private functions
 var demos = function () {
  // basic demo
  var demo1 = $('#kt_autosize_1');

  autosize(demo1);
 }

 return {
  // public functions
  init: function() {
   demos();
  }
 };
}();

jQuery(document).ready(function() {
 KTAutosize.init();
});
</script>
{% endblock %}