{% extends 'extendables/form.html' %}

{% block form %}
<form class="form">
    <div class="card-body">
        <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
            <div class="alert-text">For <span class="font-weight-bold">Kevin</span> (+65 96***75) <u>only</u>.<br>Do <u>not</u> forward this link.</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>

        <p class="font-size-lg font-weight-boldest">I sell</p>

        <div class="form-group">
            {% comment %} <label>I am selling</label> {% endcomment %}
        <!-- look into autosizing http://localhost:8080/crud/forms/widgets/autosize.html-->
            <textarea class="form-control col-12 col-md-6" rows="7" placeholder="E.g.&#10;Powder-free nitrile gloves&#10;FDA 510(K)" required></textarea>
        </div>
    </div>

    <div class="card-footer">
        <a href="#" class="btn btn-secondary col-5 col-md-2 mr-2">Cancel</a>
        <button type="submit" class="btn btn-primary col-5 col-md-2">Submit</button>
    </div>
</form>
{% endblock %}

{% block local_script %}
<script>
    $(document).ready(function(){
        $(":input").inputmask();
    });

    $('#lead_capture_country').select2({
        placeholder: "Country",
        allowClear: true
    });
</script>
{% endblock %}