{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% comment %} Start: Head {% endcomment %}
	<head>
        {% include 'includes/shared_head_declarations.html' %}

        {% block page_vendor_stylesheets %}{% endblock %}

        {% comment %} Social Meta Data

        <title>...</title>, max 65 chars
        <meta name="description" content="..." />, max 155 chars
        <meta property="og:title" content="..." />, max 35 chars
        <meta property="og:url" content="..." />, full link to canonical webpage URL
        <meta property="og:description" content="..." />, max 65 chars
        <meta property="og:image" content="..." />, image, min dimensions 300 x 200, <300Kb, served with HTTPS connection with a valid non self-signed certificate
        <meta property="og:image:url" content="..." />, equivalent to og:image
        <meta property="og:image:secure_url" content="..." />, https:// URL for the image
        <meta property="og:image:type" content="..." />, MIME type of the image. One of image/jpeg, image/gif, image/png.
        <meta property="og:image:width" content="..." />, Image width
        <meta property="og:image:height" content="..." />, Image height
        <meta property="og:type" content="..." />, default 'website'
        <meta property="og:locale" content="..." />, default 'en_US'
        <meta property="fb:app_id" content="..." />, Facebook App ID

        We use the image to convey the value proposition of the site.
        {% endcomment %}

        <title>{% block title %}Everybase helps importers/exporters avoid bad business{% endblock %}</title>{% comment %} 54 chars {% endcomment %}
        <meta name="description" content="{% block meta_description %}Check if an exporter's phone number is reported for scams.{% endblock %}" />{% comment %} 58 chars {% endcomment %}
        <meta property="og:site_name" content="Everybase"/>
        <meta property="og:title" content="{% block meta_og_title %}Check if an exporter's phone number is reported for scams.{% endblock %}" />{% comment %} 58 chars {% endcomment %}
        <meta property="og:url" content="{% block meta_og_url %}{{ request.path }}{% endblock %}" />
        <meta property="og:description" content="{% block meta_og_description %}We collect reviews of importers and exporters worldwide. Check if an exporter's phone number is reported for scams.{% endblock %}" />{% comment %} 115 chars {% endcomment %}
        <meta property="og:image" content="{% block meta_og_image %}{% static 'common/demo1/dist/assets/media/home/og_image/home_og_image.png' %}{% endblock %}" />
        <meta property="og:image:url" content="{% block meta_og_image_url %}{% static 'common/demo1/dist/assets/media/home/og_image/home_og_image.png' %}{% endblock %}" />
        <meta property="og:image:secure_url" content="{% block meta_og_image_secure_url %}{% static 'common/demo1/dist/assets/media/home/og_image/home_og_image.png' %}{% endblock %}" />
        <meta property="og:image:type" content="{% block meta_og_image_type %}image/png{% endblock %}" />
        <meta property="og:image:width" content="{% block meta_og_image_width %}300{% endblock %}" />
        <meta property="og:image:height" content="{% block meta_og_image_height %}200{% endblock %}" />
        <meta property="og:type" content="{% block meta_og_type %}website{% endblock %}" />
        <meta property="og:locale" content="{% block meta_og_locale %}en_US{% endblock %}" />
        <meta property="fb:app_id" content="{{ settings.FACEBOOK_APP_ID }}" />
	</head>
    {% comment %} End: Head {% endcomment %}

    {% comment %} Start: Body {% endcomment %}
	<body class="bg-body">
        {% comment %} Start: Main {% endcomment %}
		<div class="d-flex flex-column flex-root">
            {% block content %}{% endblock %}
		</div>
        {% comment %} End: Main {% endcomment %}

        {% include 'includes/shared_body_declarations.html' %}
        {% block page_vendor_javascript %}{% endblock %}
        {% block page_custom_javascript %}{% endblock %}
	</body>
    {% comment %} End: Body {% endcomment %}
</html>