{% load static %}

<div class="kt-header__topbar kt-grid__item">
	{% if user.is_authenticated %}
		<div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" style="flex-direction: row-reverse;">
			<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile">
				<ul class="kt-menu__nav">
					<li class="kt-menu__item{% if location == 'inbox' %} kt-menu__item--here{% endif %}"><a href="{% url 'inbox' %}" class="kt-menu__link"><i class="kt-menu__link-icon flaticon2-mail"></i> <span class="kt-menu__link-text">Inbox</span>&nbsp;&nbsp;<span class="kt-badge kt-badge--danger kt-badge--rounded">5</span></a></li>
					<li class="kt-menu__item kt-margin-l-10"><a href="mailto:support@everybase.co" target="_window" class="kt-menu__link"><i class="kt-menu__link-icon flaticon2-help"></i> <span class="kt-menu__link-text">Support</span></a></li>
				</ul>
			</div>
		</div>

		<div class="kt-margin-l-30 kt-header__topbar-item kt-header__topbar-item--user">
			<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
				<span class="kt-header__topbar-welcome kt-visible-desktop" style="text-align: center"><span class="kt-font-bolder">Uzumaki Naruto</span><br />Kiyoko Chemicals</span>
				<img alt="Pic" src="{% static 'common/assets/media/users/300_21.jpg' %}" />

				<!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
				<span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
			</div>
			<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

				{% include 'partials/_topbar/dropdown/user.html' %}
			</div>
		</div>
	{% endif %}
</div>