{% extends 'extendables/base.html' %}

{% block title %}
    Delete Partner Organization?
{% endblock %}

{% block subtitle %}
    Delete Partner Organization?
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-warning">No, Cancel</a>
    <a href="#" class="btn btn-danger">Yes, Delete Organization</a>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 form-group">
                        <label>Organization Name</label>
                        <h5>Kiyoko Pte Ltd</h5>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}