{% extends 'extendables/base.html' %}

{% block title %}
    Delete Contact?
{% endblock %}

{% block subtitle %}
    Delete Contact?
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-warning">No, Cancel</a>
    <a href="#" class="btn btn-danger">Yes, Delete Contact</a>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Organization</label>
                        <h5>BASF Chemicals</h5>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Email</label>
                        <h5>kevin.ng@kiyoko.jp</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Contact Name</label>
                        <h5>Quality Assurance</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}