{% extends 'extendables/base.html' %}

{% block title %}
    Document Types
{% endblock %}

{% block subtitle %}
    Document Types
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-primary"><i class="flaticon2-plus"></i>Create Document Type</a>
{% endblock %}

{% block content %}
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!-- <button type="button" class="btn btn-primary" disabled><i class="flaticon-refresh"></i>Refresh</button> -->
                        <button type="button" class="btn btn-primary kt-margin-b-20"><i class="flaticon-refresh"></i>Refresh</button>
                        <div class="kt-separator kt-separator--border"></div>
                        <div class="form-group">
                            <label>Document Type Name</label>
                            <input type="search" class="form-control" placeholder="Leave blank to show all">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head kt-portlet__head--noborder">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Certificate of Analysis
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-hover-primary btn-elevate-hover btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="flaticon-more-1"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i class="la la-pencil-square"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i class="la la-trash"></i>Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <div class="form-group">
                                    <label class="kt-label-font-color-4 kt-font-bolder">Keys</label>
                                    <div class="kt-label-font-color-3">Material Number</div>
                                    <div class="kt-label-font-color-3">Batch Number</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__body">        
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__body">           
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__body">           
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__body">           
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__body">            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__body">
                                <div class="kt-pagination kt-pagination--brand">
                                    <ul class="kt-pagination__links">
                                        <li class="kt-pagination__link--first">
                                            <a href="#"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                                        </li>
                                        <li class="kt-pagination__link--next">
                                            <a href="#"><i class="fa fa-angle-left kt-font-brand"></i></a>
                                        </li>
                                        <li>
                                            <a href="#">...</a>
                                        </li>
                                        <li>
                                            <a href="#">29</a>
                                        </li>
                                        <li>
                                            <a href="#">30</a>
                                        </li>
                                        <li class="kt-pagination__link--active">
                                            <a href="#">31</a>
                                        </li>
                                        <li>
                                            <a href="#">32</a>
                                        </li>
                                        <li>
                                            <a href="#">33</a>
                                        </li>
                                        <li>
                                            <a href="#">34</a>
                                        </li>
                                        <li>
                                            <a href="#">...</a>
                                        </li>
                                        <li class="kt-pagination__link--prev">
                                            <a href="#"><i class="fa fa-angle-right kt-font-brand"></i></a>
                                        </li>
                                        <li class="kt-pagination__link--last">
                                            <a href="#"><i class="fa fa-angle-double-right kt-font-brand"></i></a>
                                        </li>
                                    </ul>
                                    <div class="kt-pagination__toolbar">
                                        <span class="pagination__desc">
                                            250 Results
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}