{% extends 'extendables/base.html' %}

{% block title %}
    Edit Document
{% endblock %}

{% block subtitle %}
    Edit Document
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-warning">Cancel</a>
    <button type="submit" href="#" class="btn btn-success">Apply Changes</button>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Document Type</label>
                        <h5>COA</h5>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Material Number</label>
                        <input type="text" class="form-control" value="123457890" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Batch Number</label>
                        <input type="text" class="form-control" value="123457890" />
                    </div>
                </div>
            </div>
        </div>
        <div id="document-pdf"></div>
    </div>
{% endblock %}