{% extends 'extendables/base.html' %}

{% block title %}
    Message
{% endblock %}

{% block subtitle %}
    Message
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-outline-secondary"><i class="flaticon2-left-arrow-1"></i>Sent</a>
    <a href="#" class="btn btn-outline-secondary"><i class="flaticon2-left-arrow-1"></i>Inbox</a>
    <a href="#" class="btn btn-primary"><i class="flaticon2-send-1"></i>Forward Message</a>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <!-- <label>Sender</label> -->
                        <label>Recipient</label>
                        <a href="#">
                            <h5>warehouse@thomsom-chem.co.uk</h5>
                            <div>and 5 others</div>
                        </a>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Date</label>
                        <h5>12 Dec 2019 8:45 AM (2 Days Ago)</h5>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <!-- <label>Sender's Reference</label> -->
                        <label>Recipient's Reference</label>
                        <div class="kt-margin-10"></div>
                        <div>
                            <label class="kt-label-font-color-4 kt-font-bolder">DO Number</label>&nbsp;&nbsp;&nbsp;
                            <span class="kt-label-font-color-3">1234567890</span>
                        </div>
                        <div>
                            <label class="kt-label-font-color-4 kt-font-bolder">SO Number</label>&nbsp;&nbsp;&nbsp;
                            <span class="kt-label-font-color-3">1234567890</span>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Your Reference</label>
                        <div class="kt-margin-10"></div>
                        <div>
                            <label class="kt-label-font-color-4 kt-font-bolder">PO Number</label>&nbsp;&nbsp;&nbsp;
                            <span class="kt-label-font-color-3">1234567890</span>
                        </div>
                    </div>
                    <div class="col-lg-6 form-group">
                        <label>Comments</label>
                        <div class="kt-margin-10"></div>
                        <div class="kt-label-font-color-3">
                            As mentioned over phone. Synocure will be delivered separately.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder kt-margin-t-5">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sodium Hydroxide Caustic Soda 99% NAOH
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Material Number</span>
                                        <span class="kt-widget__data">01234567890</span>
                                    </div>
                                </div>

                                <div class="kt-widget__item">
                                    Certificate of Analysis (COA)
                                    <div class="kt-margin-t-10"></div>
                                    <div class="kt-margin-l-20 kt-margin-b-5"><label class="kt-label-font-color-4 kt-font-bolder">Batch Number</label></div>
                                    <div class="kt-margin-l-30"><i class="flaticon2-file-1"></i> <a href="#" target="_blank">1234567890</a></div>
                                    <div class="kt-margin-l-30"><i class="flaticon2-file-1"></i> <a href="#" target="_blank">1234567890</a></div>
                                    <div class="kt-margin-l-30"><i class="flaticon2-file-1"></i> <a href="#" target="_blank">1234567890</a></div>
                                </div>

                                <div class="kt-widget__item">
                                    <div><a href="#"><i class="flaticon2-file-1"></i> Safety Datasheet (SDS)</a></div>
                                    <div><a href="#"><i class="flaticon2-file-1"></i> Technical Datasheet (TDS)</a></div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder kt-margin-t-5">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sodium Hydroxide Caustic Soda 99% NAOH
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Material Number</span>
                                        <span class="kt-widget__data">01234567890</span>
                                    </div>
                                </div>

                                <div class="kt-widget__item">
                                    <div><a href="#"><i class="flaticon2-file-1"></i> Safety Datasheet (SDS)</a></div>
                                    <div><a href="#"><i class="flaticon2-file-1"></i> Technical Datasheet (TDS)</a></div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder kt-margin-t-5">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sodium Hydroxide Caustic Soda 99% NAOH
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Material Number</span>
                                        <span class="kt-widget__data">01234567890</span>
                                    </div>
                                </div>

                                <div class="kt-widget__item">
                                    Certificate of Analysis (COA)
                                    <div class="kt-margin-t-10"></div>
                                    <div class="kt-margin-l-20 kt-margin-b-5"><label class="kt-label-font-color-4 kt-font-bolder">Batch Number</label></div>
                                    <div class="kt-margin-l-30"><i class="flaticon2-file-1"></i> <a href="#" target="_blank">1234567890</a></div>
                                </div>

                                <div class="kt-widget__item">
                                    <div><a href="#"><i class="flaticon2-file-1"></i> Safety Datasheet (SDS)</a></div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder kt-margin-t-5">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sodium Hydroxide Caustic Soda 99% NAOH
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Material Number</span>
                                        <span class="kt-widget__data">01234567890</span>
                                    </div>
                                </div>

                                <div class="kt-widget__item">
                                    Certificate of Analysis (COA)
                                    <div class="kt-margin-t-10"></div>
                                    <div class="kt-margin-l-20 kt-margin-b-5"><label class="kt-label-font-color-4 kt-font-bolder">Batch Number</label></div>
                                    <div class="kt-margin-l-30"><i class="flaticon2-file-1"></i> <a href="#" target="_blank">1234567890</a></div>
                                    <div class="kt-margin-l-30"><i class="flaticon2-file-1"></i> <a href="#" target="_blank">1234567890</a></div>
                                </div>

                                <div class="kt-widget__item">
                                    <div><a href="#"><i class="flaticon2-file-1"></i> Safety Datasheet (SDS)</a></div>
                                    <div><a href="#"><i class="flaticon2-file-1"></i> Technical Datasheet (TDS)</a></div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder kt-margin-t-5">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Sodium Hydroxide Caustic Soda 99% NAOH
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Material Number</span>
                                        <span class="kt-widget__data">01234567890</span>
                                    </div>
                                </div>

                                <div class="kt-widget__item">
                                    Certificate of Analysis (COA)
                                    <div class="kt-margin-t-10"></div>
                                    <div class="kt-margin-l-20 kt-margin-b-5"><label class="kt-label-font-color-4 kt-font-bolder">Batch Number</label></div>
                                    <div class="kt-margin-l-30"><i class="flaticon2-file-1"></i> <a href="#" target="_blank">1234567890</a></div>
                                    <div class="kt-margin-l-30"><i class="flaticon2-file-1"></i> <a href="#" target="_blank">1234567890</a></div>
                                    <div class="kt-margin-l-30"><i class="flaticon2-file-1"></i> <a href="#" target="_blank">1234567890</a></div>
                                </div>

                                <div class="kt-widget__item">
                                    <div><a href="#"><i class="flaticon2-file-1"></i> Safety Datasheet (SDS)</a></div>
                                    <div><a href="#"><i class="flaticon2-file-1"></i> Technical Datasheet (TDS)</a></div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--mobile kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
    
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--mobile kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}