{% extends 'extendables/b.html' %}

{% load static %}

{% block title %}Lookup User{% endblock %}

{% block page_title %}Lookup User{% endblock %}

{% block page_subtitle %}Lookup user with WhatsApp phone number.{% endblock %}

{% block actions %}
{% include 'leads/includes/toolbar_actions.html' with hide_lead_create=True %}
{% endblock %}

{% block content_body %}
<form action="" method="post" id="lead_create_form">
    {% csrf_token %}
    <div class="post d-flex flex-column-fluid" id="kt_post">
        {% comment %} Start: Container {% endcomment %}
        <div id="kt_content_container" class="container-xxl">
            <div class="card shadow-sm mt-4">
                {% comment %} Start: Card body {% endcomment %}
                <div class="card-body">
                    <div class="mt-5">
                        <div class="form-floating col-lg-6 mt-2">
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"{% if form.last_name.value is not None and form.last_name.value|cut:' ' != '' %} value="{{ form.last_name.value }}"{% endif %} required />
                            <label for="last_name">WhatsApp Phone Number</label>
                        </div>
                        {% if form.last_name.errors %}<div class="text-danger">{% for error in form.last_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                        <div class="text-muted mt-2 ms-2">Include + symbol. E.g., +14155552671.</div>
                    </div>
                </div>
                {% comment %} End: Card body {% endcomment %}
                
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <a href="{% url 'home' %}" class="btn btn-light btn-active-light-primary me-2">Cancel</a>
                    <button type="submit" class="btn btn-primary g-recaptcha"
                        data-sitekey="{{ settings.RECAPTCHA_SITE_KEY }}"
                        data-callback="leadCreateFormOnSubmit" 
                        data-action="submit">Lookup User</button>
                </div>
            </div>
        </div>
        {% comment %} End: Container {% endcomment %}
    </div>
</form>
{% endblock %}

{% comment %}
function leadCreateFormOnSubmit(token) {
    document.getElementById("lead_create_form").submit()
}
{% endcomment %}
{% block page_custom_javascript %}
<script src="{% static 'leads/js/lead_create.js' %}"></script>
{% endblock %}