{% extends 'relationships/extendables/simple.html' %}

{% block title %}Confirm Email Change{% endblock %}

{% load static %}

{% block content %}


{% comment %} 


Look at other page for responsive settings

{% endcomment %}
<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <a href="{% url 'home' %}" class="mb-12">
            <img alt="Logo" src="{% static 'common/demo1/dist/assets/media/logos/logo.png' %}" />
        </a>

        <div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
            <form class="form w-100 mb-10" action="" method="post">
                {% csrf_token %}

                <div class="text-center mb-10">
                    {% comment %} <img alt="Logo" class="mh-125px" src="{% static 'common/demo1/dist/assets/media/svg/misc/smartphone.svg' %}" /> {% endcomment %}
                </div>

                <div class="text-center mb-10">
                    <h1 class="text-dark mb-3">Verify Your Email</h1>
                    <div class="text-gray-700 fs-5">Enter the comfirmation code we've sent to</div>
                    <div class="fw-bold text-dark fs-3 mt-2">kevinngsw@gmail.com{{ form.email.value }}</div>
                    <input type="hidden" name="email" value="{{ form.email.value }}">
                </div>

                <div class="mt-10">
                    <label class="form-label fs-6 fw-bolder text-dark" for="email">Confirmation Code</label>
                    <input type="text" id="code" class="form-control" name="code" placeholder="Enter confirmation code" />
                </div>
                {% if form.code.errors %}<div class="text-danger">{% for error in form.code.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                <div class="text-center mt-10">
                    <button type="submit" class="btn btn-lg btn-primary w-100">Next</button>
                    <button type="submit" class="btn btn-lg btn-secondary w-100 mt-2">Skip</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}