{% comment %} 

Render lead item and accompanying modal contact if applicable.

The clipboard Javascript have to be rendered separately after their dependencies include at the end of the page.

Parameters:
    lead, lead item to be rendered
{% endcomment %}

{% load static %}

{% comment %} Start: Lead item {% endcomment %}

{% comment %}

Allow user to contact author if he's not the author
{% endcomment %}
{% if lead.author.id != request.user.user.id %}
<a href="#" data-bs-toggle="modal" data-bs-target="#lead_{{ lead.id }}_modal">
{% else %}
<a href="{% url 'leads:lead_detail_private' lead.id %}">
{% endif %}

<div class="card shadow-sm mt-4">
    {% comment %} Start: Card header {% endcomment %}
    <div class="card-header">
        <div class="card-title align-items-start flex-column">
            {% comment %} Start: Avatar {% endcomment %}
            <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                    {% if request.user.user.avatar == None %}
                        <div class="symbol-label fs-3 bg-light-primary text-primary">{{ request.user.user.first_name.0|upper }}{{ request.user.user.last_name.0|upper }}</div>
                    {% else %}
                        <img src="{{ request.user.user.avatar_thumbnail_url }}" />
                    {% endif %}
                </div>
                <div class="d-flex justify-content-start flex-column">
                    <div class="text-dark fw-bolder fs-6">{{ lead.author.first_name|title }} {{ lead.author.last_name|title }}
                    {% if lead.author.is_country_match_country_code %}
                        {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen043.svg {% endcomment %}
                        <span class="svg-icon svg-icon-success svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Verified with phone number country code +1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                            <path d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z" fill="currentColor"/>
                            </svg>
                        </span>
                        {% comment %} End: SVG icon {% endcomment %}
                    {% endif %}
                    </div>
                    <span class="text-muted fw-bold text-muted d-block fs-7">{{ lead.author.country.name }}</span>
                </div>
            </div>
            {% comment %} End: Avatar {% endcomment %}
        </div>
        <div class="card-toolbar">
            <span class="text-muted">{{ lead.age_desc }}</span>
        </div>
    </div>
    {% comment %} End: Card header {% endcomment %}

    {% comment %} Start: Card body {% endcomment %}
    <div class="card-body">
        <div class="text-dark">{% if lead.body != None %}{{ lead.body }}{% else %}{{ lead.headline }}{% endif %}</div>
        <div class="d-flex justify-content-between mt-2">
            <div>
                {% if lead.lead_type == 'buying' %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="User wants to buy, or needs help to source.">Buying / Help Me Source</span>
                {% elif lead.lead_type == 'selling' %}
                    <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="User wants to sell, or needs help to sell.">Selling / Help Me Sell</span>
                {% elif lead.lead_type == 'other' %}
                <span class="badge badge-secondary">Other</span>
                {% endif %}
                {% comment %} <span class="badge badge-light">Help Me Source</span> {% endcomment %}
                {% comment %} <span class="badge badge-light">Need Logistics</span> {% endcomment %}
            </div>
            {% comment %} Start: Badges {% endcomment %}
            <div>
                {% comment %} <span class="badge badge-dark">Contacted</span> {% endcomment %}
                <span class="badge badge-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ lead.num_contacts }} users contacted you on this lead.">{{ lead.num_contacts }} Contacts</span>
            </div>
            {% comment %} End: Badges {% endcomment %}
        </div>
    </div>
    {% comment %} End: Card body {% endcomment %}
</div>

{% comment %}
We have only 1 </a> tag, but 2 <a> tags - which we'll choose to render depending on whether the this lead belongs to the user.
{% endcomment %}
</a>

{% comment %} End: Lead item {% endcomment %}

{% comment %} Render contact modal if user is not lead author {% endcomment %}
{% if lead.author.id != request.user.user.id %}
{% comment %} Start: Contact modal {% endcomment %}
<div class="modal bg-white fade" tabindex="-1" id="#lead_{{ lead.id }}_modal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content shadow-none">
            <div class="modal-header">
                <h5 class="modal-title">Contact</h5>

                {% comment %} Start: Close {% endcomment %}
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                {% comment %} End: Close {% endcomment %}
            </div>

            <div class="modal-body">
                <div class="container-xxl col-lg-6">
                    {% comment %} Start: Avatar and timestamp {% endcomment %}
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-45px me-5">
                                <img src="{% static 'common/metronic/demo1/dist/assets/media/avatars/300-14.jpg' %}" alt="" />
                            </div>
                            <div class="d-flex justify-content-start flex-column">
                                <div class="text-dark fw-bolder fs-6">Ana Simmons</div>
                                <span class="text-muted fw-bold text-muted d-block fs-7">United States of America, USA</span>
                            </div>
                        </div>
                        <div class="text-muted">
                            2w ago
                        </div>
                    </div>
                    {% comment %} End: Avatar and timestamp {% endcomment %}

                    {% comment %} Start: Lead body {% endcomment %}
                    <div class="mt-5">
                        <div class="text-dark">I am looking for agents to help me sell my products. I am looking for agents to help me sell my pro.</div>
                        <div class="mt-2">
                            <span class="badge badge-secondary">Buying / Help Me Source</span>
                            {% comment %} <span class="badge badge-light">Help Me Source</span> {% endcomment %}
                            {% comment %} <span class="badge badge-light">Need Logistics</span> {% endcomment %}
                        </div>
                    </div>
                    {% comment %} End: Lead body {% endcomment %}

                    {% comment %} Start: Contact form {% endcomment %}
                    <div class="mt-5">
                        {% comment %} Start: Email textfield {% endcomment %}
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" required />
                            <label for="floatingInput1">Email</label>
                        </div>
                        {% comment %} End: Email textfield {% endcomment %}
                        
                        {% comment %} Start: Phone textfield {% endcomment %}
                        <div class="form-floating mt-2">
                            <input type="text" class="form-control" id="floatingInput2" placeholder="+1234567890" required />
                            <label for="floatingInput2">Phone</label>
                        </div>
                        <div class="form-text">Include + symbol. E.g., +14155552671.</div>
                        {% comment %} End: Phone textfield {% endcomment %}

                        <div class="form-check form-check-custom mt-4">
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>WhatsApp</label>
                            </div>
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        </div>
                        {% comment %} <div class="form-text">Select at least 1 option.</div> {% endcomment %}

                        <div class="form-check form-check-custom mt-2">
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>WeChat</label>
                            </div>
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        </div>
                        <div class="form-floating col-lg-4 mt-2 mb-6">
                            <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" required />
                            <label for="floatingInput1">WeChat ID</label>
                        </div>

                        {% comment %} Start: Comments textfield {% endcomment %}
                        <div class="form-floating mt-8">
                            <textarea class="form-control" data-kt-autosize="true" maxlength="100" placeholder="Comments" id="floatingTextarea2"></textarea>
                            <label for="floatingTextarea2">Comments</label>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>I'm a buyer</label>
                            </div>
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        </div>
                        <div class="form-check form-check-custom mt-2">
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>I can help sell on a commission basis</label>
                            </div>
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        </div>
                    </div>
                    {% comment %} End: Contact form {% endcomment %}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
{% comment %} End: Modal contact form {% endcomment %}
{% endif %}

