{% comment %} 

Render lead item and accompanying modal contact if applicable.

Parameters:
    lead, lead item to be rendered
{% endcomment %}

{% load static %}

{% comment %} Start: Lead item {% endcomment %}
<a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_2" class="card shadow-sm">
<div class="card shadow-sm">
    {% comment %} Start: Card header {% endcomment %}
    <div class="card-header">
        <div class="card-title align-items-start flex-column">
            {% comment %} Start: Avatar {% endcomment %}
            <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                    <img src="{% static 'common/metronic/demo1/dist/assets/media/avatars/300-14.jpg' %}" alt="" />
                </div>
                <div class="d-flex justify-content-start flex-column">
                    <div class="text-dark fw-bolder fs-6">Ana Simmons
                        {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen043.svg {% endcomment %}
                        <span class="svg-icon svg-icon-success svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Verified with phone number country code +1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                            <path d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z" fill="currentColor"/>
                            </svg>
                        </span>
                        {% comment %} End: SVG icon {% endcomment %}
                    </div>
                    <span class="text-muted fw-bold text-muted d-block fs-7">United States of America, USA</span>
                </div>
            </div>
            {% comment %} End: Avatar {% endcomment %}
        </div>
        <div class="card-toolbar">
            <span class="text-muted">2w ago</span>
        </div>
    </div>
    {% comment %} End: Card header {% endcomment %}

    {% comment %} Start: Card body {% endcomment %}
    <div class="card-body">
        <div class="text-dark">I am looking for agents to help me sell my products. I am looking for agents to help me sell my pro.</div>
        <div class="d-flex justify-content-between mt-2">
            <div>
                <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="User wants to buy, or needs help to source this product.">Buying / Help Me Source</span>
                <span class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="User wants to sell, or needs help to sell this product.">Selling / Help Me Sell</span>
                {% comment %} <span class="badge badge-light">Help Me Source</span> {% endcomment %}
                {% comment %} <span class="badge badge-light">Need Logistics</span> {% endcomment %}
            </div>
            {% comment %} Start: Badges {% endcomment %}
            <div>
                {% comment %} <span class="badge badge-dark">Contacted</span> {% endcomment %}
                <span class="badge badge-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="12 users contacted you on this lead.">12 Contacts</span>
            </div>
            {% comment %} End: Badges {% endcomment %}
        </div>
    </div>
    {% comment %} End: Card body {% endcomment %}

    {% comment %} Start: Card footer {% endcomment %}
    <div class="card-footer">
        <div class="col-lg-4 col-md-6">
            {% comment %} Start: Input group {% endcomment %}
            <div class="input-group">
                {% comment %} Start: Input {% endcomment %}
                <input id="kt_clipboard_1" type="text" class="form-control col-lg-2" placeholder="name@example.com" value="name@example.com" readonly />
                {% comment %} End: Input {% endcomment %}
    
                {% comment %} Start: Button {% endcomment %}
                <button class="btn btn-light-primary" data-clipboard-target="#kt_clipboard_1">Copy Link</button>
                {% comment %} End: Button {% endcomment %}
            </div>
            {% comment %} End: Input group {% endcomment %}
        </div>
    </div>
    {% comment %} End: Card footer {% endcomment %}
</div>
</a>
{% comment %} End: Lead item {% endcomment %}



{% comment %} TODO: don't need to render the contact modal if  {% endcomment %}




{% comment %} Start: Contact modal {% endcomment %}
<div class="modal bg-white fade" tabindex="-1" id="kt_modal_2">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content shadow-none">
            <div class="modal-header">
                <h5 class="modal-title">Contact</h5>

                {% comment %} Start: Close {% endcomment %}
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                {% comment %} End: Close {% endcomment %}
            </div>

            <div class="modal-body">
                <div class="container-xxl col-lg-6">
                    {% comment %} Start: Avatar and timestamp {% endcomment %}
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-45px me-5">
                                <img src="{% static 'common/metronic/demo1/dist/assets/media/avatars/300-14.jpg' %}" alt="" />
                            </div>
                            <div class="d-flex justify-content-start flex-column">
                                <div class="text-dark fw-bolder fs-6">Ana Simmons</div>
                                <span class="text-muted fw-bold text-muted d-block fs-7">United States of America, USA</span>
                            </div>
                        </div>
                        <div class="text-muted">
                            2w ago
                        </div>
                    </div>
                    {% comment %} End: Avatar and timestamp {% endcomment %}

                    {% comment %} Start: Lead body {% endcomment %}
                    <div class="mt-5">
                        <div class="text-dark">I am looking for agents to help me sell my products. I am looking for agents to help me sell my pro.</div>
                        <div class="mt-2">
                            <span class="badge badge-secondary">Buying / Help Me Source</span>
                            {% comment %} <span class="badge badge-light">Help Me Source</span> {% endcomment %}
                            {% comment %} <span class="badge badge-light">Need Logistics</span> {% endcomment %}
                        </div>
                    </div>
                    {% comment %} End: Lead body {% endcomment %}

                    {% comment %} Start: Contact form {% endcomment %}
                    <div class="mt-5">
                        {% comment %} Start: Email textfield {% endcomment %}
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" required />
                            <label for="floatingInput1">Email</label>
                        </div>
                        {% comment %} End: Email textfield {% endcomment %}
                        
                        {% comment %} Start: Phone textfield {% endcomment %}
                        <div class="form-floating mt-2">
                            <input type="text" class="form-control" id="floatingInput2" placeholder="+1234567890" required />
                            <label for="floatingInput2">Phone</label>
                        </div>
                        <div class="form-text">Include + symbol. E.g., +14155552671.</div>
                        {% comment %} End: Phone textfield {% endcomment %}



                        <div class="form-check form-check-custom mt-4">
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>WhatsApp</label>
                            </div>
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        </div>
                        {% comment %} <div class="form-text">Select at least 1 option.</div> {% endcomment %}



                        <div class="form-check form-check-custom mt-2">
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>WeChat</label>
                            </div>
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        </div>
                        <div class="form-floating col-lg-4 mt-2 mb-6">
                            <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" required />
                            <label for="floatingInput1">WeChat ID</label>
                        </div>

                        {% comment %} <div class="form-check form-check-custom mt-2"> {% endcomment %}
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            {% comment %} <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>Telegram</label>
                            </div> {% endcomment %}
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        {% comment %} </div>
                        <div class="col-4 mt-2 mb-6">
                            <label class="form-label">Telegram Username</label>
                            <input class="form-control" type="text" />
                        </div> {% endcomment %}
                        {% comment %} <div class="form-check form-check-custom mt-2"> {% endcomment %}
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            {% comment %} <div class="me-3"> {% endcomment %}
                                {% comment %} <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/> {% endcomment %}
                                {% comment %} <label>LINE</label> {% endcomment %}
                            {% comment %} </div> {% endcomment %}
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                        {% comment %} <div class="col-4 mt-2 mb-6"> {% endcomment %}
                            {% comment %} <label class="form-label">LINE ID</label> {% endcomment %}
                            {% comment %} <input class="form-control" type="text" /> {% endcomment %}
                        {% comment %} </div> {% endcomment %}




                        {% comment %} <div class="form-check form-check-custom mt-2"> {% endcomment %}
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            {% comment %} <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>Viber</label>
                            </div> {% endcomment %}
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        {% comment %} </div> {% endcomment %}


                        {% comment %} <div class="form-check form-check-custom mt-2"> {% endcomment %}
                            {% comment %} Start: Other radio {% endcomment %}
                            {% comment %} <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>Other (Specify in Comments)</label>
                            </div> {% endcomment %}
                            {% comment %} End: Other radio {% endcomment %}
                        {% comment %} </div> {% endcomment %}




                        {% comment %} Start: Comments textfield {% endcomment %}
                        <div class="form-floating mt-8">
                            <textarea class="form-control" data-kt-autosize="true" maxlength="100" placeholder="Comments" id="floatingTextarea2"></textarea>
                            <label for="floatingTextarea2">Comments</label>
                        </div>

                        <div class="form-check form-check-custom mt-2">
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>I'm a buyer</label>
                            </div>
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        </div>
                        <div class="form-check form-check-custom mt-2">
                            {% comment %} Start: WhatsApp radio {% endcomment %}
                            <div class="me-3">
                                <input class="form-check-input me-2" type="checkbox" name="chatapp" value=""/>
                                <label>I can help sell on a commission basis</label>
                            </div>
                            {% comment %} End: WhatsApp radio {% endcomment %}
                        </div>

                        {% comment %} End: Comments textfield {% endcomment %}
                        {% comment %} <div class="d-flex justify-content-end">
                            <div id="comments_char_count" class="form-text">0/100</div>
                        </div> {% endcomment %}

                        {% comment %} Start: Purposes {% endcomment %}
                        {% comment %} <div class="mt-4"> {% endcomment %}
                            {% comment %} <label class="form-check form-check-custom">
                                <input class="form-check-input" type="checkbox" value=""/>
                                <span class="form-check-label">
                                    Buyer
                                </span>
                            </label>
                             {% endcomment %}
                            {% comment %} Start: Can help to sell checkbox {% endcomment %}
                            {% comment %} <label class="form-check form-check-custom mt-2">
                                <input class="form-check-input" type="checkbox"/>
                                <span class="form-check-label">Can Help to Sell {% endcomment %}
                                    {% comment %} Start: SVG icon | path: assets/media/icons/duotune/general/gen044.svg {% endcomment %}
                                    {% comment %} <span class="svg-icon svg-icon-info svg-icon-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="No sending of goods before payment">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                            <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"/>
                                            <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"/>
                                        </svg>
                                    </span> {% endcomment %}
                                    {% comment %} End: SVG icon {% endcomment %}
                                {% comment %} </span>
                            </label> {% endcomment %}
                            {% comment %} End: Can help to sell checkbox {% endcomment %}

                            {% comment %} Start: Logistics checkbox {% endcomment %}
                            {% comment %} <label class="form-check form-check-custom mt-2">
                                <input class="form-check-input" type="checkbox" value=""/>
                                <span class="form-check-label">
                                    Logistics
                                </span>
                            </label> {% endcomment %}
                            {% comment %} End: Logistics checkbox {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                        {% comment %} End: Purposes {% endcomment %}
                    </div>
                    {% comment %} End: Contact form {% endcomment %}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
{% comment %} End: Modal contact form {% endcomment %}