{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Register</title>

    {% comment %} Stylesheets {% endcomment %}
    <link href="{% static 'common/superio/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'common/superio/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'common/superio/css/responsive.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'common/superio/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'common/superio/images/favicon.png' %}" type="image/x-icon">

    {% comment %} Responsive {% endcomment %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'common/superio/js/respond.js' %}"></script><![endif]-->
</head>

<body>
    {% comment %} start: Page wrapper {% endcomment %}
    <div class="page-wrapper">

        {% comment %} Preloader {% endcomment %}
        {% comment %} <div class="preloader"></div> {% endcomment %}

        {% comment %} start: Main header {% endcomment %}
        <header class="main-header">
            <div class="container-fluid">
                <div class="main-box">
                    <div class="nav-outer">
                        <div class="logo-box">
                            <div class="logo"><a href="/"><img src="{% static 'common/img/logo.png' %}" alt="Everybase" title="Everybase"></a></div>
                        </div>
                    </div>

                    <div class="outer-box">
                        <div class="btn-box">
                            <a href="{% url 'sign_in' %}{% if next != None %}?next={{ next }}{% elif form.next.value != None %}?next={{ form.next.value }}{% endif %}" class="theme-btn btn-style-three">Login</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mobile-header">
                <div class="logo"><a href="/"><img src="{% static 'common/img/logo.png' %}" style="width: 152px; height: 21px;" alt="Everybase" title="Everybase"></a></div>
                <div class="nav-outer clearfix">
                    <div class="outer-box">
                        <div class="login-box">
                            <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>
                        </div>
                        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
                    </div>
                </div>
            </div>

            <div id="nav-mobile"></div>
        </header>
        {% comment %} end: Main header {% endcomment %}

        {% comment %} start: Info section {% endcomment %}
        <div class="login-section">
            <div class="image-layer" style="background-image: url({% static 'common/superio/images/background/12.jpg' %});"></div>
            <div class="outer-box">
                <div class="login-form default-form">
                    <div class="form-inner">
                        <h3>Register</h3>
                        <form action="{% url 'sign_up' %}" method="post">
                            {% if next != None %}
                                <input type="hidden" name="next" value="{{ next }}">
                            {% elif form.next.value != None %}
                                <input type="hidden" name="next" value="{{ form.next.value }}">
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email"{% if form.email.value != None %} value="{{ form.email.value }}"{% endif %} required>
                                {% if form.email.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.email.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" required>
                                {% if form.password.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.password.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" name="phone_number"{% if form.phone_number.value != None %} value="{{ form.phone_number.value }}"{% endif %} required>
                                {% if form.phone_number.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.phone_number.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                                <div style="margin-left:20px; margin-top:10px">Please include + symbol. E.g., +14155552671.</div>
                            </div>

                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="first_name"{% if form.first_name.value != None %} value="{{ form.first_name.value }}"{% endif %} required>
                                {% if form.first_name.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.first_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" name="last_name"{% if form.last_name.value != None %} value="{{ form.last_name.value }}"{% endif %} required>
                                {% if form.last_name.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.last_name.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <label>Country</label>
                                <select name="country" class="chosen-select">
                                    <option>Select a Country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.programmatic_key }}"{% if form.country.value == country.programmatic_key %} selected{% endif %}>{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.country.errors %}<div style="color:red; margin-left:20px; margin-top:10px">{% for error in form.country.errors %}{{ error|escape }}{% if not forloop.last %} {% endif %}{% endfor %}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <button class="theme-btn btn-style-one" type="submit" name="Register">Register</button>
                            </div>
                        </form>

                        <div class="bottom-box">
                            <div class="text">Have an account? <a href="{% url 'sign_in' %}{% if next != None %}?next={{ next }}{% elif form.next.value != None %}?next={{ form.next.value }}{% endif %}">Login</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} end: Info section {% endcomment %}
    </div>
    {% comment %} End: Page wrapper {% endcomment %}

    <script src="{% static 'common/superio/js/jquery.js' %}"></script>
    <script src="{% static 'common/superio/js/popper.min.js' %}"></script>
    <script src="{% static 'common/superio/js/chosen.min.js' %}"></script>
    <script src="{% static 'common/superio/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'common/superio/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'common/superio/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'common/superio/js/jquery.modal.min.js' %}"></script>
    <script src="{% static 'common/superio/js/mmenu.polyfills.js' %}"></script>
    <script src="{% static 'common/superio/js/mmenu.js' %}"></script>
    <script src="{% static 'common/superio/js/appear.js' %}"></script>
    <script src="{% static 'common/superio/js/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'common/superio/js/rellax.min.js' %}"></script>
    <script src="{% static 'common/superio/js/owl.js' %}"></script>
    <script src="{% static 'common/superio/js/wow.js' %}"></script>
    <script src="{% static 'common/superio/js/script.js' %}"></script>
</body>

</html>