<div class="model">
    <div id="login-modal">
        <div class="login-form default-form">
            <div class="form-inner">
                <h3>Login</h3>
                    <form method="post" action="add-parcel.html">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="Username" required>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input id="password-field" type="password" name="password" value="" placeholder="Password">
                    </div>

                    {% comment %} <div class="form-group">
                        <div class="field-outer">
                        <a href="#" class="pwd">Forgot password?</a>
                        </div>
                    </div> {% endcomment %}

                    <div class="form-group">
                        <button class="theme-btn btn-style-one" type="submit">Login</button>
                    </div>
                </form>

                <div class="bottom-box">
                    <div class="text">Don't have an account? <a href="{% url 'signup' %}" class="call-modal signup">Sign up</a></div>
                </div>
            </div>
        </div>
    </div>
    {% comment %}
        // Open modal in AJAX callback
        jQuery('.call-modal.signup').on('click', function(event) {
            event.preventDefault();
            this.blur();
            jQuery.get(this.href, function(html) {
                jQuery(html).appendTo('body').modal({
                    fadeDuration: 300,
                    fadeDelay: 0.15
                });
            });
        });
    {% endcomment %}
    <script type="text/javascript">jQuery(".call-modal.signup").on("click",(function(e){e.preventDefault(),this.blur(),jQuery.get(this.href,(function(e){jQuery(e).appendTo("body").modal({fadeDuration:300,fadeDelay:.15})}))}));</script>
</div>