{% load static %}

<!doctype html>
<html lang="en">

    <head>
        {% include 'partials/_analytics/gtm_head.html' %}
        {% include 'partials/_favicon.html' %}
        {% include 'partials/_third_party/zendesk_chat.html' %}

        <meta charset="utf-8">
        <title>Everybase</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'lander/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'lander/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'lander/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'lander/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet" />

    </head>
    <body data-smooth-scroll-offset="77">
        <div class="nav-container"> </div>
        <div class="main-container">
            <section class="imageblock switchable height-100">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder"> <img alt="image" src="{% static 'lander/img/containers.jpg' %}"> </div>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h1>Buy and Sell Ex-Stock Goods</h1>
                            <p class="lead">Covid-19 Update: We are focusing on IPA and ethanol for now. For other goods, let us know and we'd get back to you.</p>
                            <a class="btn btn--primary type--uppercase" href="https://airtable.com/shrqJXjik5wxQCRLj">
                                <span class="btn__text">Buy Ex-Stock IPA or Ethanol</span>
                            </a>
                            <br>
                            <br>
                            <a class="btn btn--primary type--uppercase" href="https://airtable.com/shrre886e0dBgCHFV">
                                <span class="btn__text">Sell Ex-Stock IPA or Ethanol</span>
                            </a>
                            <br>
                            <br>
                            <a class="btn btn--primary type--uppercase" href="https://airtable.com/shr713iwbROLZzKHe">
                                <span class="btn__text">Other Goods</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="switchable bg--dark">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-8 col-lg-7">
                            <h2>About Us</h2>
                            <p class="lead">We match buyers and sellers of ex-stock products. Due to the Covid-19 crisis,
                            we are focusing on IPA and ethanol for now. Sign-up to begin <a href="https://airtable.com/shrqJXjik5wxQCRLj">buying</a>
                            and <a href="https://airtable.com/shrre886e0dBgCHFV">selling</a> ex-stock IPA and ethanol. For 
                            <a href="https://airtable.com/shr713iwbROLZzKHe">other goods</a>, let us know
                            and we'd get back to you.</p>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="text-block">
                                <h5>Phone, WhatsApp, WeChat</h5>
                                <p> (+65) 88 933 466</p>
                            </div>
                            <div class="text-block">
                                <h5>Email</h5>
                                <p>friend@everybase.co</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="{% static 'lander/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'lander/js/parallax.js' %}"></script>
        <script src="{% static 'lander/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'lander/js/scripts.js' %}"></script>

    </body>

</html>