<!-- begin: Head -->
<div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
	<div class="kt-user-card__name">
		Kevin Ng
	</div>
</div>
<!-- end: Head -->

<!-- begin: Navigation -->
<div class="kt-notification">
	<a href="custom/apps/user/profile-1/personal-information.html" class="kt-notification__item">
		<div class="kt-notification__item-icon">
			<i class="flaticon2-calendar-3 kt-font-success"></i>
		</div>
		<div class="kt-notification__item-details">
			<div class="kt-notification__item-title kt-font-bold">
				My Profile
			</div>
		</div>
	</a>
	<div class="kt-notification__custom">
		<a href="{% url 'logout' %}" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
	</div>
</div>
<!--end: Navigation -->