{% load static %}

<div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
	<div class="kt-user-card__avatar">
		<img class="kt-hidden-" alt="Pic" src="{% static 'common/assets/media/users/300_25.jpg' %}" />

		<!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
		<span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
	</div>
	<div class="kt-user-card__name">
		Uzumaki Naruto
	</div>
	<div>
		<!-- Do not show organization if user does not have an organization set up -->
		Kiyoko Chemicals
	</div>
</div>

<div class="kt-notification">
	<a href="custom/apps/user/profile-1/personal-information.html" class="kt-notification__item">
		<div class="kt-notification__item-icon">
			<i class="flaticon2-calendar-3 kt-font-primary"></i>
		</div>
		<div class="kt-notification__item-details">
			<div class="kt-notification__item-title kt-font-bold">
				Profile
			</div>
		</div>
	</a>

	<a href="custom/apps/user/profile-2.html" class="kt-notification__item">
		<div class="kt-notification__item-icon">
			<i class="flaticon2-rocket-1 kt-font-primary"></i>
		</div>
		<div class="kt-notification__item-details">
			<div class="kt-notification__item-title kt-font-bold">
				<!-- Organizations -->Create Organization
			</div>
		</div>
	</a>

	<div class="kt-notification__custom kt-space-between">
		<a href="{% url 'logout' %}" target="_blank" class="btn btn-label btn-label-primary btn-sm btn-bold">Sign Out</a>
		<a href="custom/user/login-v2.html" target="_blank" class="btn btn-clean btn-sm btn-bold">Switch Organization</a>
	</div>
</div>