<p>Enquiry Id: {{ products_interest_list.id }}<p>

<p>Thank you for enquiring about the following goods:</p>

<ul>
{% if products_interest_list %}
    {% for product in products_interest_list.products.all %}
        <li>{{ product.full_name }}, {{ product.quantity }} {{ product.uom.acronym }}, Id: {{ product.id }}</li>
    {% endfor %}
{% endif %}
</ul>

<p>Direct your questions to us by replying to this email.</p>

<p>We will get back to you as soon as possible.</p>

<p>- Everybase Support and {{ products_interest_list.products_list.agent.first_name }} {{ products_interest_list.products_list.agent.last_name }}</p>