{% extends 'extendables/base.html' %}

{% block title %}
    Edit Contact
{% endblock %}

{% block subtitle %}
    Edit Contact
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-warning">Cancel</a>
    <button type="submit" href="#" class="btn btn-success">Apply Changes</button>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Organization</label>
                        <select class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            <option value="AF">BASF Chemicals</option>
                            <option value="AX">MSDS</option>
                            <option value="AL">TDS</option>
                        </select>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" value="kevin.ng@kiyoko.jp" />
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Contact Name</label>
                        <input type="text" class="form-control" value="Quality Assurance" />
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label>Allowed Email Templates</label>
                        <select class="form-control kt-select2" id="kt_select2_3" name="param" multiple="multiple">
                            <option value="AK" selected>COA/SDS on Delivery</option>
                            <option value="HI">TDS</option>
                        </select>
                        <span class="form-text text-muted">This contact may only receive messages from allowed email templates</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}