{% extends 'extendables/base.html' %}

{% block title %}
    Message
{% endblock %}

{% block subtitle %}
    Message
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-outline-secondary"><i class="flaticon2-left-arrow-1"></i>Inbox</a>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Organizaton Name</label>
                        <h5>Thomsom Chemicals Corp</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Sender Name</label>
                        <h5>Warehouse</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Sender Email</label>
                        <h5>1234567890</h5>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label>The documents in this message corresponds to</label>
                        <div class="kt-margin-10"></div>
                        <div>
                            <label class="kt-label-font-color-4 kt-font-bolder">DO Number:</label>&nbsp;&nbsp;&nbsp;
                            <span class="kt-label-font-color-3">1234567890</span>
                        </div>
                        <div>
                            <label class="kt-label-font-color-4 kt-font-bolder">DO Number:</label>&nbsp;&nbsp;&nbsp;
                            <span class="kt-label-font-color-3">1234567890</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__body">
                                <div class="kt-widget__item">
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Material Number</span>
                                        <span class="kt-widget__data">01234567890</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Batch Number</span>
                                        <span class="kt-widget__data">01234567890</span>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget__footer">
                                <i class="flaticon2-file-1"></i> <a href="#" target="_blank">Certificate of Analysis (COA)</a><br />
                                <i class="flaticon2-file-1"></i> <a href="#" target="_blank">Safety Datasheet (SDS)</a>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--mobile kt-portlet--height-fluid">
                    <div class="kt-portlet__body">

                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--mobile kt-portlet--height-fluid">
                    <div class="kt-portlet__body">

                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--mobile kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
    
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--mobile kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
    
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--mobile kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
    
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3">
                <div class="kt-portlet kt-portlet--mobile kt-portlet--height-fluid">
                    <div class="kt-portlet__body">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}