{% extends 'extendables/base.html' %}

{% block title %}
    Delete Colleague?
{% endblock %}

{% block subtitle %}
    Delete Colleague?
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-warning">No, Cancel</a>
    <a href="#" class="btn btn-danger">Yes, Delete Colleague</a>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Email</label>
                        <h5>uzumaki.naruto@konoha-corp.jp</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}