{% extends 'extendables/base.html' %}

{% block title %}
    Colleague
{% endblock %}

{% block subtitle %}
    Colleague
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-outline-secondary"><i class="flaticon2-left-arrow-1"></i>Colleagues</a>
    <div class="dropdown dropdown-inline">
        <button type="button" class="btn btn-label-primary btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flaticon-more-1"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"><i class="la la-trash"></i>Delete</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Email</label>
                        <h5>uzumaki.naruto@konoha-corp.jp</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}