{% extends 'extendables/base.html' %}

{% load static %}

{% block title %}
    Create Document
{% endblock %}

{% block subtitle %}
    Create Document
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-warning">Cancel</a>
    <button type="submit" href="#" class="btn btn-success">Create Document</button>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Document Type</label>
                        <select id="document_create__document_type" class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            {% for choice in form.document_type %}
                                {{ choice }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Material Name</label>
                        <select id="document_create__material_name" class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            {% for material in materials %}
                                <option value="{{ material.id }}">{{ material.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Material Code</label>
                        <select id="document_create__material_code" class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            {% for material in materials %}
                                <option value="{{ material.id }}">{{ material.code }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <span id='document_create__batch_code' class="kt-hidden">
                    <div class="kt-separator kt-separator--portlet-fit"></div>
                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <label>Batch Code</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 form-group">
                        <label>Document File</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose document file</label>
                        </div>
                        <span class="form-text text-muted">Don't worry if the filepath begins with 'C:\fakepath'. This is a browser security feature.</span>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_level_scripts %}
    <script src="{% static 'common/assets/js/pages/crud/forms/widgets/select2.js' %}" type="text/javascript"></script>
    <script type="text/javascript">

        // Initialize select picker
		var document_create__selectpicker = function () {
			var init_selectpicker = function () {
				$('.kt-selectpicker').selectpicker();
			}

			return {
				run: function () {
					init_selectpicker(); 
				}
			};
		}();

        // Hide/show batch code field
        var document_create__hide_show_batch_code = function () {

            var document_types = [
                {% for document_type in document_types %}
                    {
                        id: '{{ document_type.id }}',
                        name: '{{ document_type.name }}',
                        acronym: '{{ document_type.acronym }}',
                        level: '{{ document_type.level }}'
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            var hide_show = function () {
                var selected_dt_id = $('#document_create__document_type')
                    .children("option:selected")
                    .val();
                var dt = document_types.filter(t => t['id'] == selected_dt_id)[0];
                var element = $('#document_create__batch_code');
                if (dt.level == 'batch') {
                    element.removeClass('kt-hidden');
                } else if (dt.level == 'material') {
                    element.addClass('kt-hidden');
                }
            }

            var hide_show_on_change = function () {
                $('#document_create__document_type').change(function () {
                    hide_show();
                });
            }

            return {
                run: function () {
                    hide_show();
                },
                run_on_change: function () {
                    hide_show_on_change();
                }
            }
        }();

        // Select the right material code on selected material name, vice versa
        var document_create__select_material = function () {
            
            var materials = [
                {% for material in materials %}
                    {
                        id: '{{ material.id }}',
                        name: '{{ material.name }}',
                        code: '{{ material.code }}'
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            // We're triggering change on 'code' when 'name' changes and vice
            // versa. This variable prevents both elements from calling each
            // other in an infinite loop.
            var stop = false;

            var select_code = function () {
                if (stop == true) { 
                    stop = false;
                    return;
                }

                var selected_m_id = $('#document_create__material_name')
                    .children("option:selected")
                    .val();
                var m = materials.filter(m => m['id'] == selected_m_id)[0];
                $('#document_create__material_code').val(m.id);
                stop = true
                $('#document_create__material_code').trigger('change');
            }

            var select_name = function () {
                if (stop == true) { 
                    stop = false;
                    return;
                }

                var selected_m_id = $('#document_create__material_code')
                    .children("option:selected")
                    .val();
                var m = materials.filter(m => m['id'] == selected_m_id)[0];
                $('#document_create__material_name').val(m.id);
                stop = true
                $('#document_create__material_name').trigger('change');
            }

            var select_on_change = function () {
                $('#document_create__material_name').change(function () {
                    select_code();
                });

                $('#document_create__material_code').change(function () {
                    select_name();
                });
            }

            return {
                run: function () {
                    select_code();
                    stop = false;
                },
                run_on_change: function () {
                    select_on_change();
                }
            }
        }();

        // Call all functions on document ready
        jQuery(document).ready(function () {
			document_create__selectpicker.run();
            document_create__hide_show_batch_code.run(); // Run once on load
            document_create__hide_show_batch_code.run_on_change();
            document_create__select_material.run();
            document_create__select_material.run_on_change();
		});
    </script>
{% endblock %}