{% extends 'extendables/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}
    Create Document
{% endblock %}

{% block content_header %}
    <form method="post" action="{% url 'documents:create' %}">
        {% csrf_token %}
{% endblock %}

{% block subtitle %}
    Create Document
{% endblock %}

{% block toolbar %}
    <a href="{% url 'documents:list' %}" class="btn btn-warning">Cancel</a>
    <button id="document_create__create_document_button" type="submit" href="#" class="btn btn-success">Create Document</button>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Document Type</label>
                        {{ form.document_type|add_class:"form-control"|add_class:"kt-selectpicker"|add_error_class:"is-invalid"|attr:"id:document_create__document_type"|attr:"data-size:7"|attr:"data-live-search:true" }}
                        {% if form.document_type.errors %}
                            <div class="invalid-feedback">{% for error in form.document_type.errors %}{{ error }} {% endfor %}</div>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Material Name</label>
                        <select id="document_create__material_name" class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            {% for material in materials %}
                                <option value="{{ material.id }}">{{ material.name }}</option>
                            {% endfor %}
                        </select>
                        {% if form.material.errors %}
                            <div class="invalid-feedback">{% for error in form.material.errors %}{{ error }} {% endfor %}</div>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Material Code</label>
                        <select id="document_create__material_code" class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            {% for material in materials %}
                                <option value="{{ material.id }}">{{ material.code }}</option>
                            {% endfor %}
                        </select>
                        {% if form.material.errors %}
                            <div class="invalid-feedback">{% for error in form.material.errors %}{{ error }} {% endfor %}</div>
                        {% endif %}
                    </div>
                </div>
                <span id='document_create__batch_code' class="kt-hidden">
                    <div class="kt-separator kt-separator--portlet-fit"></div>
                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <label class="form-control-label" for="document_create__batch_code_input">Batch Code</label>
                            {{ form.batch_code|add_class:"form-control"|add_error_class:"is-invalid"|attr:"id:document_create__batch_code_input" }}
                            {% if form.batch_code.errors %}
                                <div class="invalid-feedback">{% for error in form.batch_code.errors %}{{ error }} {% endfor %}</div>
                            {% endif %}
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <div id="document_create__file_input_portlet" class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 form-group">
                        <label>Document File</label>
                        <div class="custom-file">
                            <input id="document_create__document_file_input" type="file" class="custom-file-input{% if form.temp_file_id.errors %} is-invalid{% endif %}">
                            <label for="document_create__document_file_input" class="custom-file-label">Choose document PDF file</label>
                            {% if form.temp_file_id.errors %}
                                <div class="invalid-feedback">Please select a PDF file for this document.</div>
                            {% endif %}
                            <div id="document_create__document_file_input_error_pdf_only" class="invalid-feedback kt-hidden">Only PDF file supported.</div>
                            <div id="document_create__document_file_input_error_cannot_upload" class="invalid-feedback kt-hidden">Unable to upload file. Please try again.</div>
                        </div>
                        <span class="form-text text-muted">Don't worry if the filepath begins with 'C:\fakepath'. This is a browser security feature.</span>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>

        <div id="document_create__document_file"></div>

        {{ form.temp_file_id|attr:"id:document_create__temp_file_id" }}
        {{ form.material_id|attr:"id:document_create__material_id" }}
    </div>
{% endblock %}

{% block content_footer %}
    </form>
{% endblock %}

{% block page_level_scripts %}
    <script src="{% static 'common/assets/js/pages/crud/forms/widgets/select2.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/assets/plugins/pdfobject/pdfobject.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">

        // Initialize select picker
		var document_create__selectpicker = function () {
			var init_selectpicker = function () {
				$('.kt-selectpicker').selectpicker();
			}

			return {
				run: function () {
					init_selectpicker(); 
				}
			};
		}();

        // Hide/show batch code field
        var document_create__hide_show_batch_code = function () {

            var document_types = [
                {% for document_type in document_types %}
                    {
                        id: '{{ document_type.id }}',
                        name: '{{ document_type.name }}',
                        acronym: '{{ document_type.acronym }}',
                        level: '{{ document_type.level }}'
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            var hide_show = function () {
                var selected_dt_id = $('#document_create__document_type')
                    .children("option:selected")
                    .val();

                var dt = document_types.filter(t => t['id'] == selected_dt_id)[0];
                if (dt === undefined) {
                    return;
                }

                var element = $('#document_create__batch_code');
                if (dt.level == 'batch') {
                    element.removeClass('kt-hidden');
                } else if (dt.level == 'material') {
                    element.addClass('kt-hidden');
                }
            }

            var hide_show_on_change = function () {
                $('#document_create__document_type').change(function () {
                    hide_show();
                });
            }

            return {
                run: function () {
                    hide_show();
                },
                run_on_change: function () {
                    hide_show_on_change();
                }
            }
        }();

        // Select the right material code on selected material name, vice versa
        var document_create__select_material = function () {
            
            var materials = [
                {% for material in materials %}
                    {
                        id: '{{ material.id }}',
                        name: '{{ material.name }}',
                        code: '{{ material.code }}'
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            // We're triggering change on 'code' when 'name' changes and vice
            // versa. This variable prevents both elements from calling each
            // other in an infinite loop.
            var stop = false;

            var select_code = function () {
                if (stop == true) { 
                    stop = false;
                    return;
                }

                var selected_m_id = $('#document_create__material_name')
                    .children("option:selected")
                    .val();
                var m = materials.filter(m => m['id'] == selected_m_id)[0];
                if (m === undefined) {
                    return;
                }

                $('#document_create__material_code').val(m.id);
                $('#document_create__material_id').val(m.id);
                stop = true
                $('#document_create__material_code').trigger('change');
            }

            var select_name = function () {
                if (stop == true) { 
                    stop = false;
                    return;
                }

                var selected_m_id = $('#document_create__material_code')
                    .children("option:selected")
                    .val();
                var m = materials.filter(m => m['id'] == selected_m_id)[0];
                if (m === undefined) {
                    return;
                }

                $('#document_create__material_name').val(m.id);
                $('#document_create__material_id').val(m.id);
                stop = true
                $('#document_create__material_name').trigger('change');
            }

            var select_on_change = function () {
                $('#document_create__material_name').change(function () {
                    select_code();
                });

                $('#document_create__material_code').change(function () {
                    select_name();
                });
            }

            return {
                run: function () {
                    select_code();
                    stop = false;
                },
                run_on_change: function () {
                    select_on_change();
                }
            }
        }();

        // When the user selects a file, request for an AWS pre-signed URL to
        // upload a file, upload the file, and preview it on this page.
        var document_create__upload_file = function () {

            var set_file_field = function (temp_file_id) {
                $('#document_create__temp_file_id').val(temp_file_id);
            }

            var render_file = function (url) {
                var options = {
                    height: "1200px"
                };
                PDFObject.embed(url, "#document_create__document_file", options);
            }

            var read_file_presigned_url = function (temp_file_id) {
                $.ajax({
                    type: 'POST',
                    headers: { "X-CSRFToken": '{{ csrf_token }}' },
                    url: '{% url 'documents:read_temp_file' %}',
                    data: {'temp_file_id': temp_file_id},
                    dataType: 'json',
                    success: function (response) {
                        render_file(response.url);
                        set_file_field(temp_file_id);
                    }
                });
            }

            var trigger_once = function () {
                var temp_file_id = $('#document_create__temp_file_id').val()
                if (temp_file_id) {
                    read_file_presigned_url(temp_file_id);
                }
            }

            var upload_file = function (temp_file, file) {
                var res = temp_file.presigned_url_response;
                var post_data = new FormData();
                for (key in res.fields) {
                    post_data.append(key, res.fields[key]);
                }
                post_data.append('file', file);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', res.url);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200 || xhr.status === 204) {
                            // Hide error messages - if any
                            $('#document_create__document_file_input').removeClass('is-invalid');
                            $('#document_create__document_file_input_error_pdf_only').addClass('kt-hidden');
                            $('#document_create__document_file_input_error_cannot_upload').addClass('kt-hidden');

                            read_file_presigned_url(temp_file.id)
                        } else {
                            // Show error messages
                            $('#document_create__document_file_input').addClass('is-invalid');
                            $('#document_create__document_file_input_error_cannot_upload').removeClass('kt-hidden');
                        }

                        // Unlock portlet
                        KTApp.unblock('#document_create__file_input_portlet');

                        // Enable button
                        $('#document_create__create_document_button')
                            .attr("disabled", false);
                    }
                };

                // Block portlet
                KTApp.block('#document_create__file_input_portlet', {
                    type: 'v2',
                    state: 'primary',
                    message: 'Uploading...'
                });

                // Disable submit button
                $('#document_create__create_document_button')
                    .attr("disabled", true);

                xhr.send(post_data);
            }

            var get_create_file_presigned_url = function (file) {

                $.ajax({
                    type: 'POST',
                    headers: { "X-CSRFToken": '{{ csrf_token }}' },
                    url: '{% url 'documents:temp_file' %}',
                    data: {
                        'filetype': file.type
                    },
                    dataType: 'json',
                    success: function (temp_file) {
                        upload_file(temp_file, file);
                    }
                });
            }

            var trigger_on_change = function () {
                var file_input = $('#document_create__document_file_input')
                file_input.change(function () {
                    var file = file_input.prop('files')[0];

                    if (file.type != 'application/pdf') {
                        $('#document_create__document_file_input').addClass('is-invalid');
                        $('#document_create__document_file_input_error_pdf_only').removeClass('kt-hidden');
                        return;
                    } else {
                        $('#document_create__document_file_input').removeClass('is-invalid');
                        $('#document_create__document_file_input_error_pdf_only').addClass('kt-hidden');
                    }

                    get_create_file_presigned_url(file);
                });
            }

            return {
                run: function () {
                    trigger_once();
                },
                run_on_change: function () {
                    trigger_on_change();
                }
            }
        }();

        // Call all functions on document ready
        jQuery(document).ready(function () {
			document_create__selectpicker.run();
            document_create__hide_show_batch_code.run(); // Run once on load
            document_create__hide_show_batch_code.run_on_change();
            document_create__select_material.run();
            document_create__select_material.run_on_change();
            document_create__upload_file.run();
            document_create__upload_file.run_on_change();
		});
    </script>
{% endblock %}