{% extends 'extendables/base.html' %}

{% block title %}
    Edit Document
{% endblock %}

{% block subtitle %}
    Edit Document
{% endblock %}

{% block toolbar %}
    <a href="#" class="btn btn-warning">Cancel</a>
    <button type="submit" href="#" class="btn btn-success">Apply Changes</button>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Document Type</label>
                        <select class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            <option value="AF">Certificate of Analysis (COA)</option>
                            <option value="AX">Safety Datasheet (SDS)</option>
                            <option value="AL">Technical Datasheet (TDS)</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Material Name</label>
                        <select class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            <option value="AF">Sodium Hydroxide Caustic Soda 99% NAOH</option>
                            <option value="AF">Sodium Hydroxide Caustic Soda 99% NAOH</option>
                            <option value="AF">Sodium Hydroxide Caustic Soda 99% NAOH</option>
                        </select>
                        <div class="kt-margin-t-10" style="float: right;">
                            <a href="#" data-toggle="modal" data-target="#document_save__create_new_material">Create New Material</a>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Material Number</label>
                        <select class="form-control kt-selectpicker" data-size="7" data-live-search="true">
                            <option value="AF">1234567890</option>
                            <option value="AF">1234567890</option>
                            <option value="AF">1234567890</option>
                        </select>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Batch Number</label>
                        <input type="text" class="form-control" value="123457890" />
                    </div>
                </div>
            </div>
        </div>
        <div id="document-pdf"></div>
    </div>
{% endblock %}