{% extends 'extendables/base.html' %}

{% load static %}

{% block title %}
    Document Details - {{ document.material.name }}{% if document.batch %} , Batch: {{ document.batch.code }}{% endif %}
{% endblock %}

{% block subtitle %}
    Document
{% endblock %}

{% block toolbar %}
    <!-- this line is for messages -->
    <!-- <a href="#" class="btn btn-outline-secondary"><i class="flaticon2-left-arrow-1"></i>Messages</a> -->
    <!-- <a href="#" class="btn btn-primary"><i class="flaticon-interface-3"></i>Save</a> -->

    <a href="{% url 'documents:list' %}" class="btn btn-outline-secondary"><i class="flaticon2-left-arrow-1"></i>Documents</a>
    <div class="dropdown dropdown-inline">
        <button type="button" class="btn btn-label-primary btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flaticon-more-1"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'documents:edit' document.id %}"><i class="la la-pencil-square"></i>Edit</a>
            <a class="dropdown-item" href="{% url 'documents:delete' document.id %}"><i class="la la-trash"></i>Delete</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <label>Document Type</label>
                        <h5>{{ document.document_type }}</h5>
                    </div>
                    <div class="col-lg-5 form-group">
                        <label>Material Name</label>
                        <h5>{{ document.material.name }}</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Material Code</label>
                        <h5>{{ document.material.code }}</h5>
                    </div>
                </div>
                <div class="kt-separator kt-separator--portlet-fit"></div>
                <div class="row">
                    {% if document.batch %}
                        <div class="col-lg-3 form-group">
                            <label>Batch Code</label>
                            <h5>{{ document.batch.code }}</h5>
                        </div>
                    {% endif %}
                    <div class="col-lg-3 form-group">
                        <label>Created</label>
                        <h5>{{ document.created }}</h5>
                    </div>
                </div>
            </div>
        </div>

        <input id='document__file_id' type='hidden' value='{{ file.id }}'>
        <div id="document__document_file"></div>
    </div>
{% endblock %}

{% block page_level_scripts %}
<script src="{% static 'common/assets/plugins/pdfobject/pdfobject.min.js' %}" type="text/javascript"></script>
{% include 'documents/js/document.js' %}
{% endblock %}