{% comment %} To promoting/selling {% endcomment %}

{% if contact.to_selling_as_sales_agent is True %}
    {% include 'leads/includes/badges/leads/sales_agent.html' %}
{% endif %}

{% if contact.to_selling_as_sourcing_goods is True %}
    {% include 'leads/includes/badges/leads/sourcing_goods.html' %}
{% endif %}

{% if contact.to_selling_as_other is True %}
    {% include 'leads/includes/badges/leads/other.html' %}
{% endif %}

{% comment %} To sourcing/buying {% endcomment %}

{% if contact.to_buying_as_sourcing_agent is True %}
    {% include 'leads/includes/badges/leads/sourcing_agent.html' %}
{% endif %}

{% if contact.to_buying_as_promoting_goods is True %}
    {% include 'leads/includes/badges/leads/promoting_goods.html' %}
{% endif %}

{% if contact.to_buying_as_other is True %}
    {% include 'leads/includes/badges/leads/other.html' %}
{% endif %}

{% comment %} To sales agent {% endcomment %}

{% if contact.to_sales_agent_as_seeking_cooperation is True %}
    {% include 'leads/includes/badges/contacts/seeking_cooperation_from_sales_agent.html' %}
{% endif %}

{% if contact.to_sales_agent_as_sourcing_goods is True %}
    {% include 'leads/includes/badges/leads/sourcing_goods.html' %}
{% endif %}

{% if contact.to_sales_agent_as_other is True %}
    {% include 'leads/includes/badges/leads/other.html' %}
{% endif %}

{% comment %} To sourcing agent {% endcomment %}

{% if contact.to_sourcing_agent_as_seeking_cooperation is True %}
    {% include 'leads/includes/badges/contacts/seeking_cooperation_from_sourcing_agent.html' %}
{% endif %}

{% if contact.to_sourcing_agent_as_promoting_goods is True %}
    {% include 'leads/includes/badges/leads/promoting_goods.html' %}
{% endif %}

{% if contact.to_sourcing_agent_as_other is True %}
    {% include 'leads/includes/badges/leads/other.html' %}
{% endif %}

{% comment %} To logistics agent {% endcomment %}

{% if contact.to_logistics_agent_as_need_logistics is True %}
    {% include 'leads/includes/badges/leads/need_logistics.html' %}
{% endif %}

{% if contact.to_logistics_agent_as_other is True %}
    {% include 'leads/includes/badges/leads/other.html' %}
{% endif %}

{% comment %} To need logistics {% endcomment %}

{% if contact.to_need_logistics_as_logistics_agent is True %}
    {% include 'leads/includes/badges/leads/logistics_agent.html' %}
{% endif %}

{% if contact.to_need_logistics_as_other is True %}
    {% include 'leads/includes/badges/leads/other.html' %}
{% endif %}