{% comment %} 
    Only one of these badges apply, it describes the type of the lead.
{% endcomment %}
{% if lead.lead_type == 'buying' %}
    {% include 'leads/includes/badges/leads/sourcing_goods.html' %}
{% elif lead.lead_type == 'selling' %}
    {% include 'leads/includes/badges/leads/promoting_goods.html' %}
{% elif lead.lead_type == 'need_logistics' %}
    {% include 'leads/includes/badges/leads/need_logistics.html' %}
{% elif lead.lead_type == 'sourcing_agent' %}
    {% include 'leads/includes/badges/leads/sourcing_agent.html' %}
{% elif lead.lead_type == 'sales_agent' %}
    {% include 'leads/includes/badges/leads/sales_agent.html' %}
{% elif lead.lead_type == 'logistics_agent' %}
    {% include 'leads/includes/badges/leads/logistics_agent.html' %}
{% elif lead.lead_type == 'other' %}
    {% include 'leads/includes/badges/leads/other.html' %}
{% endif %}